md-toast(ng-class="[typeClass]")
    .md-toast-content
        .toast-body(layout="column", layout-align="start stretch")
            .toast-header(ng-if="headerText") {{ headerText }}
            .div(layout="row") 
                sk-icon(icon="{{icon}}", size-class="icon-size-16x16")
                span &nbsp;&nbsp;&nbsp; {{ message }}