.md-sidenav-right {
    display: flex;
    flex-direction: column;
    width: 299px;
    background-color: #222b34;

    z-index: 102;
}

.md-sidenav-backdrop {
    z-index: 101 !important;
    opacity: 0.98 !important; 
    background-image: linear-gradient(131deg, #2b3540, #1e262e) !important;
}