.sk-tooltip {
	height: auto;
	border-radius: 4px !important;
	background-color: #262f39 !important;
	border: solid 1px #303c49 !important;
	opacity: 1 !important;

	font-size: 14px !important;
	font-weight: 600 !important;
	line-height: 1.36 !important;

	padding: 16px !important;
}
