.sk-button {
	padding: 13px 74px;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	height: auto;

	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	outline: none;

	background: none;
	cursor: pointer;

	> span {
		text-transform: uppercase;
		user-select: none;
		color: #fff;

		&.primary {
			font-size: 16px;
			font-weight: 600;
			line-height: 1.5;
			letter-spacing: 0.7px;
			color: #ffffff;
		}

		&.secondary {
			opacity: 0.8;
			font-size: 14px;
			font-weight: 600;
			line-height: 0.86;
			letter-spacing: 0.6px;
			color: #0dc7dd;
		}

		&.small {
			font-size: 12px !important;
			opacity: 1 !important;
		}
	}

	&.small {
		padding: 5px 10px;
		border-color: #3b4a5a;

		> span {
			font-size: 12px;
			color: #93b0c1;
			padding-top: 3px;
		}

		&:hover {
			> span {
				color: #ffffff;
			}
		}
	}

	&.medium {
		height: 50px;
		padding: 14px 28px;
		border-color: #3b4a5a;

		border-radius: 4px;
		background-image: linear-gradient(318deg, #343f4c, #2e3945);
		box-shadow: 0 2px 2px 0 #15222e;

		> span {
			opacity: 0.4;

			font-size: 16px;
			font-weight: 600;
			line-height: 1.5;
			letter-spacing: 0.7px;
			color: #ffffff;
		}

		&:hover {
			background-image: linear-gradient(318deg, #08bccd, #2da1f8);
			border-style: solid;
			border-width: 1px;
			border-image-source: linear-gradient(342deg, #15d4e6, #48aefa);
			border-image-slice: 0;

			> span {
				opacity: 1;
				color: #ffffff;
			}
		}
	}

	&.filled-blue {
		background-image: linear-gradient(309deg, #08bccd, #2da1f8);
		box-shadow: 0 2px 2px 0 #15222e;
		border-image-source: linear-gradient(335deg, #15d4e6, #48aefa);
		border-image-slice: 0;
	}

	&.filled-gray {
		background-color: #435160;
	}

	&.outline-blue {
		border: solid 1px rgba(10, 187, 208, 0.5);

		&:hover {
			border: solid 1px rgba(3, 225, 250, 0.774);

			> span {
				&.secondary {
					color: #9beff8;
				}
			}
		}
	}

	&.orange-blue {
		border: 1px solid #db7400;

		&:hover {
			border: 1px solid #b44000;
		}
	}

	&.filled-red {
		background-color: #ed1c24;
	}
}
