.ico-list-content-wrappper

    .ico-list-content
        sk-ico-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"active", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')
        sk-ico-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"active", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')
        sk-ico-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"inactive", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')