.member-layout.transition-anim(layout="column", layout-fill, style="position: relative;")
    .toolbar(layout="row", layout-align="center center", ng-include="'member/toolbar.html'")
    .ico-list-content__toolbar
        .ico-list-content-wrappper.contents
            .ico-list-content.content(style="margin-right:625px;")
                .ico-list-items.top(layout='row')
                    section
                        .logo
                            img(src="assets/images/icons/plus.svg", alt="", style="height: 44px;")
                            span.fc-white &nbsp;&nbsp;&nbsp;Initial Coin Offerings
                    section
                        .logo(style="margin-left: 15px;")
                            img(src="assets/images/icons/plus.svg", alt="", style="height: 44px;")
                            span.fc-white &nbsp;&nbsp;&nbsp;Filter

        .ico-list-content-wrappper.contents
            .ico-list-content.content
                .ico-list-items.top(layout='row')
                    section
                        .statusName
                            span.fc-white &nbsp;&nbsp;&nbsp;Active ICOs
                    section
                        .statusName
                        span.fc-white &nbsp;&nbsp;&nbsp;Upcoming ICOs
                    section
                        .statusName
                        span.fc-white &nbsp;&nbsp;&nbsp;Ended ICOs4
    md-content.member-layout__content.sk-scrollbar(ui-view="main")