.md-padding(layout="row", layout-align="center center")
    .main-content
    .header-menu

        table.table.table-stripped
            thead
                tr
                    th Country
                    th Program
                    th Type
                    th Time to P.R
                    th Time to Cit
                    th best For
                    th Inv.Type
                    th Inv.Amount
                    th Min.An.Income
                    th Taxes
            tbody
                tr
                    td
                        | Andora
                    td
                        | Residency w/o gainful activity
                    td
                        | text
                    td
                        | text
                    td
                        | text
                    td
                        | text
                    td
                        | text
                    td
                        | text
                    td
                        | text
                    td
                        | text



    //.margin-top-3(layout="column")
        .marketplace-row(layout="row", layout-align="center center")
            span 1
            span 2
            span 3
            .hexagon-2.marketplace(layout="row", layout-align="center center")
                object(data="https://selfkey.org/assets/images/svgs/Path%201.svg", type="image/svg+xml")
                    img(src="https://selfkey.org/assets/images/svgs/Path%201.svg", style="width: 100px;")

                //img(src="https://selfkey.org/assets/images/svgs/Path%201.svg", style="width: 100px;")
