md-dialog {
    &.add-edit-static-data {
        min-width: 100%;
        min-height: 100%;
        background-image: linear-gradient(121deg, #1e262e, #1e262e);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >.content-wrapper {

            >.content {
                width: 760px;
                padding: 40px 15px 15px 15px;

                md-input-container {
                    width: 100%;
                    margin: 0;
                }
            }
        }

        >.actions-wrapper {
            width: 760px;
            margin-top: 24px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .md-button {
                width: 144px;
                padding: 0 16px;

                &:last-of-type {
                    margin-left: 16px;
                }
            }
        }
    }
}
