.id-wallet-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    >.center-container {
        width: 1140px;
        margin-top: 40px;

        .header-wrapper {
            width: 1140px;
        }

        .body-wrapper {
            width: 1140px;
            margin-top: 40px;

            .left-side-wrapper {
                width: 760px;

                .id-attributes {
                    margin-top: 20px;
                }
            }

            .right-side-wrapper {

            }
        }
    }
}
