.id-wallet-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    >.center-container {
        width: 1140px;
        margin-top: 40px;

        .header-wrapper {
            width: 1140px;

            span {
                font-family: ProximaNovaRegular;
                font-size: 18px;
                color: #768fa9;
            }

            md-icon {
                margin-left: 16px;
            }
        }

        .body-wrapper {
            width: 1140px;
            margin-top: 40px;

            .left-side-wrapper {
                width: 760px;

                .id-attributes {

                }
            }

            .right-side-wrapper {

            }
        }
    }
}
