.id-wallet-main {
    margin-top: 40px;

    .header-wrapper {

    }

    .body-wrapper {
        margin-top: 40px;

        .left-side-wrapper {
            .id-attributes {
                margin-top: 20px;
            }
        }

        .right-side-wrapper {

        }
    }

}
