.marketplace-exchange-list
    .center-container
        .header-wrapper
            .logo
                sk-icon(icon="exchanges-icon", size-class="icon-size-36x36")
            .title Exchanges
            .status(layout='row')
                span Your Staking Status
                .icon-container
                    md-icon(md-svg-src="$root.appendStaticPath('assets/images/icons/ic_help_outline_black_24px.svg" class="color-white")
                    .fixed-tooltip
                        |  <div> What is Staking? <br />
                        |  Staking acts similarly like <br />
                        |  a refundable security deposit. <br />
                        |  To learn more, click
                        span(ng-click="$root.openInBrowser('http://help.selfkey.org/selfkey-marketplace')") here...
                        </div>

                span :
                    .coming-soon Coming soon
        .body-wrapper
            ul
                li(ng-repeat='item in exchangesList')
                    .list-title(layout='row')
                        .title-logo
                            span.helper
                            img.logo-image(ng-src="{{item.data.logo[0].thumbnails.large.url}}", alt="")
                        .title-text   {{item.name}}
                    .list-body
                        .body-description(ng-bind-html="item.content + (item.data.description.length > 150 ? '...' : '')")
                        .buttons-section
                            md-button.gray(ui-sref="member.marketplace.exchange-item({data: item.data})")
                                span {{item.data ? 'View' : 'Coming Soon'}}
