h3.uppercase.color-primary KEYCHAIN
table.kyc-table(style="width: 85%;")
    thead
        tr
            th KEY TYPE
            th AMOUNT
            th PUBLIC KEY
            th SIGNED
    tbody
        tr.md-whiteframe-3dp(style="background-color: white;")
            td Ethereum
            td 0
            td (Carlos to send)
            td
                .kyc-status-box.white yes
        tr.md-whiteframe-3dp(style="background-color: white;")
            td Bitcoin
            td 70.1
            td 3CCCXfH874ronv1uGKkCMDgW2ffLBQScro
            td
                .kyc-status-box.red no
    tfoot
        tr
            td(colspan="6")
                div(layout="row", layout-align="start start")
                    .kyc-button.primary(layout="row", layout-align="center center") 
                        span.margin-right-2 Open new cryptocurrency exchange account
                        i.material-icons add_circle