.wallet-setup(layout='column', layout-align='center center', style="z-index: 100;")
    .headline(layout='column', layout-align='start start')
        .title Setup Identity Wallet
        .text
            | You will need to either setup a Basic ID for your Identity Wallet or if you completed the KYC on the SelfKey.org website to
            | join the token sale, simply upload the file we provided.

    .main(layout='column', layout-align='center center')
        .content
            .container(layout='row', layout-align='center center')
                sk-icon(icon='upload-1', size-class="icon-size-43x35")
                .textual
                    .title Upload KYC File
                    .text
                        | If you completed KYC on the SelfKey.org website, you were
                        | provided with a file, which you can upload here. This file
                        | allows you to skip the Basic ID process.
                    .actions
                        md-button.md-raised(ng-click="importIdentity($event)") Upload KYC File
                    .errors(ng-if="error === 'kyc_import'", style="margin-top: 16px; width: 491px; font-size: 14px; line-height: 18px;")
                        span(style="color: #ed1c24; font-family: ProximaNovaRegular;") Error: ETH address in the KYC file does not match this wallet. Please restart and import the wallet you used in KYC. Visit&nbsp;
                        span(style="color: #0dc7dd; font-family: ProximaNovaRegular; cursor: pointer", ng-click="$root.openInBrowser('https://help.selfkey.org')") https://help.selfkey.org 
                        span(style="color: #ed1c24; font-family: ProximaNovaRegular;") &nbsp;for more info.
                    .errors(ng-if="error === 'store_save'", style="margin-top: 16px; width: 491px; font-size: 14px; line-height: 18px;")
                        span(style="color: #ed1c24; font-family: ProximaNovaRegular;") Error: while saving data
