.setup-completed(layout-fill, layout="column", layout-align="center center", style="z-index: 100;")
    .container(layout="row")
        .left-side-container
            .item 
                .title SelfKey
                .description 
                    | SelfKey is a Blockchain based digital identity system that allows individuals and companies to tryly own,
                    | control and manage thear digital identity, and instantly access out network. 
                .border-bottom
            .item 
                .title Get Selfkey Tokens
                .description 
                    | SelfKey Tokens give you access to out marketplace, they allow you to "stake your identity" with SelfKey Tokens,
                    | which speeds up the verifications process for things you apply to in the SelfKey network such as exchanges and token sales. 
                button.btn(ng-click="$root.goToSelfkeyIco($event)") Get KEY Tokens    
                .border-bottom
            .go-to#goToDashboard(ui-sref="member.dashboard.main")
                span.my-dash Go to My Selfkey Dashboard
        .right-side-container 
            sk-user-info-box        