.setup-step-1(layout-fill, layout="column", layout-align="center center")
    sk-icon(icon="selfkey", size-class="icon-size-57x65")
    .sk-white-header-text(style="margin-top: 24px; user-select: none; font-family: ProximaNovaSemibold;") SELFKEY BASIC ID
    .sk-blue-subheader-text(style="margin-top: 15px; user-select: none; font-family: ProximaNovaRegular;") Fill in the basic details of your identity wallet.

    #message-container(layout="column", layout-align="center center" style="width: 400px; height: 48px;")

    .sk-box.shadowed(style="width: 400px;")
        .header
            span.none-select-text Identity Wallet Details
        form.content(name="basicInfoForm", layout="column", style="padding: 24px;")
            md-input-container.sk-input-box
                label {{$root.DICTIONARY[$root.INITIAL_ID_ATTRIBUTES.REQ_1.attributeType]}}
                input(type="text", name="{{$root.INITIAL_ID_ATTRIBUTES.REQ_1.attributeType}}", ng-model="$root.initialSetupProgress[$root.INITIAL_ID_ATTRIBUTES.REQ_1.attributeType][$root.INITIAL_ID_ATTRIBUTES.REQ_1.id].value")
            md-input-container.sk-input-box
                label {{$root.DICTIONARY[$root.INITIAL_ID_ATTRIBUTES.REQ_2.attributeType]}}
                input(type="text", name="{{$root.INITIAL_ID_ATTRIBUTES.REQ_2.attributeType}}", ng-model="$root.initialSetupProgress[$root.INITIAL_ID_ATTRIBUTES.REQ_2.attributeType][$root.INITIAL_ID_ATTRIBUTES.REQ_2.id].value")
            md-input-container.sk-input-box
                label {{$root.DICTIONARY[$root.INITIAL_ID_ATTRIBUTES.REQ_3.attributeType]}}
                md-select.sk-select(name="{{$root.INITIAL_ID_ATTRIBUTES.REQ_3.attributeType}}", ng-model="$root.initialSetupProgress[$root.INITIAL_ID_ATTRIBUTES.REQ_3.attributeType][$root.INITIAL_ID_ATTRIBUTES.REQ_3.id].value")
                    md-option(ng-value="item.name", ng-repeat="(key, item) in countries") {{item.name}}
            .sk-button.filled-blue(style="margin: 12px 0 12px 0;", ng-click="nextStep($event, basicInfoForm)")
                span(style="color: #fff; user-select: none;") Create SelfKey Basic ID
    .sk-hyperlink.sk-text(style="margin-top: 32px; color: #fff;", ng-click="$root.skipInitialIdAttributesSetup($event)") I'll do that later

