div(layout-fill, layout="column", layout-align="center center")
    img(src="assets/images/icons/important.svg", alt="")
    .sk-box.shadowed(style="width: 780px; margin-top: 50px;")
        .header 
            span.none-select-text Please Keep Your Private Keys Safe
        .content(layout="column", style="padding: 24px;")
            div(layout="column")
                span.sk-text Do not lose it! It cannot be recovered if you lose it.
                span.sk-text Your private keys grant access to your crypto assets on the blockchain. Be very careful, make a backup, and keep it secure from malicious or phishing sites.
                span.sk-text Make a backup! Secure it like the millions of dollars it may one day be worth.

            .sk-input-container(style="margin: 12px 0 12px 0;")
                input.sk-input(type="{{privateKeyInputType}}", name="privateKey", value="{{$root.wallet.getPrivateKeyHex()}}", disabled)
            
            .sk-button.filled-blue(style="margin: 12px 0 12px 0;", ng-click="togglePrivateKeyVisibility()")
                span(style="color: #fff") {{showPrivateKey ? 'Hide private key' : 'Show private key'}}
            .sk-button.outline-blue(style="margin: 12px 0 48px 0;", ui-sref="member.setup.choose")
                span(style="color: #fff") Continue