.wallet-setup(layout='column', layout-align='center center')
    .headline(layout='column', layout-align='start start')
        .title Setup Identity Wallet
        .text
            | You will need to either setup a Basic ID for your Identity Wallet or if you completed the KYC on the SelfKey.org website to
            | join the token sale, simply upload the file we provided.

    .main(layout='column', layout-align='center center')
        .content
            .container(layout='row', layout-align='center center')
                img(src='assets/images/icons/selfkey.svg')
                .textual
                    .title Create Basic Id
                    .text
                        | Set up the SelfKey Basic ID. This will form the basis of your locally managed and stored Identity System.
                    md-button.md-raised Create Selfkey Basic Id

        hr
        .content
            .container(layout='row', layout-align='center center')
                img(src='assets/images/icons/selfkey.svg')
                .textual
                    .title Upload KYC File
                    .text
                        | If you completed KYC on the SelfKey.org website, you were
                        | provided with a file, which you can upload here. This file
                        | allows you to skip the Basic ID process.
                    md-button.md-raised Upload KYC File

