.sk-alerts-box {
    border-radius: 4px;
	background-color: #262f39;
    border: solid 1px #303c49;
    padding: 0 30px;

    flex-direction: column;
    
    .sk-alerts-box__title {
        font-family: ProximaNovaRegular;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
    }

    .sk-alerts-box__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: ProximaNovaRegular;
        font-size: 18px;

        .sk-alerts-box__item__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-top: 36px;
            border-bottom: 1px solid #384047;
            padding-bottom: 30px;
            width: 100%;
            font-size: 16px;
            outline: none;

            .sk-alerts-box__item__header__date {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .sk-icon {
                margin-left: 20px;
            }

            .sk-alerts-box__item__header__text {
                margin-left: 10px;

                span {
                    margin-left: 10px;
                }
            }
        }
    }
}