.sk-circle-pie-chart {
  * {
    font-family: ProximaNovaRegular;
  }
  .active {
    border-radius: 4px;
    box-shadow: 0px 0px 5px 1px #0dc7dd;
    outline-width: 0;
    border: none;
  }
  #chart {
    width: 280px; 
    height: 280px;
  }
  .chart-parent {
    margin-right: 74px;
    position: relative;
  }
  .chart-center-container {
      position: absolute;
      text-align: center;
      cursor: default;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .tolalPrice  {
          font-size: 30px;
          font-weight: 300;
          text-align: center;
          color: #ffffff;
        }
      .totalPriceTitle {
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
        color: #93b0c1;
      }     
  }

  .details-container {
    .value {
      margin-left: 53px;
      font-size: 18px;
      text-align: left;
      color: #ffffff;
    }
    table:not(:first-child) {
      margin-left: 76px; 
    }
    table {
      padding-left: 2px;
      border-spacing: 0 30px;
      tr {
        padding: 4px;
      }
    }
  }
  
  .item {
    * {
      cursor: default;
    }

    td {
      padding: 7px;
      vertical-align: top;
    }
   
    .sk-icon {
      margin-right: 12px;
    }
    .title {
      .titleFull {
        font-size: 18px;
        text-align: left;
        color: #ffffff;
      }
      .titleSmall {
        opacity: 0.7;
        margin-top: 4px;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: left;
        color: #ffffff;
      }
    }
    .animated {
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
   }

    @-webkit-keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
   }
   
   @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
   }
   
   .fadeIn {
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
   }
     
  }
  
 
  @media screen and (max-width: 1000px) {
    details-container  {
      margin-top: 18px;      
    }
    .chart-parent {
      margin-right: 27px;
    }
    .details-container {
      .value {
        font-size:16px;
        margin-left: 20px;
       
      }
      table:not(:first-child) {
        margin-left: 22px; 
      }
      table {
        border-spacing: 0 18px;
      }
    }
    .item {
      td {
        padding: 6px;
      }
      .sk-icon {
        margin-right: 10px;
      }
      .title {
        .titleFull {
          font-size: 16px;
        }
        .titleSmall {
          margin-top: 3px;
          font-size: 12px;
          letter-spacing: 1px;
        }
      }
    }
   
  }
}