.sk-ico-item-box {
    padding: 0;
    min-width: 360px;
    display: flex;
    flex-direction: column;

    min-height: 330px;

    .sk-ico-item-box__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: inherit;

        padding: 16px 30px;

        span {
            font-family: ProximaNovaRegular; 
            font-size: 20px; 
            line-height: 1.8; 
            color: #ffffff; 
            margin-left: 16px;
        }
        .dot {
            height: 14px;
            width: 14px;
            border-radius: 50%;
            &.active{
                background-color: #1ed43b;
            }
            &.inactive{
                background-color: #d9534f;
            }
            &.upcoming{
                background-color: #f0ad4e;
            }
        }
    }

    .sk-ico-item-box__content {
        padding: 30px;

        table {
            font-family: ProximaNovaRegular;
            font-size: 16px;
            line-height: 2.25;
            color: #ffffff;
        }

        .description{
            p{
                font-weight: 400;
                letter-spacing: 0.010em;
                line-height: 1.6em;
                margin: 0.8em 0 1.6em;
            }
        }
      .price {
        font-size: 15px;
        color: white;
      }
    }

    .sk-ico-item-box__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        padding: 0 30px 30px 30px;

        .days{
            margin-left: 36px;
            font-family: ProximaNovaRegular;
            font-size: 13px;
            color: #93b0c1;
            padding-top: 3px;
        }

    }
}