.marketplace-exchange-list-container {
	.back {
		margin: 20px 0 0 20px;
		height: auto !important;
		span {
			font-size: 13px;
		}
	}
	.marketplace-exchange-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		.md-button {
			margin-top: 10px;
			height: auto;
		}

		> .center-container {
			.header-wrapper {
				width: 1140px;
				height: 120px;
				border-bottom: solid 1px #475768;

				.logo {
					float: left;
					margin-top: 30px !important;

					.sk-icon {
						margin-left: 19px;
						margin-top: 4px;
					}

					&:before {
						content: '';
						position: absolute;
						z-index: 1;
						width: 53.74px;
						height: 53.74px;
						-webkit-transform: scaleY(0.5774) rotate(-45deg);
						-ms-transform: scaleY(0.5774) rotate(-45deg);
						transform: scaleY(0.5774) rotate(-45deg);
						background-color: inherit;
						left: 10.1299px;
						top: -26.8701px;
						border-top: solid 1.4142px #475768;
						border-right: solid 1.4142px #475768;
					}
					&:after {
						content: '';
						position: absolute;
						z-index: 1;
						width: 53.74px;
						height: 53.74px;
						-webkit-transform: scaleY(0.5774) rotate(-45deg);
						-ms-transform: scaleY(0.5774) rotate(-45deg);
						transform: scaleY(0.5774) rotate(-45deg);
						background-color: inherit;
						left: 10.1299px;
						bottom: -26.8701px;
						border-bottom: solid 1.4142px #475768;
						border-left: solid 1.4142px #475768;
					}
				}

				.title {
					width: 124px;
					height: 36px;
					font-size: 26px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.38;
					letter-spacing: normal;
					text-align: left;
					color: #ffffff;

					margin-top: 30px;
					margin-left: 20px;
					float: left;
				}
				.status {
					color: #768fa9;
					font-size: 16px;

					float: right;
					margin-top: 43px;

					> span {
						color: #ffffff;
						display: flex;

						.coming-soon {
							color: #f5a623;
							margin-left: 3px;
						}
					}

					.icon-container {
						position: relative;
						display: inline-block;

						&:hover {
							.fixed-tooltip {
								visibility: visible;
								opacity: 1;

								> div {
									text-align: left;
								}
							}
						}

						md-icon {
							padding-left: 5px;
							height: 16px !important;
							width: 16px !important;
							min-height: 16px !important;
							min-width: 16px !important;
						}
					}
				}
			}
			.body-wrapper {
				width: 1140px;

				ul {
					list-style-type: none;
					width: 1140px;
					padding: 0;

					li {
						width: 360px;
						height: 312px;
						border-radius: 4px;
						background-color: #262f39;
						border: solid 1px #303c49;
						font-size: 16px;

						float: left;
						margin-right: 27px;
						margin-top: 30px;

						.list-title {
							width: 360px;
							height: 76px;
							background-color: #2a3540;
							box-shadow: inset 0 -1px 0 0 #374758;

							.title-logo {
								margin-left: 30px;

								.helper {
									display: inline-block;
									height: 100%;
									vertical-align: middle;
								}

								img {
									max-width: 60px;
									vertical-align: middle;
								}
							}
							.title-text {
								height: 36px;

								font-size: 20px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.8;
								letter-spacing: normal;
								text-align: left;
								color: #ffffff;
								margin-left: 12px;
								margin-top: 20px;
								word-break: break-all;
							}
						}
						.list-body {
							height: 224px;
							width: 360px;
							font-size: 16px;

							color: #ffffff;

							.body-description {
								word-break: break-word;
								padding: 30px 30px 0 30px;
								height: 144px;
								line-height: 1.88;

								p {
									margin: 0;
								}
							}
							.buttons-section {
								.md-button {
									min-height: 24px !important;
									min-width: 50px !important;
									line-height: 24px !important;
									border-radius: 4px;
									border: solid 1px #3b4a5a;
									background-color: #262f39;
									margin-left: 24px;
									margin-top: 24px;

									span {
										width: 29px;
										height: 14px;

										font-size: 12px;
										font-weight: normal;
										font-style: normal;
										font-stretch: normal;
										line-height: normal;
										letter-spacing: normal;
										text-align: left;
										color: #93b0c1;
									}
								}
							}
						}
					}

					li:nth-child(3n + 3) {
						margin-right: 0 !important;
					}
				}
			}
		}
	}
}
