.marketplace {
	display: flex;
	justify-content: center;
	.center {
		padding-top: 78px;
		width: 1140px;
	}
	.center-small {
		margin-top: 50px;
		width: 780px;
	}

	h3 {
		padding-bottom: 20px;
	}
}
