.sk-box.sk-id-attribute
    .header-wrapper
        .title-wrapper
            span.title-main {{ data.type }}
            .add-button(ng-click="addNewItem($event)", ng-if="config.features.itemAdd")
                md-icon(md-svg-src="assets/images/icons/plus.svg", alt="Add another item")
                md-tooltip Add another item
        .description-wrapper
            span Acceptable documents
            span.fc-white You can upload documents which at least contain your personal number, first name, last name, birth date and photo

    .body-wrapper
        .documents-wrapper(ng-repeat="(key, item) in items")
            .title-wrapper
                span.title-main {{itAttributeType.type}}
                .add-button(ng-click="openValueAddDialog($event, item)", ng-if="config.features.multipleValues")
                    md-icon(md-svg-src="assets/images/icons/plus.svg", alt="Add another value")
                    md-tooltip Add another value
                .delete-button(ng-click="openItemDeletePanel($event, item)", ng-if="config.features.multipleValues && getItemsCount() > 1")
                    md-icon(md-svg-src="assets/images/icons/warning-box.svg", alt="Delete file")
                    md-tooltip Delete value

            .content-wrapper(ng-if="item.values.length")
                .item-wrapper(ng-repeat="value in item.values")
                    sk-icon(icon="success-box", size-class="icon-size-16x16")
                    .title {{extractValue(value)}}
                    .actions
                        .edit-button(ng-click="openValueEditDialog($event, item, value)")
                            md-icon(md-svg-src="assets/images/icons/warning-box.svg", alt="edit file")
                        .delete-button(ng-click="openValueDeletePanel($event, item, value)", ng-if="isItemValueDeleteAvailable(item)")
                            md-icon(md-svg-src="assets/images/icons/close-button.svg", alt="delete file")

        .history-wrapper(ng-if="config.features.history")
            .title-wrapper
                span History

            .content-wrapper
                .item-wrapper(ng-repeat="item in history")
                    // date
                    // icon
                    // title
                    // text
                    // action

            .actions-wrapper
                // button
