.value-delete-panel
    .header-wrapper
        span Delete Attribute and History
        md-icon(md-svg-src="assets/images/icons/close-dialog.svg")
    .content-wrapper
        span You are deleting this ID Attribute and all related history. Once deleted, you cannot recover the history.
    .actions-wrapper
        md-button.red
            span.fs13 Delete Attribute
        md-button(ng-click="cancel($event)")
            span.fs13 Cancel Action



