.content
    .address-content(layout="column")
        md-input-container.sk-input-box.sk-input-non-floating.small-margins
            label Street Address 1
            input(name="address1", type="text", ng-model="inputs.line1", ng-required="true")
            div(ng-messages="theForm.address1.$error")
                div(ng-message="required") This field is required. Please enter Street Address 1
        md-input-container.sk-input-box.sk-input-non-floating.small-margins
            label Street Address 2
            input(name="address2", type="text", ng-model="inputs.line2")
        md-input-container.sk-input-box.sk-input-non-floating.small-margins
            label city
            input(name="city", type="text", ng-model="inputs.line3", ng-required="true")
            div(ng-messages="theForm.city.$error")
                div(ng-message="required") This field is required. Please enter City
        md-input-container.sk-input-box.sk-input-non-floating.small-margins
            label State/Province/Region
            input(name="region", type="text", ng-model="inputs.line4", ng-required="true")
            div(ng-messages="theForm.region.$error")
                div(ng-message="required") This field is required. Please enter State/Province/Region
        md-input-container.sk-input-box.sk-input-non-floating.small-margins
            label Zip/Postal Code
            input(name="code", type="text", ng-model="inputs.line5", ng-required="true")
            div(ng-messages="theForm.code.$error")
                div(ng-message="required") This field is required. Please enter Zip/Postal Code
        md-input-container.sk-input-box.sk-input-non-floating.small-margins.hide-input-invalid-mark
            label Country
            md-select.sk-select(name="country", ng-model="inputs.line6", ng-required="true", ng-keydown="ignoreEnterKey($event)")
                md-option(ng-value="item.name", ng-repeat="(key, item) in countryList") {{item.name}}
            div(ng-messages="theForm.country.$error")
                div(ng-message="required") This field is required. Please enter Country

.address-actions-wrapper
    md-button.outline-gray(ng-click="close($event)")
        span.primary cancel
    md-button.blue(ng-click="save($event, theForm)", ng-disabled="isFormInvalid(theForm)", sk-button-loading="savePromise.$$state.status")
        span.primary save




