# IDEA
**/.idea/
**/target/
**/*.iml

# Ignore Mac DS_Store files
.DS_Store

**/package-lock.json
**/node_modules/

**/*.log

wallet-web-app/dist/
wallet-web-app/src/app-bundle.js
wallet-web-app/src/angular/app.templates.js
wallet-web-app/src/stylesheets/css/**/*.css

desktop-app/config.electron.js
./app/src/angular/app.templates.js
./app/src/stylesheets/css

release
.vscode

out/
