# IDEA
**/.idea/
**/target/
**/*.iml

# Ignore Mac DS_Store files
.DS_Store

**/package-lock.json
**/node_modules/

**/*.log

app/src/app-bundle.js
app/src/angular/app.templates.js
app/src/stylesheets/css/*
app/src/stylesheets/css/main.css

release
.vscode

out/

client-secret.json
