# IDEA
**/.idea/
**/target/
**/*.iml

# Ignore Mac DS_Store files
.DS_Store

**/package-lock.json
**/node_modules/

**/*.log

app/src/app-bundle.js
app/src/angular/app.templates.js
app/src/stylesheets/css/*
app/src/stylesheets/css/main.css

release
.vscode

out/
dist/

src/renderer/angular/app.templates.js
static/stylesheets/css/main.css
static/stylesheets/css/*
storybook-static/

client-secret.json
**/.env
.history
junit.xml
IdentityWalletStorage.sqlite
test-db*
