image: Visual Studio 2017
environment:
  OSENV: windows
  OUTPUT: 'C:\projects\identity-wallet\sk-windows-' + $APPVEYOR_BUILD_VERSION + '.zip'
platform:
  - x64
init:
  - git config --global core.autocrlf input
install:
  - ps: Install-Product node 9 x64
  - npm i -g --production windows-build-tools
  - npm config set msvs_version 2015 --global
  - set PATH=C:\Ruby22\bin;%PATH%
  - gem install sass compass
  - npm i --global yarn
  - npm i --no-prune
build_script:
  - yarn dist
#test_script:
#  - npm run test
after_test:
  - ps: . C:\projects\identity-wallet\compress.ps1 -output $OUTPUT
  - appveyor PushArtifact $OUTPUT