environment:
  nodejs_version: "9"
  NODE_ENV: test
  OSENV: windows
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install
  - npm run make-auto
test_script:
  - node --version
  - npm --version
  - npm run test
build: on
