'use strict';

const AppConfigConstant = {
    "APP_NAME": "<%app.name%>",
    "APP_TITLE": "<%app.title%>",
    "API_ENDPOINT": "<%API_ENDPOINT%>",
    "DEFAULT_LANGUAGE": "<%DEFAULT_LANGUAGE%>",
    "DEBUG": "<%DEBUG%>"
};

export default AppConfigConstant;