md-dialog(aira-lable="Add Custom Tokens")
    sk-icon.close-btn(icon="close-button", size-class="icon-size-20x20", ng-click="cancel($event)")
    .add-custom-token-container
        div(layout-fill, layout="column", layout-align="center center")
            sk-icon(icon="currency", size-class="icon-size-57x65")
            .header-text Add Custom Tokens
            .sub-header-text
                | Add ERC20 tokens to be displayed in the dashboard. After entering the token address,
                | the wallet will verify it exists on the blockchain and auto-fill the remaining information of ticker and decimals.

            .sk-box.shadowed.form-container
                .header
                    span.none-select-text Add Token
                form.content.input-form(layout="column",name="theForm")
                    .sk-input-container
                        div(layout="row")
                            label Token Address
                            button.sk-icon-button.fixed-tooltip-container
                                .fixed-tooltip
                                        | <div style="text-align:center;"> Every ERC-20 token has its own smart contract <br />
                                        | address. To learn more, <span style="color: #0dc7dd !important;"> click here. </span> </div>
                                sk-icon(icon="info-italic", size-class="icon-size-15x15")
                            .looking-contract-info-container(ng-if="lookingContractIntoBlockain") 
                                .wave
                                    span.dot
                                    span.dot
                                    span.dot
                                span Please wait. Checking the blockchain for ERC-20 token information.
                        
                        input.sk-input(type="text", ng-class="{'error-field': tokenDoesNotExists, 'success-field': formDataIsValid(theForm)}", ng-disabled="inProgress", name="contractAddress", ng-model="formData.contractAddress", ng-maxlength="500", ng-required="true")
                        sk-icon.address-green-check(icon="check-bold", size-class="icon-size-20x15",ng-if="formDataIsValid(theForm)")
                        .sk-error-tooltip.right(ng-if="tokenDoesNotExists", style="top: -27px;") 
                            span Token contract does not exist. Please double check and try again
                        div(ng-messages="theForm.contractAddress.$dirty && theForm.contractAddress.$error")
                            div(ng-message="maxlength") The Address has to be less than 1000 characters long.
                            div(ng-message="required") This field is required. Please enter Address.
                    .sk-input-container
                        label token symbol
                        input.sk-input(type="text", disabled , name="symbol", ng-model="formData.symbol", ng-maxlength="500", ng-required="true")
                        div(ng-messages="theForm.symbol.$dirty && theForm.symbol.$error")
                            div(ng-message="maxlength") The Token Symbol has to be less than 1000 characters long.
                            div(ng-message="required") This field is required. Please enter Token Symbol.
                    .sk-input-container
                        label decimal places
                        input.sk-input(type="number", disabled , name="decimalPlaces", ng-model="formData.decimalPlaces", ng-required="true")
                        div(ng-messages="theForm.decimalPlaces.$dirty && theForm.decimalPlaces.$error")
                            div(ng-message="required") This field is required. Please enter Token Symbol.

                    md-button.sk-button.add-custom-token-btn(sk-button-loading="inProgress", ng-click="addCustomToken($event,theForm)")
                        span.primary Add custom token
