md-dialog.add-id-attribute(aria-label="Add ID Attribute")

    .content-wrapper
        .header-section
            md-icon(md-svg-src="assets/images/icons/add-property.svg")
            span.title Add ID Attribute
            span.subtitle Select the type of attribute you would like to add to your identity wallet. 
        .sk-box.shadowed
            .header
                span.none-select-text Add Attribute
            form.content
                md-input-container(style="width: calc(100% - 80px); margin: 44px 40px;")
                    md-select.sk-select(ng-model="someModel")
                        md-option(value="opt 1") Name
                        md-option(value="opt 2") Public Key
                        md-option(value="opt 3") Physical Address
                        md-option(value="opt 4") Work Place
                        md-option(value="opt 5") Date Of Birth
                        md-option(value="opt 6") Nationality
                        md-option(value="opt 7") Tax Identification Number
                        md-select-header
                            span
                        md-option(value="opt 8") Passport
                        md-option(value="opt 9") Driver's License
                        md-option(value="opt 6") National ID Card
                        md-option(value="opt 6") Utility Bill
                        md-option(value="opt 6") Bank Statement
                        md-option(value="opt 6") Tax Certificate
                        md-select-header
                            span
                        md-option(value="opt 4") Telephone Number - Country Code
                        md-option(value="opt 5") Telephone Number
                        md-option(value="opt 6") Selfie
                        md-select-header
                            span
                        md-option(value="opt 4") Facebook Account
                        md-option(value="opt 5") Twitter Account
                        md-option(value="opt 6") Github Account