md-dialog(aira-lable="Add Custom Token")
    sk-icon.close-btn(icon="close-button", size-class="icon-size-20x20", ng-click="cancel($event)")
    .add-custom-token-container
        div(layout-fill, layout="column", layout-align="center center")
            sk-icon(icon="currency", size-class="icon-size-57x65")
            .header-text Add Custom Token
            .sub-header-text Add ERC20 tokens to your SelfKey Wallet. you will need the token address (smart contract), symbol and decimal value.  

            .sk-box.shadowed.form-container
                .header
                    span.none-select-text Add Token
                form.content.input-form(layout="column",name="theForm")
                    .sk-input-container
                        div(layout="row") 
                            label Address
                            button.sk-icon-button
                                md-tooltip.sk-tooltip(md-direction="top")
                                        | <div style="text-align:center;"> You can find the <br />
                                        | address of your token <br /> 
                                        | by visiting  <span style="color: #0dc7dd !important;"> ethlorer </span> </div>
                                sk-icon(icon="info-italic", size-class="icon-size-15x15") 
                                
                        input.sk-input(type="text", name="contractAddress", ng-model="formData.contractAddress", ng-maxlength="500", ng-required="true")
                        div(ng-messages="theForm.contractAddress.$dirty && theForm.contractAddress.$error")
                            div(ng-message="maxlength") The Address has to be less than 1000 characters long.
                            div(ng-message="required") This field is required. Please enter Address.
                    .sk-input-container
                        label token symbol
                        input.sk-input(type="text", disabled , name="symbol", ng-model="formData.symbol", ng-maxlength="500", ng-required="true")
                        div(ng-messages="theForm.symbol.$dirty && theForm.symbol.$error")
                            div(ng-message="maxlength") The Token Symbol has to be less than 1000 characters long.
                            div(ng-message="required") This field is required. Please enter Token Symbol.
                    .sk-input-container
                        label decimal places
                        input.sk-input(type="number", disabled , name="decimalPlaces", ng-model="formData.decimalPlaces", ng-required="true")
                        div(ng-messages="theForm.decimalPlaces.$dirty && theForm.decimalPlaces.$error")
                            div(ng-message="required") This field is required. Please enter Token Symbol.

                    md-button.sk-button.add-custom-token-btn(ng-disabled="!formDataIsValid(theForm) || inProgress", ng-click="addCustomToken($event,theForm)") Add custom token