md-dialog.add-edit-static-data(aira-lable="{{idAttributeType.type}}")
    .content-wrapper.sk-box
        .content(layout="column")
            md-input-container.sk-input-box.sk-input-non-floating
                label {{idAttributeType.type}}
                input(name="input", type="text", ng-model="input")

    .actions-wrapper
        md-button.outline-gray(ng-click="close($event)")
            span.primary cancel
        md-button.blue(ng-click="save($event)")
            span.primary save
