md-dialog.add-edit-static-data(aira-lable="{{idAttributeType}}")
    .content-wrapper.sk-box
        .content(layout="column")
            md-input-container.sk-input-box.sk-input-non-floating
                label {{$root.DICTIONARY[idAttributeType]}}
                input(name="input", type="text", ng-model="input", ng-change="showErrorToast(input)")

    .actions-wrapper
        md-button.outline-gray(ng-click="close($event)")
            span.primary cancel
        md-button.blue(ng-click="save($event)", ng-disabled="input.length == 0")
            span.primary save
