md-dialog.choose-ledger-address-container(aira-lable="Connecting to Ledger")
    .main-container
        .header-conainer
            sk-icon.close-btn(icon="close-dialog", size-class="icon-size-36x36", ng-click="cancel($event)")
        .body-container
            .header-title Choose A Ledger Address
            .choose-title Select an Ethereum (ETH) address you would like to use:
            .grid-container
                md-radio-group(ng-model="selectedAddress")
                    table
                        thead
                            tr
                                td
                                td Your Address
                                td Balance
                                td Token Balaces
                        tbody
                            tr(ng-repeat="account in currentAccounts")
                                td 
                                    md-radio-button.radio-button(ng-value="account.address") 
                                td {{account.address}}
                                td {{account.balanceEth || '0 ETH'}}
                                td
                                    span.view-link(ng-click="$root.openInBrowser('https://etherscan.io/address/' + account.address)") View on Etherscan
                .pager-container(layout="row", layout-align="space-between start")
                    .pager-action-item
                        .container
                            span(ng-disabled="loadingBalancesIsInProgress.any" ng-click="getAccountsWithBalances(false)", ng-if="pagerStart > 0") < Previous Addresses
                            .wave(ng-if="pagerStart > 0 && loadingBalancesIsInProgress.previous")
                                span.dot
                                span.dot
                                span.dot 
                    .pager-action-item
                        .container
                            .wave(ng-if="loadingBalancesIsInProgress.next")
                                span.dot
                                span.dot
                                span.dot 
                            span(ng-disabled="loadingBalancesIsInProgress.any", ng-click="getAccountsWithBalances(true)") More Addresses >

            
            .buttons-row(layout="row", layout-align="end start")
                .buttons-container
                    md-button.gray.md-ink-ripple(ng-click="cancel($event)")
                        span.primary Cancel
                    md-button.gray.md-ink-ripple(ng-click="chooseAccount()", ng-disabled="!selectedAddress")
                        span.primary USE SELECTED ADDRESS
