md-dialog.confirm-ledger-tx-info-container(aira-lable="")
    .main-container
        .body-container
            .header-title Confirm Transaction on Ledger
            .items 
                .item You have 30 seconds to confirm this transaction on the Ledger or it will time out and automatically cancel.