md-dialog.ledger-is-connecting-container(aira-lable="Connecting to Ledger")
    .main-container
        .header-conainer
            sk-icon.close-btn(icon="close-dialog", size-class="icon-size-36x36", ng-click="cancelConectToLedger($event)")
        .body-container
            .header-title {{isConnecting ? 'Connecting To Ledger...' : "Error: Can't Connect To Ledger"}}
            .items(ng-if="isConnecting") 
                .title To ensure a successful connection, please check if:
                .item 1) Your Ledger is properly plugged in.
                .item 2) You have entered the PIN and logged in.
                .item 3) The Ethereum application is open.
                .item 4) "Browser Support" is disabled in Ledger settings.
            .items(ng-if="!isConnecting")
                .item 1) Is your Ledger is properly plugged in?
                .item 2) Have you entered the PIN and logged in?
                .item 3) Is the Ethereum application open?
                .item 4) Is "Browser Support" disabled in Ledger settings?
            .buttons-container.small-padding-top(ng-if="isConnecting")
                md-button.gray.md-ink-ripple.cancal-btn(ng-click="cancelConectToLedger($event)")
                    span.primary close
            .buttons-container(ng-if="!isConnecting")
                md-button.gray.md-ink-ripple.cancal-btn(ng-click="cancelConectToLedger($event)")
                    span.primary BACK
                md-button.gray.md-ink-ripple.cancal-btn(ng-click="connectToLedger($event)")
                    span.primary TRY AGAIN
