md-dialog.document-preview(aira-lable="Document Preview")
    .document-preview-wrapper
        //iframe(src="{{ pdfUrl }}", ng-if="pdfUrl")
        <object data="{{ pdfUrl }}" type="application/pdf">
            <embed src="{{ pdfUrl }}" type="application/pdf" />
        </object>
        //data="documentUnit8array",
        //ng-pdf(template-url="common/dialogs/viewer.html")
        //canvas#pdf-canvas(ng-if="pdfUrl")
