md-dialog(aira-lable="Edit Tokens")
    sk-icon.close-btn(icon="close-button", size-class="icon-size-20x20", ng-click="cancel($event)")
    .edit-tokens-contaner
        div(layout-fill, layout="column", layout-align="center center")
          sk-icon(icon="currency", size-class="icon-size-57x65")
          .header-text Edit Tokens
          .grid-container
              table
                  thead
                      tr
                          td Token Symbol
                          td Last Price
                          td Balance
                          td Total Value
                          td Address
                          td

                  tbody
                      tr(ng-repeat="token in walletTokens")
                          td {{token.symbol}}
                          td {{token.lastPrice}}
                          td {{token.balance}}
                          td {{token.totalValue}}
                          td {{token.contractAddress}}
                          td
                              sk-icon(ng-if="isDeletable(token)", ng-click="deleteCustomToken(token,$index)", icon="ic_delete_white_24px", size-class="icon-size-19x23")