md-dialog.id-wallet-info(aira-lable="{{title}}")
    .id-wallet-info-wrapper
        sk-icon(icon="close-dialog", size-class="icon-size-36x36", style="position: absolute; right: -18px; top: -18px; cursor: pointer;", ng-click="cancel($event)")
        .container
            .header
                span {{dialogInfo.header}}
            .info-section
                .text {{dialogInfo.text}}
            .buttons-section
                md-button(ng-click="backStep($event)")
                    span {{dialogInfo.button1}}
                md-button(ng-click="nextStep()" ng-class="[{'button-198': dialogInfo.step == 4}]")
                    span {{dialogInfo.button2}}
