md-dialog.generic-info-container(aira-lable="{{title}}")
    .info-wrapper
        .info-title
            span {{ title }}
            span.close(ng-click="cancel($event)") x
        .info-body 
            div {{ text }}    
            md-button.default.cancal-btn(ng-click="cancel($event)")
                span.primary close