md-dialog.info(aira-lable="Dialog Title")
    .info-wrapper
        .info-text
            span(ng-if="form !== 'version'") Coming Soon
            span(ng-if="form == 'version'") {{$root.version}} Version
        .info-logo
            sk-icon(icon="close-dialog", size-class="icon-size-36x36", style="position: absolute; right: -18px; top: -18px; cursor: pointer;", ng-click="cancel($event)")
