md-dialog.info(aira-lable="{{title}}")
    .info-wrapper
        .info-text
            span {{text}}
        .info-logo
            sk-icon(icon="close-dialog", size-class="icon-size-36x36",ng-click="cancel($event)")
