md-dialog.password-warning(aira-lable="Password Warning")
    .wrapper
        .header-wrapper(layout="column", layout-align="center center", style="")
            img(src="assets/images/icons/warning.svg")

        .body-wrapper.sk-box.shadowed(layout="column", layout-align="center center")
            .header
                span Password Warning
            .content
                span The SelfKey Identity Wallet protects your wallet with a password. You must remember this password to unlock the wallet. There is no way it can be restored or reset. SelfKey cannot help you if this password is lost.

                md-button.outline-orange(ng-click="accept($event)")
                    span I UNDERSTAND, THERE IS NO WAY TO RECOVER THE PASSWORD

