md-dialog.password-warning(aira-lable="Password Warning")
    .wrapper
        .header-wrapper(layout="column", layout-align="center center", style="")
            img(src="assets/images/icons/warning.svg")
            
        .body-wrapper.sk-box.shadowed(layout="column", layout-align="center center")
            .header 
                span Password Warning
            .content
                span SelfKey protects your Identity Wallet with a password. You must remember your password as there is no way it can be restored. Think your password as a key to your SelfKey Safe - it protects your identity if someone tries to access your computer.

                md-button#pwWarningNext.outline-orange(ng-click="accept($event)")
                    span I UNDERSTAND, THERE IS NOW WAY TO RECOVER THE PASSWORD

            