md-dialog.startup-guide(aira-lable="How It Works: SelfKey Identity Wallet")
    .startup-guide-wrapper
        div(layout="column", layout-align="center center", style="margin-bottom: 40px;")
            img(src="assets/images/icons/selfkey.svg", width="61")

        .main(layout="column", layout-align="center center")
            md-toolbar
                .md-toolbar-tools(layout="row", layout-align="center center")
                    span How It Works: SelfKey Identity Wallet
            .content(flex)
                .textual
                    .text(style="padding-right:20px;")
                        p The SelfKey Identity Wallet is an interface to manage your assets directly on the Ethereum blockchain. You remain in full control to send and sign transactions. Inside the wallet, you can also start building your SelfKey ID and identity profile.
                        p KEY tokens power the SelfKey Marketplace, and staking is required to unlock products and services. Think of staking like a refundable deposit. To learn more about the SelfKey Marketplace and staking works, &nbsp;
                            span.cursor-pointer.outline-none.textual(ng-click="$root.openInBrowser('http://help.selfkey.org/selfkey-marketplace')") click here.

                section(layout="row", layout-sm="column", layout-align="center center")
                    md-button.md-raised.highlighted(ng-click="goToWalletSetup($event)", sk-button-loading="isLoading") Setup My SelfKey Identity Wallet
