.sk-box.sk-token-box.sk-custom-token-box
    .sk-token-box__header(layout="row", layout-align="center start")
        .title {{data.name}}
        sk-double-header.sk-token-box__text(header="{{title}}", sub-header="{{symbol}}", flex)

    .sk-token-box__body
        span.text {{data.text}}

    .sk-token-box__footer
        .sk-horizontal-devider
        .sk-token-box__footer_address-box(layout="row", layout-align="start center")
            md-button.gray.default(ng-click="$root.openSendTokenDialog($event, null, true)")
                span Send Custom Tokens
