.sk-circle-pie-chart.animated(ng-class="{'fadeIn': chartIsReady }", layout="{{config.mainLayout}}")
    .chart-parent(ng-class="config.pieChartCls")
        div.pos-relative
            #chart(ng-class="config.pieChartCls")
            .chart-center-container(ng-show="chartIsReady")
                .tolalPrice {{data.total}}
                .totalPriceTitle {{data.totalTitle}}
    .details-container(layout="row",ng-show="chartIsReady")        
        div(ng-class="config.itemCls", name="{{item.uniqueIdentifier}}" ng-repeat="item in displayedItems track by $index")
            div(layout="row", layout-align="start start")
                div(layout="row")
                    sk-icon(icon="{{item.icon || 'information-button'}}", size-class="icon-size-44x44")
                    .title(layout="column") 
                        .titleFull {{item.title}}
                        .titleSmall {{item.subTitle}}
                .value-container
                    .value {{item.value}}
        .view-all-tokens(ng-click="toogleCollapse(false)", ng-if="isCollapsable && isCollapsed")
            i.arrow
            span view all tokens
    md-button.collapse-view(ng-click="toogleCollapse(true)",ng-if="isCollapsable && !isCollapsed") Collapse View