.sk-loading
    .loading
    .logo
        img(src="assets/images/icons/selfkey.svg", alt="")
    .info-container(ng-if="header || subHeader")
        .header(ng-if="header") {{header}}
        .content(ng-if="subHeader") {{subHeader}}