.sk-box.alerts-box(style="width: 100%; padding: 20px; display: inline-flex; flex-direction: column;")
    .alerts-box__header
        span(flex, style="font-family: ProximaNovaRegular; font-size: 20px; line-height: 1.8; color: #ffffff;") {{title}}
    .sk-horizontal-devider(style="margin-top: 20px;")
    .alerts-box__item(layout="row", layout-align="start center", style="margin-top: 20px;", ng-repeat="(key, value) in actionLogList")
        button.sk-icon-button
            md-icon.sk-token-box__token(md-svg-src="assets/images/icons/{{value.icon}}.svg", style="color:{{value.color}}", aria-label="{{value.type}}", size-class="icon-size-33x36")
        span.alerts-box__warning-text(style="font-family: ProximaNovaRegular; font-size: 18px; font-weight: 500; color: {{value.color}}; margin-left: 16px;") {{value.title}}
        |
        |
        span.alerts-box__warning-text(style="font-family: ProximaNovaRegular; font-size: 18px;  color: white; font-weight: 500;  margin-left: 16px;") {{value.text}}
        |
        |
        span.alerts-box__date(style="font-family: ProximaNovaRegular; font-size: 14px; color: #93b0c1; margin-left: 16px;") {{value.date | date:'dd-MM-yyyy HH:mm:ss'}}