.user-info-box(layout="column", layout-align="center center")
    //.box-icon
        sk-icon(icon="danger-box", size-class="icon-size-16x16")
    .visual
        .image(style="align-items: center; display: flex; justify-content: center;")
            .pic(style='background-image: url({{userData.tempImage}});')
        .name
            sk-icon(icon="success-box", size-class="icon-size-16x16")
            span {{ idAttributes.first_name.value + ' ' +  idAttributes.last_name.value }}

    hr

    .info
        table
            tr
                td.fc-bluey-grey Residency:
                td
                    div
                        sk-icon(icon="{{ idAttributes.country_of_residency.value ? 'success-box' : 'danger-box' }}", size-class="icon-size-16x16")
                        span.fc-white {{ idAttributes.country_of_residency.value ? idAttributes.country_of_residency.value : 'Missing' }}

            tr
                td.fc-bluey-grey Email:
                td
                    div
                        sk-icon(icon="{{ idAttributes.email.value ? 'success-box' : 'danger-box' }}", size-class="icon-size-16x16")
                        span.fc-white {{ idAttributes.email.value ? idAttributes.email.value : 'Missing' }}

            tr(ng-if="idAttributes.national_id")
                td.fc-bluey-grey National ID:
                td
                    div
                        sk-icon(icon="{{ idAttributes.national_id.value ? 'success-box' : 'danger-box' }}", size-class="icon-size-16x16")
                        span.fc-white {{idAttributes.national_id.value ? 'Uploaded' : 'Not Uploaded'}}

            tr(ng-if="idAttributes.national_id")
                td.fc-bluey-grey ID Selfie:
                td
                    div
                        sk-icon(icon="{{ idAttributes.id_selfie.value ? 'success-box' : 'danger-box' }}", size-class="icon-size-16x16")
                        span.fc-white {{idAttributes.id_selfie.value ? 'Uploaded' : 'Not Uploaded'}}

    hr

    .info
        table
            tr(ng-repeat="(key, value) in idAttributes", ng-if="value.value && ['first_name', 'last_name', 'middle_name', 'country_of_residency', 'id_selfie', 'national_id', 'email'].indexOf(key) === -1")
                td.fc-bluey-grey {{key}}:
                td
                    div
                        sk-icon(icon="success-box", size-class="icon-size-16x16")
                        span.fc-white {{value.value}}
