.user-info-box(layout="column", layout-align="center center")
    //.box-icon
        sk-icon(icon="danger-box", size-class="icon-size-16x16")
    .visual
        .image(style="align-items: center; display: flex; justify-content: center;")
            .pic(style='background-image: url({{userData.tempImage}});')
        .name
            sk-icon(icon="{{ userData.name ? 'success-box' : 'warning-box' }}", size-class="icon-size-16x16")
            span {{ userData.name ? userData.name : 'missing' }}
    
    hr

    .info
        table
            tr
                td.fc-bluey-grey Residency:
                td
                    div
                        sk-icon(icon="{{ userData.country_of_residency ? 'success-box' : 'warning-box' }}", size-class="icon-size-16x16")
                        span.fc-white {{ userData.country_of_residency ? userData.country_of_residency : 'missing' }}

            tr
                td.fc-bluey-grey Email:
                td
                    div
                        sk-icon(icon="{{ userData.email ? 'success-box' : 'warning-box' }}", size-class="icon-size-16x16")
                        span.fc-white {{ userData.email ? userData.email : 'missing' }}

            tr(ng-if="userData.mobile")
                td.fc-bluey-grey Mobile:
                td
                    div
                        sk-icon(icon="warning-box", size-class="icon-size-16x16")
                        span.fc-white {{userData.mobile}}

            tr(ng-if="userData.passport")
                td.fc-bluey-grey Passport:
                td
                    div
                        sk-icon(icon="success-box", size-class="icon-size-16x16")
                        span.fc-white {{userData.passport}}

            tr(ng-if="userData.nationalId")
                td.fc-bluey-grey National ID:
                td
                    div
                        sk-icon(icon="success-box", size-class="icon-size-16x16")
                        span.fc-white {{userData.nationalId}}

            tr(ng-if="userData.utilityBill")
                td.fc-bluey-grey Utility Bill:
                td
                    div
                        sk-icon(icon="danger-box", size-class="icon-size-16x16")
                        span.fc-white {{userData.utilityBill}}