.user-info-box(layout="column", layout-align="center center")
    //.box-icon
        sk-icon(icon="danger-box", size-class="icon-size-16x16")
    .visual
        .image(style="align-items: center; display: flex; justify-content: center;")
            .pic(style='background-image: url({{userData.tempImage}});')
        .name
            sk-icon(icon="success-box", size-class="icon-size-16x16")
            span {{ getItemValue(idAttributes.first_name) + ' ' + (getItemValue(idAttributes.middle_name) ? getItemValue(idAttributes.middle_name) + ' ' : '') +  getItemValue(idAttributes.last_name) }}

    hr

    .info
        table
            tr
                td.fc-bluey-grey Residence:
                td
                    div
                        sk-icon(icon="{{ getItemValue(idAttributes.country_of_residency) ? 'success-box' : 'danger-box' }}", size-class="icon-size-16x16")
                        span.fc-white {{ getItemValue(idAttributes.country_of_residency) ? getItemValue(idAttributes.country_of_residency) : 'Missing' }}

            tr
                td.fc-bluey-grey National ID:
                td
                    div
                        sk-icon(icon="{{ getItemValue(idAttributes.national_id) ? 'success-box' : 'danger-box' }}", size-class="icon-size-16x16")
                        span.fc-white(ng-click="openDocumentAddEditModal($event, idAttributes.national_id)") {{getItemValue(idAttributes.national_id) ? 'Uploaded' : 'Not Uploaded'}}

            tr
                td.fc-bluey-grey National ID Selfie:
                td
                    div
                        sk-icon(icon="{{ getItemValue(idAttributes.id_selfie) ? 'success-box' : 'danger-box' }}", size-class="icon-size-16x16")
                        span.fc-white(ng-click="openDocumentAddEditModal($event, idAttributes.id_selfie)") {{getItemValue(idAttributes.id_selfie) ? 'Uploaded' : 'Not Uploaded'}}

            tr
                td.fc-bluey-grey Email:
                td
                    div
                        sk-icon(icon="{{ getItemValue(idAttributes.email) ? 'success-box' : 'danger-box' }}", size-class="icon-size-16x16")
                        span.fc-white {{ getItemValue(idAttributes.email) ? getItemValue(idAttributes.email) : 'Missing' }}

    hr

    .info
        table
            tr(ng-repeat="(key, value) in idAttributes", ng-if="getItemValue(value) && ['first_name', 'last_name', 'middle_name', 'country_of_residency', 'id_selfie', 'national_id', 'email'].indexOf(key) === -1")
                td.fc-bluey-grey {{$root.DICTIONARY[key]}}:
                td
                    div
                        sk-icon(icon="success-box", size-class="icon-size-16x16")
                        span.fc-white {{ getItemValue(value) }}
