.sk-box.sk-wallet-general-info-box(style="width: 600px;")
    .sk-wallet-general-info-box__title General Information
    
    .sk-wallet-general-info-box__content
        table.sk-wallet-general-info-box__content__table
            tr
                td.fc-bluey-grey Name:
                td
                    div 
                        sk-icon(icon="success-box", size-class="icon-size-16x16")
                        span.fc-white Valletta, Malta
            tr
                td.fc-bluey-grey Email:
                td
                    div 
                        sk-icon(icon="warning-box", size-class="icon-size-16x16")
                        span.fc-white andrew@thejones.com
            tr
                td
                    div 
                        span.fc-bluey-grey Avatar:
                        span(style="color: #7f8fa4; font-family: ProximaNovaRegular; margin-top: 8px;") JPG, max. 500KB
                td 
                    div
                        img(src='assets/images/temp/avatar.jpg')
            tr
                td.fc-bluey-grey Mobile:
                td 
                    div 
                        sk-icon(icon="success-box", size-class="icon-size-16x16")
                        span.fc-white +356 345 5568
            tr
                td.fc-bluey-grey Country:
                td 
                    div 
                        sk-icon(icon="danger-box", size-class="icon-size-16x16")
                        span.fc-white Malta