.kyc-left-sidebar.bg-gradient(flex="20", layout="column", layout-align="start center", hide-xs, hide-sm)
    kyc-profile-image(image-url="'/assets/images/temp/carlosbg.jpg'", mode='sidebar')
    .kyc-button.primary.margin-top-3(layout="row", layout-align="center center", ui-sref="member.profile-individual.main") 
        span.margin-right-2 Edit Profile
        i.material-icons arrow_forward
.content.md-padding(ui-view="main", flex, layout="column")


