.md-margin.md-padding(ng-include="'member/identity/tables/contacts.html'", hide-xs)
.md-margin.md-padding(ng-include="'member/identity/tables/documents.html'", hide-xs)

.md-margin.md-padding(ng-include="'member/identity/boxes/contacts.html'", hide-gt-xs)
.md-margin.md-padding(ng-include="'member/identity/boxes/documents.html'", hide-gt-xs)