.kyc-promo-banner.md-whiteframe-2dp(style="background-color: #fff; cursor: pointer;", layout="column", layout-align="center center", ng-click="$root.test2()") 
    div(layout="row", layout-align="center center")
        i.icon.ion-pricetag.size-1.color-secondary
        | Public token sale coming soon. Pre-register now
    span(style="display: none; margin-top: 16px; color: #3DB4F8;", countdown='2017-10-30T09:00:00.000+07:00') &nbsp;