h1.uppercase.color-primary Identity Settings
h3.uppercase.color-primary contact info
table.kyc-table(style="width: 85%;")
    thead
        tr
            th TYPE
            th VALUE
            th STATUS
            th PRIVACY
            th ACTIONS
            th 
    tbody
        tr.md-whiteframe-3dp(style="background-color: white;", ng-repeat="item in contactItems")
            td {{item.type}}
            td {{item.value}}
            td
                .kyc-status-box.blue.cursor-pointer(ng-if="!item.status") verify
                .kyc-status-box.white(ng-if="item.status") verified
            td
                .kyc-status-box.green.no-borders(ng-if="!item.privacy") public
                .kyc-status-box.red.no-borders(ng-if="item.privacy") private
            td
                .kyc-link(layout="row", layout-align="center center", ng-click="editContactInfo($event, item)")
                    i.material-icons mode_edit
                    span.margin-left-1 edit
            td(style="background-color: #F0EEEF;") 
                .kyc-link(layout="row", layout-align="center center", ng-click="deleteContactInfo($event, item)")
                    i.material-icons delete
    tfoot
        tr
            td(colspan="6")
                div(layout="row", layout-align="start start")
                    .kyc-button.primary(layout="row", layout-align="center center", ng-click="addContactInfo($event)") 
                        span.margin-right-2 Add Contact Info
                        i.material-icons add_circle