h3.uppercase.color-primary documents
table.kyc-table(style="width: 85%;")
    thead
        tr
            th TYPE
            th name
            th attestations
            th PRIVACY
            th File Info
            th ACTIONS
            th 
    tbody
        tr.md-whiteframe-3dp(style="background-color: white;", ng-repeat="item in documentItems", ng-init="getFileInfo(item)")
            td {{item.type}}
            td {{item.name}}
            td
                .kyc-status-box.white.text-align-center(ng-if="item.attestations === 1") Verified
                .kyc-status-box.blue.cursor-pointer.text-align-center(ng-if="item.attestations === 0") Request Attestation
            td
                .kyc-status-box.green.no-borders(ng-if="item.privacy === 0") public
                .kyc-status-box.red.no-borders(ng-if="item.privacy === 1") private
            td 
                span(ng-if="item.fileInfoPromise.$$state.status === 0") ...
                .kyc-link(layout="row", layout-align="center center", ng-if="item.fileInfoPromise.$$state.status !== 0")
                    i.material-icons.color-blue(ng-if="item.fileInfoPromise.$$state.value") info
                    i.material-icons.color-orange(ng-if="!item.fileInfoPromise.$$state.value") warning
                    md-tooltip(ng-if="!item.fileInfoPromise.$$state.value") file is deleted
            td
                .kyc-link(layout="row", layout-align="center center", ng-click="editDocument($event, item)")
                    i.material-icons mode_edit
                    span.margin-left-1 edit
            td(style="background-color: #F0EEEF;") 
                .kyc-link(layout="row", layout-align="center center", ng-click="deleteDocument($event, item)")
                    i.material-icons delete
    tfoot
        tr
            td(colspan="6")
                div(layout="row", layout-align="start start")
                    .kyc-button.primary(layout="row", layout-align="center center", ng-click="addDocument($event)") 
                        span.margin-right-2 Add Document
                        i.material-icons add_circle