/**
 * animations
 */
.transition-anim {
  &.ng-enter {
    transition: .5s;
    opacity: 0;
  }

  &.ng-enter-active {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

/**
 * MARGINS
 */
.no-margins {
  margin: 0 !important;
}

// left
.margin-left-1 {
  margin-left: $margin-1;
}

.margin-left-2 {
  margin-left: $margin-2;
}

.margin-left-3 {
  margin-left: $margin-3;
}

// top
.margin-top-1 {
  margin-top: $margin-1;
}

.margin-top-2 {
  margin-top: $margin-2;
}

.margin-top-3 {
  margin-top: $margin-3;
}

.margin-top-4 {
  margin-top: $margin-4;
}

// right
.margin-right-1 {
  margin-right: $margin-1;
}

.margin-right-2 {
  margin-right: $margin-2;
}

.margin-right-3 {
  margin-right: $margin-3;
}

/**
 * TEXT ALIGNS
 */
.text-align-left {
  text-align: left !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

/**
 * TEXTS
 */
h1 {
  user-select: none;
  font-size: 36px;
  margin: 0;

  &.proxima {
    font-family: ProximaNovaRegular;
  }

  &.white {  
    color: #ffffff;
  }

  &.blue {  
    color: #0dc7dd;
  }
}

h2 {
  user-select: none;
  font-size: 26px;
  line-height: 1.38;
  font-weight: normal;
  margin: 0;

  &.proxima {
    font-family: ProximaNovaRegular;
  }

  &.orbitron {
    font-family: OrbitronMedium;
  }

  &.white {  
    color: #ffffff;
  }
}

.uppercase {
  text-transform: uppercase;
}

.font-weight-500 {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.sk-white-header-text {
  font-family: OrbitronMedium;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: normal;
}

.sk-blue-header-text {
  font-family: ProximaNovaRegular;
  font-size: 36px;
  color: #0dc7dd;
  user-select: none;
}

.sk-blue-subheader-text {
  font-family: ProximaNovaRegular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3px;
  color: #0abbd0;
  text-transform: uppercase;
  letter-spacing: normal;
}

.none-select-text {
  user-select: none;
  cursor: default;
}

/**
 * COLORS
 */

/**
 * CURSORS
 */
.cursor-pointer {
  cursor: pointer !important;
}

/**
 *
 */
.full-width {
  width: 100%;
}

/**
 * Background Colors
 */
.bg-color-primary {
    background-color: #29303A !important;
}

/**
 * deviders
 */
.sk-horizontal-devider {
    height: 1px;
    background-color: #303c49;
}

/**
 *
 */
.icon-size-26x26 {
  width: 26px !important;
  height: 26px !important;
}

.icon-size-33x36 {
  width: 33px !important;
  height: 36px !important;
}

.icon-size-44x44 {
  width: 44px !important;
  height: 44px !important;
}
