/**
 * animations
 */
.transition-anim {
  &.ng-enter {
    transition: .5s;
    opacity: 0;
  }

  &.ng-enter-active {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

// margins
.no-margins {
  margin: 0 !important;
}

// paddings
.no-paddings {
  padding: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

/**
 * TEXT ALIGNS
 */
.text-align-left {
  text-align: left !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

/**
 * TEXTS
 */
h1 {
  user-select: none;
  font-size: 36px;
  margin: 0;

  &.proxima {
    font-family: ProximaNovaRegular;
  }

  &.white {  
    color: #ffffff;
  }

  &.blue {  
    color: #0dc7dd;
  }
}

h2 {
  user-select: none;
  font-size: 26px;
  line-height: 1.38;
  font-weight: normal;
  margin: 0;

  &.proxima {
    font-family: ProximaNovaRegular;
  }

  &.orbitron {
    font-family: OrbitronMedium;
  }

  &.white {  
    color: #ffffff;
  }
}

.uppercase {
  text-transform: uppercase;
}

.font-weight-500 {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.sk-white-header-text {
  font-family: OrbitronMedium;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: normal;
}

.sk-blue-header-text {
  font-family: ProximaNovaRegular;
  font-size: 36px;
  color: #0dc7dd;
  user-select: none;
}

.sk-blue-subheader-text {
  font-family: ProximaNovaRegular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3px;
  color: #0abbd0;
  text-transform: uppercase;
  letter-spacing: normal;
}

.none-select-text {
  user-select: none;
  cursor: default;
}

/**
 * CURSORS
 */
.cursor-pointer {
  cursor: pointer !important;
}

/**
 *
 */
.full-width {
  width: 100%;
}

/**
 * background colors
 */


// font colors
.fc-white {
  color: #ffffff;
}

.fc-aqua-blue {
  color: #0dc7dd
}

.fc-squash {
  color: #f5a623
}

.fc-bluey-grey {
  color: #93a4af;
}

.fc-greeny-blue {
  color: #43c4a7;
}

.fc-turquoise-blue {
  color: #00adc6;
}

.fc-bright-orange {
  color: #ff6c00;
}

.fc-tomato {
  color: #f24846;
}

.fc-green {
  color: #1bb934;
}

/**
 * deviders
 */
.sk-horizontal-devider {
    height: 1px;
    background-color: #303c49;
}

/**
 *
 */
.opacity-0 {
  opacity: 0;
}

.display-none {
  display: none !important; 
}

/**
 *
 */
 .icon-size-16x16 {
  width: 16px !important;
  height: 16px !important;
}

.icon-size-26x26 {
  width: 26px !important;
  height: 26px !important;
}

.icon-size-26x14 {
  width: 26.4px !important;
  height: 14.6px !important;
}


.icon-size-33x36 {
  width: 33px !important;
  height: 36px !important;
}

.icon-size-36x36 {
  width: 36px !important;
  height: 36px !important;
}

.icon-size-34x44 {
  width: 34px !important;
  height: 44px !important;
}

.icon-size-39x44 {
  width: 39px !important;
  height: 44px !important;
}

.icon-size-44x44 {
  width: 44px !important;
  height: 44px !important;
}

.icon-size-57x65 {
  width: 57px !important;
  height: 65px !important;
}

.icon-size-64x64 {
  width: 64px !important;
  height: 64px !important;
}

.icon-size-20x20 {
  width: 20.4px !important;
  height: 20.4px !important;
}

.icon-size-15x15 {
  width: 15.8px !important;
  height: 15.8px !important;
}

