@import 'variables.scss';
@import 'helpers.scss';
@import 'reset.scss';
@import '../../../node_modules/angular-material/angular-material.scss';
@import './components/sk-icon.scss';
@import './components/sk-loading.scss';
@import './components/sk-box.scss';
@import './components/sk-button.scss';
@import './components/sk-icon-button.scss';
@import './components/sk-vertical-devider.scss';
@import './components/sk-message.scss';
@import './components/sk-show-loading.scss';
@import './components/sk-form-inputs.scss';
@import './components/sk-list.scss';
@import './components/sk-linear-progress.scss';
@import './layouts/guest-welcome-layout.scss';
@import './layouts/dashboard-layout.scss';
@import './partials/sk-documents-setup.scss';
@import './components/sk-dropdown-menu.scss';


.bg-gradient {
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  left bottom,
                  color-stop(1, rgb(213, 234, 241)),
                  color-stop(1, rgb(223, 227, 226))
  );
  background: -moz-linear-gradient(top, #4a0c6b 0%, #669966 100%); /* FF3.6+ */
  background: -moz-linear-gradient(top, rgba(213, 234, 241, 1) 0%, rgba(223, 227, 226, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(213, 234, 241, 1) 0%, rgba(223, 227, 226, 1) 100%); /* Chrome10-25,Safari5.1-6 */

  background: -o-linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5eaf1', endColorstr='#dfe3e2', GradientType=0); /* IE6-9 */
  background: linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* W3C */
}

.gradient-1 {
  background-image: linear-gradient(121deg, #2b3540, #1e262e);
}

.gradient-3 {
  background-image: linear-gradient(274deg, #08bccd, #2da1f8);
}

$buttonBackground: #2c3e50;
$buttonColor: rgba(255, 255, 255, 1);

.sk-text {
  font-family: ProximaNovaRegular;
  font-size: 18px;
  line-height: 1.89;
  color: #fff;
  user-select: none;
  cursor: default;
}

.sk-hyperlink {
  cursor: pointer;
  color: #08bccd;
  text-decoration: none;
  z-index: 1;
  user-select: none;
  cursor: default;
  outline: none;

  &:hover {
    color: #2da1f8;
  }
}

// TODO -- move
.setup-layout-wrapper {
  position: relative;

  &:before {
    position: absolute;
    background-image: url('../../assets/images/bgs/layouts/swirl-top-left.svg'), url('../../assets/images/bgs/layouts/swirl-bottom-right.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    content: "";
    width: 100%;
    height: 100%;
  }
}