@import 'variables.scss';
@import 'helpers.scss';

@import 'reset.scss';

@import '../../../node_modules/angular-material/angular-material.scss';

@import './components/hexagone.scss';
@import './components/kyc-button.scss';
@import './components/kyc-toolbar.scss';
@import './components/kyc-left-sidebar.scss';
@import './components/kyc-table.scss';
@import './components/kyc-status-box.scss';
@import './components/kyc-promo-banner.scss';
@import './components/kyc-box.scss';
@import './components/kyc-dialog.scss';
@import './components/kyc-profile-image.scss';

.bg-gradient {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(1, rgb(213,234,241)),
        color-stop(1, rgb(223,227,226))
        );
    background: -moz-linear-gradient(top, #4a0c6b 0%, #669966 100%); /* FF3.6+ */
    background: -moz-linear-gradient(top, rgba(213,234,241,1) 0%, rgba(223,227,226,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(213,234,241,1) 0%,rgba(223,227,226,1) 100%); /* Chrome10-25,Safari5.1-6 */

    background: -o-linear-gradient(top, #d5eaf1 0%,#dfe3e2 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #d5eaf1 0%,#dfe3e2 100%); /* IE10+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5eaf1', endColorstr='#dfe3e2',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #d5eaf1 0%,#dfe3e2 100%); /* W3C */
}

.marketplace-row {
    .hexagon-2 {
        &:before {
            background: none !important;
        }
    }

    .hexagon-2.marketplace {
        width: 145px;
        height: 165px;
        background: $primaryColor;

        img {
            color: $secondaryColor;
        }
    }
}






$buttonBackground: #2c3e50;
$buttonColor: rgba(255,255,255,1);

.sparkley {
    transition: all 0.25s ease;  
    &:hover {
        background: $buttonBackground;
        color: transparentize( $buttonColor,0.8 );
    }      
}


.kyc-toolbar > .buttons-group .button {
    outline: none;
}
    
    
    