.add-document(layout-fill, layout="column", layout-align="center center")

    .header-wrapper(layout="column", layout-align="center start")
        span Create Your SelfKey ID

    .content-wrapper
        #document.sk-box
            .content(layout="column")
                .header-wrapper
                    .step {{selected.step}}
                    .title {{selected.title1}}
                    .description {{selected.title2}}
                    .snackbar(ng-class="{'show': isShown, '': !isShown, 'success': status === 'success', 'error': status === 'error' }") {{message}}
                .content-wrapper
                    .box.clickable(flex, layout="column", layout-align="center center", ng-click="selectFile($event)")
                        sk-icon(icon="hard-drive", size-class="icon-size-34x44")
                        span.header  {{ $root.wallet.getIdAttributeItemValue(selected.type, 'line1') ? 'Saved' : selected.title1 }}
                        span.sub-header This is stored locally. Max file size 50mb.
        #check-list.sk-box
            .content(layout="column")
                .sk-text.header Upload ID Documents
                .sk-text.sub-header If you’re not ready, you can finish this later.

                .sk-list(style="margin-top: 28px;")
                    .item
                        .bullet
                            img(src="{{$root.appendStaticPath('assets/images/icons/tick.svg')}}")
                        span {{ $root.DICTIONARY['full_legal_name'] }}

                    .item
                        .bullet
                            img(src="{{$root.appendStaticPath('assets/images/icons/tick.svg')}}")
                        span {{ $root.DICTIONARY['country_of_residency'] }}


                    .item.clickable(sk-select-if="selected.type === 'id_document'")
                        .bullet
                            img(src="{{$root.appendStaticPath('assets/images/icons/tick.svg')", ng-if="$root.wallet.getIdAttributeItemValue('national_id', 'line1')}}")
                            img(src="{{$root.appendStaticPath('assets/images/icons/question-mark.svg')", ng-if="!$root.wallet.getIdAttributeItemValue('national_id', 'line1')}}", style="width: 12px;")
                        span {{ $root.DICTIONARY['national_id'] }}

                    .item.clickable(sk-select-if="selected.type === 'id_selfie'")
                        .bullet
                            img(src="{{$root.appendStaticPath('assets/images/icons/tick.svg')", ng-if="$root.wallet.getIdAttributeItemValue('id_selfie', 'line1')}}")
                            img(src="{{$root.appendStaticPath('assets/images/icons/question-mark.svg')", ng-if="!$root.wallet.getIdAttributeItemValue('id_selfie', 'line1')}}", style="width: 12px;")
                        span {{ $root.DICTIONARY['id_selfie'] }}

    .actions-wrapper(layout="row", layout-align="start center")
        .left(layout="row")
            md-button.gray(flex="70", ng-click="nextStep($event)")
                span.primary Next
            .sk-hyperlink.sk-text(style="color: #fff; text-align: center;", flex="30", ng-click="skip($event)") I'm not ready


