.exchange-container
    md-button.gray.default.back(ui-sref="member.marketplace.exchange-list")
        span.primary  Back
    .exchange
        .exchange-content
            .header
                .logo
                    img.logo-image(ng-src="{{realData.logo[0].thumbnails.small.url}}", alt="")
                    span.name(style="font-weight: 600") {{realData.name}} (Exchange)
                .status(layout="row")
                    span(style='color: #fff') Your Staking Status
                    .icon-container
                        md-icon(md-svg-src="assets/images/icons/ic_help_outline_black_24px.svg" class="color-white")
                        .tooltip
                            |  <div style="text-align:left;"> What is Staking? <br />
                            |  Staking acts similarly like <br />
                            |  a refundable security deposit. <br />
                            |  to learn more,click
                            span(ng-click="$root.openInBrowser('http://help.selfkey.org/selfkey-marketplace')") here...
                            </div>
                    span(style="font-style: italic") Coming Soon

            .body
                .section
                    .section-content
                        .descr
                            .textual
                                .text(ng-bind-html="realData.text + (realData.description.length > strLimit ? '...' : '')")
                                span(ng-if='realData.description.length > 300 && realData.description.length != strLimit')
                                    md-button(ng-click='showMore()')
                                        span View All Details
                                span(ng-if='realData.description.length == strLimit')
                                    md-button(ng-click='showLess()')
                                        span View Less Details
                            md-button.gray.status.default Coming Soon
                .section
                    .section-content
                        .title(style="font-weight: 600") Exchange Highlights
                        .columns.highlights
                            .column
                                div
                                    label
                                        span(style="font-weight: 600") Location:
                                    strong {{realData.location[0]}}

                                div
                                    label
                                        span(style="font-weight: 600") Year Launched:
                                    strong {{realData['year_launched']}}

                                div
                                    label
                                        span(style="font-weight: 600") Coin Pairs:
                                    strong {{realData.coin_pairs}}

                                div
                                    label
                                        span(style="font-weight: 600") Maker Fee:
                                    strong {{realData.maker_fee}}

                                div
                                    label
                                        span(style="font-weight: 600") Taker Fee:
                                    strong {{realData.taker_fee}}


                                div
                                    label
                                        span(style="font-weight: 600") URL:
                                    strong {{realData.URL}}


                            .column
                                div
                                    label
                                        span(style="font-weight: 600") FIAT Payment:
                                    strong(ng-repeat="i in realData['fiat_payments']") {{i}}

                                div
                                    label
                                        span(style="font-weight: 600") FIAT Supported:
                                    strong(ng-repeat="i in realData['fiat_supported']") {{i}}

                                div
                                    label
                                        span(style="font-weight: 600") Margin Trading:
                                    strong {{realData['margin_trading']}}

                                div
                                    label
                                        span(style="font-weight: 600") KYC/AML:
                                    strong {{realData['KYC/AML']}}

                                div
                                    label
                                        span(style="font-weight: 600") Excluded Resident:
                                    strong(ng-repeat="i in realData['excluded_residents']") {{i}}

                                div
                                    label
                                        span(style="font-weight: 600") Contact:
                                    strong {{realData['email']}}

                .section
                    .section-content
                        .title(style="font-weight: 600") KYC Requirements
                        .columns.requirements
                            .column
                                .sk-list(style="margin-top: 28px;")
                                    .item
                                        .bullet
                                            img(src="assets/images/icons/{{isInKycFields('first_name') ? 'tick' : 'question-mark'}}.svg" height=9)
                                        span First Name
                                    .item
                                        .bullet
                                            img(src="assets/images/icons/{{isInKycFields('last_name') ? 'tick' : 'question-mark'}}.svg" height=9)
                                        span Last Name

                                    .item
                                        .bullet
                                            img(src="assets/images/icons/{{isInKycFields('country_of_residency') ? 'tick' : 'question-mark'}}.svg" height=9)
                                        span Country Of Residence

                            .column
                                .sk-list(style="margin-top: 28px;")
                                    .item
                                        .bullet
                                            img(src="assets/images/icons/{{isInKycFields('national_id') ? 'tick' : 'question-mark'}}.svg" height=9)
                                        span National ID
                                    .item
                                        .bullet
                                            img(src="assets/images/icons/{{isInKycFields('id_selfie') ? 'tick' : 'question-mark'}}.svg" height=9)
                                        span National ID Selfie



