.exchange-container
    md-button.gray.default.back
        span.primary(ui-sref="member.marketplace.exchange-list")  Back
    .exchange
        .exchange-content
            .header
                .logo
                    img.logo-image(ng-src="{{realData.logo[0].thumbnails.large.url}}", alt="")
                    span.name(style="font-weight: 600") {{realData.name}} (Exchange)
<<<<<<< HEAD
                .status(layout="row")
                    span(style='color: #fff') Your Staking Status
                    .icon-container
                        md-icon(md-svg-src="assets/images/icons/ic_help_outline_black_24px.svg" class="color-white")
                        .tooltip
                            |  <div style="text-align:left;"> What is Staking? <br />
                            |  Staking acts similarly like <br />
                            |  a refundable security deposit. <br />
                            |  to learn more,click
                            span(ng-click="$root.openInBrowser('http://help.selfkey.org/selfkey-marketplace')") here...
                            </div>
                    span(style="font-style: italic") Coming Soon
            .body
                .section
                    .section-content
                        .descr
                            .textual
                                .text(ng-bind-html="realData.text + (strLimit <= 300 ? '...' : '')")
                                span(ng-if='realData.description.length > 300 && realData.description.length != strLimit')
                                    md-button.gray.default(ng-click='showMore()') View All Details
                                span(ng-if='realData.description.length == strLimit')
                                    md-button.gray.default(ng-click='showLess()') View Less Details
                            md-button.gray.status.default Coming Soon
                .section
                    .section-content
                        .title(style="font-weight: 600") Exchange Highlights
                        .columns.highlights
                            .column
                                div
                                    label
                                        span(style="font-weight: 600") Location:
                                    strong {{realData.Location}}

                                div
                                    label
                                        span(style="font-weight: 600") Year Launched:
                                    strong {{realData['year_launched']}}

                                div
                                    label
                                        span(style="font-weight: 600") Coin Pairs:
                                    strong(ng-repeat="i in realData['Coin Pairs']") {{i}}

                                div
                                    label
                                        span(style="font-weight: 600") Maker Fee:
                                    strong {{realData['Maker Fee']}}

                                div
                                    label
                                        span(style="font-weight: 600") Taker Fee:
                                    strong {{realData['Taker Fee']}}


                                div
                                    label
                                        span(style="font-weight: 600") Url:
                                    strong {{realData['url']}}


                            .column
                                div
                                    label
                                        span(style="font-weight: 600") Fiat Payments:
                                    strong(ng-repeat="i in realData['Fiat Payments']") {{i}}

                                div
                                    label
                                        span(style="font-weight: 600") Fiat Supported:
                                    strong(ng-repeat="i in realData['Fiat Supported']") {{i}}

                                div
                                    label
                                        span(style="font-weight: 600") Margin Trading:
                                    strong {{realData['Margin Trading']}}

                                div
                                    label
                                        span(style="font-weight: 600") KYC/AML:
                                    strong {{realData['KYC/AML']}}

                                div
                                    label
                                        span(style="font-weight: 600") Excluded residents:
                                    strong(ng-repeat="i in realData['Excluded Residents']") {{i}}

                                div
                                    label
                                        span(style="font-weight: 600") Contact Support:
                                    strong {{realData['Email']}}

                .section
                    .section-content
                        .title(style="font-weight: 600") KYC Requirements
                        .columns.requirements
                            .column
                                .sk-list(style="margin-top: 28px;")
                                    .item
                                        .bullet(ng-class="{'background-green': isInKycFields('fuel_legal_name')}")
                                            img(src="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                        span Full Legal Name
<<<<<<< HEAD
                                    //.item
                                    //    .bullet(ng-class="{'background-green': isInKycFields('email_address')}")
                                    //        img(src="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                    //    span Email Address
=======
                                    .item
                                        .bullet(ng-class="{'background-green': isInKycFields('email_address')}")
                                            img(src="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                        span Email Address
>>>>>>> 87c678d687ee5ecd5311ccfea294e174ec280424

                                    .item
                                        .bullet(ng-class="{'background-green': isInKycFields('country_of_residence')}")
                                            img(src="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                        span Country Of Residence

                            .column
                                .sk-list(style="margin-top: 28px;")
                                    .item
                                        .bullet(ng-class="{'background-green': isInKycFields('national_id')}")
                                            img(src="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                        span National ID
                                        sk-icon(icon="upload", size-class="icon-size-19x24", style="margin-left: 15px")
                                    .item
                                        .bullet(ng-class="{'background-green': isInKycFields('id_selfie')}")
                                            img(src="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                        span National ID Selfie
                                        sk-icon(icon="upload", size-class="icon-size-19x24", style="margin-left: 15px")



