.exchange-container
    md-button.gray.default.back
        span.primary(ui-sref="member.marketplace.exchange-list")  Back
    .exchange
        .exchange-content
            .header
                .logo
                    img.logo-image(ng-src="{{realData.logo[0].thumbnails.small.url}}", alt="")
                    span.name {{realData.name}}

            .body
                .section
                    .section-content
                        .descr
                            .textual
                                .text(ng-bind-html="realData.text + (realData.description.length > 300 ? '...' : '')")
                                span(ng-if='realData.description.length > 300 && realData.description.length != strLimit')
                                    md-button.gray.default(ng-click='showMore()') Show more
                                span(ng-if='realData.description.length == strLimit')
                                    md-button.gray.default(ng-click='showLess()') Show less
                            .status
                                md-button.gray.default Coming Soon
                                div.text Your Staking Status
                                    md-icon(md-svg-src="assets/images/icons/ic_help_outline_black_24px.svg" class="color-white")
                                        md-tooltip.sk-tooltip(md-direction="bottom")
                                            |  <div style="text-align:left;"> What is Staking? <br />
                                            |  Staking acts similarly like <br />
                                            |  a refundable security deposit. <br />
                                            |  to learn more,click here.. </div>
                                    span : Coming soon





                .section
                    .section-content
                        .title Exchange Highlights
                        .columns.highlights
                            .column
                                div
                                    label
                                        span Location:
                                    strong Honng Kong

                                div
                                    label
                                        span Year Launched:
                                    strong {{realData['year_launched']}}

                                div
                                    label
                                        span Coin Pairs:
                                    strong USD, BTC

                                div
                                    label
                                        span Maker Fee:
                                    strong {{realData['realData.bank_transfer_deposit_fee']}}

                                div
                                    label
                                        span Taker Fee:
                                    strong {{realData['realData.bank_transfer_withdrawal_fee']}}


                                div
                                    label
                                        span Url:
                                    strong {{realData['email 2']}}


                            .column
                                div
                                    label
                                        span Fiat Payments:
                                    strong(ng-repeat="i in realData['fiat_payments']") {{i}}

                                div
                                    label
                                        span Fiat Supported:
                                    strong(ng-repeat="i in realData['fiat_supported']") {{i}}

                                div
                                    label
                                        span Margin Trading:
                                    strong No

                                div
                                    label
                                        span KYC/AML:
                                    strong Yes

                                div
                                    label
                                        span Excluded residents:
                                    strong USA

                                div
                                    label
                                        span Contact Support:
                                    strong www.support@getecoin.com

                .section
                    .section-content
                        .title KYC Requirements
                        .columns.requirements
                            .column
                                div
                                    label
                                        span
                                            md-icon(md-svg-icon="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                    strong First Name

                                div
                                    label
                                        span
                                            md-icon(md-svg-icon="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                    strong Last Name

                                div
                                    label
                                        span
                                            md-icon(md-svg-icon="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                    strong country of residence

                            .column
                                div
                                    label
                                        span
                                            md-icon(md-svg-icon="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                    strong National ID

                                div
                                    label
                                        span
                                            md-icon(md-svg-icon="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                    strong National ID Selfie





