.exchange-container
    md-button.gray.default.back
        span.primary(ui-sref="member.marketplace.exchange-list")  Back
    .exchange
        .exchange-content
            .header
                .logo
                    img.logo-image(ng-src="{{realData.logo[0].thumbnails.small.url}}", alt="")
                    span.name {{realData.name}}
                .status
                    md-icon(md-svg-src="assets/images/icons/ic_help_outline_black_24px.svg" class="color-white")
                    div.text Your Staking Status
                        //    md-tooltip.sk-tooltip(md-direction="bottom")
                        //        |  <div stylge="text-align:left;"> What is Staking? <br />
                        //        |  Staking acts similarly like <br />
                        //        |  a refundable security deposit. <br />
                        //        |  to learn more,click here.. </div>
                        //span : Coming soon

            .body
                .section
                    .section-content
                        .descr
                            .textual
                                .text(ng-bind-html="realData.text + (realData.description.length > 300 ? '...' : '')")
                                span(ng-if='realData.description.length > 300 && realData.description.length != strLimit')
                                    md-button.gray.default(ng-click='showMore()') View All Details
                                span(ng-if='realData.description.length == strLimit')
                                    md-button.gray.default(ng-click='showLess()') View Less Details
                            md-button.gray.status.default Coming Soon
                .section
                    .section-content
                        .title Exchange Highlights
                        .columns.highlights
                            .column
                                div
                                    label
                                        span Location:
                                    strong {{realData.Location}}

                                div
                                    label
                                        span Year Launched:
                                    strong {{realData['year_launched']}}

                                div
                                    label
                                        span Coin Pairs:
                                    strong(ng-repeat="i in realData['Coin Pairs']") {{i}}

                                div
                                    label
                                        span Maker Fee:
                                    strong {{realData['Maker Fee']}}

                                div
                                    label
                                        span Taker Fee:
                                    strong {{realData['Taker Fee']}}


                                div
                                    label
                                        span Url:
                                    strong {{realData['url']}}


                            .column
                                div
                                    label
                                        span Fiat Payments:
                                    strong(ng-repeat="i in realData['Fiat Payments']") {{i}}

                                div
                                    label
                                        span Fiat Supported:
                                    strong(ng-repeat="i in realData['Fiat Supported']") {{i}}

                                div
                                    label
                                        span Margin Trading:
                                    strong {{realData['Margin Trading']}}

                                div
                                    label
                                        span KYC/AML:
                                    strong {{realData['KYC/AML']}}

                                div
                                    label
                                        span Excluded residents:
                                    strong(ng-repeat="i in realData['Excluded Residents']") {{i}}

                                div
                                    label
                                        span Contact Support:
                                    strong {{realData['Email']}}

                .section
                    .section-content
                        .title KYC Requirements
                        .columns.requirements
                            .column
                                div
                                    label
                                        span
                                            md-icon(md-svg-icon="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                    strong First Name

                                div
                                    label
                                        span
                                            md-icon(md-svg-icon="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                    strong Last Name

                                div
                                    label
                                        span
                                            md-icon(md-svg-icon="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                    strong country of residence

                            .column
                                div
                                    label
                                        span
                                            md-icon(md-svg-icon="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                    strong National ID

                                div
                                    label
                                        span
                                            md-icon(md-svg-icon="assets/images/icons/{{realData.name ? 'tick' : 'warning'}}.svg")
                                    strong National ID Selfie





