.marketplace-main
    .center-container
        .header-wrapper
            .title(ui-sref="member.marketplace.exchange") Exchanges
            .status(layout='row')
                span Your Staking Status
                md-icon(md-svg-src="assets/images/icons/ic_help_outline_black_24px.svg" class="color-white")
                     md-tooltip(md-direction="bottom")
                         |  <div style="text-align:center;"> What is Staking? <br />
                         |  Staking acts similarly like <br />
                         |  a refundable security deposit. <br />
                         |  to learn more,click here.. </div>
                //sk-icon(icon="ic_help_outline_black_24px", size-class="icon-size-16x16")
                //span : Coming soon
        .body-wrapper
