.logo.animated.rotateIn(ui-sref="member.dashboard.main")
    img(src="assets/images/icons/selfkey.svg", alt="", style="height: 44px;")
.middle(flex)
.right
    .crypto-price-box(style="margin-right: 10px;")
        .row
            .currency KEY
            .value {{ $root.primaryToken.getFormattedBalance() }}
        .row
            .currency USD
            .value ${{ $root.wallet.getFormattedTokenBalanceInUSD('KEY') }}
    .crypto-price-box(style="margin-left: 10px;")
        .row
            .currency ETH
            .value.main {{ $root.wallet.getFormattedBalance() }}
        .row
            .currency USD
            .value ${{ $root.wallet.getFormattedBalanceInUSD() }}
    .sk-vertical-devider-2(style="height: 40px;")
    .button-box
        button.sk-icon-button(ng-click="openRightSidenav($event)")
            sk-icon(icon="menu-button", size-class="sk-token-box__plus")
