md-dialog {
    &.add-custom-token {
        min-width: 100%;
        min-height: 100%;
        background-image: linear-gradient(121deg, #1e262e, #1e262e);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .header-text {
        padding-top: 36px;
        padding-bottom: 24px;
        font-family: ProximaNovaRegular;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .sub-header-text {
        width: 500px;
        font-family: ProximaNovaRegular;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.42;
        letter-spacing: normal;
        text-align: center;
        color: #93b0c1;
    }
    .form-container {
        width: 780px;
        margin-top: 48px;
    }
    .close-btn {
        cursor: pointer;
        position: absolute;
        outline: none;
        top: 30.8px;
        right: 30.8px;
    }
    .info-icon {
        margin-left: 6px;
        outline: none;
        display: inline;
        position: absolute;
        bottom: 0px;
        img {
            margin: 0 !important;
        }
    }
    .input-form {
        padding-top: 44px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 36px;
    }
    
    .add-custom-token-btn {
        outline: none;
        border: none;
        padding: 0;
        text-transform: uppercase;
        height: 48px;
        border-radius: 4px;
        background-image: linear-gradient(282deg, #08bccd, #2da1f8);
        font-family: ProximaNovaRegular;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.75;
        letter-spacing: 0.7px;
        text-align: center;
        color: #ffffff;
    }
    .address-tooltip {
        text-align: center !important;
        padding: 16px !important;
    }
    .addres-info-container {
        position: relative;
    }
}