md-dialog {
    &.ledger-is-connecting-container {
        min-width: 100%;
        min-height: 100%;
        background-image: linear-gradient(131deg, #2b3540, #1e262e);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        * {
            font-family: ProximaNovaRegular;
        }
        .header-conainer {
            position: relative;
            .close-btn {
                position: absolute;
                right: -18px;
                top: -18px;
                cursor: pointer;
                z-index: 1000;
            }
        }
        .body-container {
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            background-color: #262f39;
            border: solid 1px #303c49;
            box-shadow: 0 0 16px 1px #15222e;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 40px;
            font-size: 17px;
            line-height: 1.59;
            color: #ffffff;
            .header-title {
                font-weight: 600;
                opacity: 0.8;
                font-size: 18px;
                line-height: 1.4;
                color: #ffffff;
                margin-bottom: 16px;
            }
            .items {
                padding-bottom: 22px;
                .title {
                    padding-bottom: 15px;
                    font-size: 20px;
                }
                .item {
                    opacity: 0.8;
                    font-family: ProximaNovaRegular;
                    font-size: 18px;
                    line-height: 1.4;
                    color: #ffffff;
                }
            }
            .cancal-btn {
                width: 200px;
                color: #ffffff !important;
            }
            .buttons-container {
                >button:nth-child(2) {
                    margin-left: 60px;
                }
                padding-bottom: 17px;
                bottom: 18px;
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
    }
}