md-dialog {
    &.password-warning{        
        min-width: 100%;
        min-height: 100%;
        background-image: linear-gradient(121deg, #1e262e, #1e262e);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .wrapper {
            width: 780px;

            .header-wrapper {
                img {
                    width: 68px;
                }

                span {
                    font-family: ProximaNovaSemibold;
                    font-size: 24px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    text-align: center;
                    color: #ffffff;
                }
            }

            .body-wrapper {
                margin-top: 55px;
                
                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: ceter;
                    padding: 60px;

                    > span {
                        font-family: ProximaNovaRegular;
                        font-size: 18px;
                        line-height: 1.89;
                        color: #ffffff;
                    }

                    .md-button {
                        margin-top: 60px !important;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
}