md-dialog {
    &.startup-guide{
        min-width: 100%;
        min-height: 100%;
        background-image: linear-gradient(121deg, #1e262e, #1e262e);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img{
            margin-bottom: 15px;
        }
        .title{
            font-family: ProximaNovaSemibold;
            font-size: 24px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 1px;
            text-align: center;
            color: #ffffff;
        }

        .main {
            max-width: 700px;
            border-radius: 4px;
            background-color: #262f39;
            border: solid 1px #303c49;
            box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
            md-toolbar {
                height: 65px;
                border-radius: 4px;
                background-image: linear-gradient(to bottom, #27313b, #1e262e);
                box-shadow: inset 0 -1px 0 0 #303c49;
                .md-toolbar-tools {
                    opacity: 0.83;

                    span{
                        font-family: ProximaNovaRegular;
                        font-size: 19px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.26;
                        letter-spacing: normal;
                        text-align: center;
                        color: #ffffff;
                    }
                }
            }

            .content{
                position: relative;
                padding: 30px;
                .textual {
                    height: 400px;
                    overflow: auto;
                    font-family: ProximaNovaRegular;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                    margin-bottom: 30px;

                    p{
                        margin: 0 !important;
                        padding-bottom: 36px;
                    }
                    ul{
                        margin: 0;
                        padding-bottom: 36px;
                        padding-left: 16px;

                        li {
                            padding-bottom: 36px;
                        }
                    }
                }
                section {
                    .md-button {
                        font-family: ProximaNovaSemibold;
                        font-size: 15px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 0.8;
                        letter-spacing: 0.6px;
                        text-align: center;
                        color: #ffffff;
                        text-transform: initial;

                        align-items: center;
                        justify-content: center;
                        display: flex;

                        height: 48px;
                        border-radius: 4px;
                        padding-left: 20px;
                        padding-right: 20px;
                        
                        &.highlighted {
                            background-color: #435160 !important;
                        }
                        &.default {
                            opacity: 0.6;
                            border: solid 1px #93b0c1;
                            background-color: #262f39;
                        }
                    }
                }
            }
        }

    }
    .textual::-webkit-scrollbar {
        width: 8px;
        height: 120px;
    }

    .textual::-webkit-scrollbar-track {
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    }

    .textual::-webkit-scrollbar-thumb {
        border-radius: 5.5px;
        background-color: #93b0c1;
    }
}