md-dialog.certificate-dialog-container(aira-lable="{{title}}" style="min-height: 420px;")
    .info-wrapper
        .info-title
            span {{title}}
            span.close(ng-click="cancel($event)") x
        .info-body
            div {{text}}
            div(layout="row", layout-align="center center")
                md-button.outline-gray.md-ink-ripple(ng-click="cancel($event)", style="margin-right: 10px;")
                    span.primary Close
                md-button.blue.md-ink-ripple(ng-click="accept($event)")
                    span.primary Okay

