md-dialog.choose-trezor-address-pre-dialog-container(aira-lable="")
    .main-container
        .body-container
            .header-title Connecting to TREZOR. Please Wait...
            .items 
                .item On the next screen, please select an Ethereum (ETH) address to use with the SelfKey Identity Wallet.