md-dialog.id-wallet-info(aira-lable="{{title}}")
    .id-wallet-info-wrapper
        sk-icon(icon="close-dialog", size-class="icon-size-36x36", ng-click="cancel($event)")
        .container
            .header
                span {{dialogInfo.header}}
            .info-section
                .text
                    p {{dialogInfo.textPart1}}
                    p {{dialogInfo.textPart2}}
            .buttons-section
                md-button(ng-click="nextStep()" id="idWalletInfoContinueButton" ng-class="[{'button-300': dialogInfo.step == 2}]")
                    span {{dialogInfo.button2}}
