md-dialog.install-trezor-bridge-warning-container(aira-lable="")
    .main-container
        .body-container
            .header-title Please Install TREZOR Bridge 
            .items
                .item TREZOR Bridge is required so that the SelfKey Identity Wallet can communicate with your device.
                    | It's an official application released by the TREZOR team available to download below.
                    | Please restart the application after installation.
                .item.url-container URL: !{' '}
                    span(ng-click="$root.openInBrowser(download-url)") {{ downloadUrl }}
                        md-icon.external-link-icon(md-svg-src="{{$root.appendStaticPath('assets/images/icons/external-link.svg')}}")   
            .buttons-container.small-padding-top
                md-button.gray.md-ink-ripple.cancal-btn(ng-click="cancel($event)")
                    span.primary close