md-dialog.ledger-timed-out-container(aira-lable="")
    .main-container
        .body-container
            .header-title Ledger Timed Out
            .items 
                .item You didn't confirm this transaction on your Ledger. 
                | Please try again and confirm the transaction on your device..
            .buttons-container
                md-button.gray.md-ink-ripple(ng-click="cancel($event)")
                    span.primary BACK