.send-transaction
    transaction-send-box(crypto-currency="symbol || 'Send Custom Tokens'", send-action="send" on-address-field-change="onAddressFieldChange", close-action="cancel", reload-eth-gas-station-info-action="loadEthGasStationInfo")
