.send-transaction
    transaction-send-box(is-hardware-wallet="$root.wallet.isHardwareWallet", is-send-custom-token="!symbol" navigate-to-transaction-no-gas-error="navigateToTransactionNoGasError", crypto-currency="symbol || 'Send Custom Tokens'", norify-sign-tx-failure="onSignTxFailure" close-modal="closeModal", show-confirm-transaction-info-modal="showConfirmTransactionInfoModal", close-action="cancel", navigate-to-transaction-progress="navigateToTransactionProgress")
