md-dialog.trezor-pin-container(aira-lable="Connecting to Ledger")
    .main-container
      .header-container
        .title Please enter your PIN.
        .description Look at the device for the number positions.
      .body-container
        .pin-buttons
          md-button.default.pin-button(ng-click="onPinBtn(7)")
          md-button.default.pin-button(ng-click="onPinBtn(8)")
          md-button.default.pin-button(ng-click="onPinBtn(9)")

          md-button.default.pin-button(ng-click="onPinBtn(4)")
          md-button.default.pin-button(ng-click="onPinBtn(5)")
          md-button.default.pin-button(ng-click="onPinBtn(6)")
          
          md-button.default.pin-button(ng-click="onPinBtn(1)")
          md-button.default.pin-button(ng-click="onPinBtn(2)")
          md-button.default.pin-button(ng-click="onPinBtn(3)")
        .md-input-container.sk-input-box.no-error-spacer
          input.pin-input(type="password", ng-model="pin", disabled)
          md-button.clear-btn.md-icon-button(ng-click="clearPin()")
            sk-icon(icon="clear-symbol", size-class="icon-size-24x24", extension="png")
        md-button.gray.md-ink-ripple.action-btn(ng-click="sendPin()")
          span.primary Enter
        md-button.gray.md-ink-ripple.action-btn(ng-click="cancel($event)")
          span.primary Cancel
      .error {{ $root.incorrectTrezorPinEntered ? 'Entered PIN is not correct.' : '' }}
