md-dialog.trezor-passphrase-container(aira-lable="")
    .main-container
      .header-container
        .title Please enter your passphrase.
        .description Note that your passphrase is case-sensitive.
      .body-container
        .md-input-container.sk-input-box.no-error-spacer
          input.input(type="{{inputType}}", placeholder="Enter passphrase", ng-model="passphrase")
        .md-input-container.sk-input-box.no-error-spacer
          input.input(type="{{inputType}}", placeholder="Reconfirm passphrase", ng-model="passphraseRepeated")
        .actions-container
          md-checkbox.custom-checkbox(ng-model="checkboxModel", ng-change="toogleInputType()", aria-label="Show passphrase") Show passphrase
          md-button.gray.md-ink-ripple.action-btn(ng-click="sendPassphrase()")
            span.primary Enter
          md-button.gray.md-ink-ripple.action-btn(ng-click="cancel($event)")
            span.primary Cancel
      .error {{ error }}
