md-dialog.unlock-ledger-info-container(aira-lable="")
    .main-container
        sk-icon.close-btn(icon="close-dialog", size-class="icon-size-36x36", ng-click="cancel($event)")
        .body-container
            .header-title Please Unlock Your Ledger
            .items 
                .item You need to confirm this transaction on your Ledger in order to proceed. Please unlock it with your PIN.
            .buttons-container
                md-button.gray.md-ink-ripple(ng-click="tryAgain($event)")
                    span.primary try again