version: 2

jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run:
          name: Install Linux Packages
          command: sudo apt-get update; sudo apt-get install wine rpm xvfb libxtst6 libxss1 libgtk2.0-0 libnss3 libasound2 libgconf-2-4
      - run:
          name: Install Gulp
          command: sudo npm i -g gulp-cli electron-packager
      - run:
          name: Install Node Packages
          command: npm i
      - run:
          name: Build App
          command: NODE_ENV=test npm run make
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Run Spectron Tests
          command: npm run test
