.guest-layout {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/bgs/background.jpg');
    object-fit: contain;
    background-position: center center;

    > .content {
        user-select: none;
        cursor: default;
        
        > .logo {
            background-image: url('../../assets/images/icons/selfkey.svg'); 
            width: 57px; 
            height: 65px;
        }

        > .header {
            text-transform: uppercase;
            margin-top: 24px; 
            color: #fff; 
            font-family: 'OrbitronMedium'; 
            font-size: 26px; 
            font-weight: 500; 
            letter-spacing: 4px;
        }

        > .subheader {
            text-transform: uppercase;
            margin-top: 13px;
            color: #0abbd0; 
            font-family: 'Sans-Serif'; 
            font-size: 16px; 
            font-weight: 500; 
            letter-spacing: 3px;
        }

        > .create-button {
            margin-top: 44px;
            width: 350px;
            height: 52px;
        }

        > .import-button {
            margin-top: 36px; 
            width: 350px; 
            height: 52px;
        }
    }

    > .footer {

    }
}


@media print { 
    .keystore-layout-wrapper {
        .header {
            display: none;
        }

        .sk-button {
            display: none;
        }

        .sk-text {
            display: none;
        }

        .sk-button {
            display: none;
        }
    }
}
