.sk-documents-setup {
    padding: 30px; 
    height: 100%;
    display: flex;
    flex-direction: column;

    >.setup-header {
        font-family: ProximaNovaRegular;
        font-size: 12px;
        font-weight: 600;
        color: #93b0c1;
        text-transform: uppercase;
    }

    >.setup-subheader {
        font-family: ProximaNovaRegular;
        font-size: 18px;
        color: #ffffff;
        margin-top: 4px;
    }

    >.boxes {
        >.box {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            max-width: 100%;
            justify-content: center;
            
            outline: none;

            > .header {
                font-family: ProximaNovaRegular; 
                font-size: 14px; 
                font-weight: 600; 
                color: #ffffff; 
                margin-top: 32px;
            }

            > .sub-header {
                font-family: ProximaNovaRegular; 
                font-size: 12px; 
                color: #93b0c1; 
                margin-top: 6px;
            }

            &.clickable {
                cursor: pointer;

                &:hover {
                    > svg {
                        > g {
                            fill: #00c0d9;
                        }
                        > path {
                            fill: #00c0d9;
                        }
                    }
    
                    >.header {
                        color: #00c0d9;
                    }
                }
            }
        }
    }
}