.sk-custom-token-box {
	padding: 20px 12px 8px 12px;

	.title {
		font-size: 18px;
		line-height: 28px;
		color: white;
	}
	.md-button.gray {
		width: auto;
		height: auto;
		padding: 0 24px 0 24px;
		span {
			width: 46px;
			height: 20px;
			font-size: 11px;
			line-height: 12px;
			color: #93b0c1;
		}
	}
}
