.sk-double-header {
    display: flex;
    flex-direction: column;

    > .sk-double-header__header {
        font-family: ProximaNovaRegular;
        font-size: 18px;
        color: #ffffff;
    }

    > .sk-double-header__sub-header {
        margin-top: 4px;
        opacity: 0.7;
        font-family: ProximaNovaRegular;
        font-size: 14px;
        letter-spacing: 1px;
        color: #ffffff;
    }
}
