.tx-history-container {
	&.mt-20 {
		margin-top: 20px;
	}
	.progress-bar {
		margin-top: 10px;
	}
	.pager-container {
		padding-top: 20px;
		font-size: 16px;
		font-weight: 600;
		color: #ffffff;
		.pager-action-item {
			&:first-child {
				margin-left: 20px;
			}
			span {
				outline: none !important;
				cursor: pointer;
			}
		}
	}
}
