.sk-box.sk-ico-item-box
    .header.sk-ico-item-box__header
        sk-icon(icon="{{icoData.symbol}}", size-class="icon-size-44x44")
        span {{icoData.company}}
        span(style="font-size: 15px; margin-left: 4px;", flex) ({{icoData.category}})
        span.dot(ng-class="{'active': icoData.status === 'In Progress', 'inactive': icoData.status === 'Finished', 'upcoming': icoData.status === 'Upcoming' }")

    .sk-ico-item-box__content(flex)
        .description.fc-white
            p {{icoData.shortDescription}}
            .price.fc-white(ng-if="icoData.cap.raised && icoData.cap.total")
                span.fc-turquoise-blue {{icoData.cap.raised}} &nbsp; of &nbsp; {{icoData.cap.total}} &nbsp; {{icoData.getCapProgressPercent()}} %

    // TODO - change url later
    .sk-ico-item-box__footer
        .sk-button.small(ui-sref="member.marketplace.ico-item({selected: icoData})")
            span view

        span.days(ng-if="icoData.endDate && icoData.getDaysLeft() > -1") {{icoData.getDaysLeft()}} Days Left
