.address-content {

    md-input-container {
        width: 100%;

        &:not(:first-child) {
            margin: 15px 0 0 0 !important;
        }
    }
}

.address-actions-wrapper {
    width: 760px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;

    .md-button {
        width: 144px;
        padding: 0 16px;

        &:last-of-type {
            margin-left: 16px;
        }
    }
}
