md-dialog(aria-label="Legal temrs and conditions", style="min-width: 60%;")
    md-toolbar.bg-color-primary(layout="row", layout-align="center center")
        .title Legal terms and conditions
    md-dialog-content.md-padding
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
        | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
    md-dialog-actions(layout="row", layout-align="center center")
        .kyc-button.primary(style="margin-right: 8px;", ng-click="agree($event)") Agree
        .kyc-button.primary(style="margin-left: 8px;", ng-click="disagree($event)") Disagree

