md-dialog(aria-label="Legal temrs and conditions", style="min-width: 60%;")
    md-dialog-content
        .kyc-dialog-container(layout="column")
            .header
                .title Legal terms and conditions
            .body(style="max-height: 300px;")
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
                | Legal terms and conditions Legal terms and conditions Legal terms and conditions 
            .actions(layout="row", layout-align="center center")
                .kyc-button.primary(style="margin-right: 8px;") Agree
                .kyc-button.primary(style="margin-left: 8px;") Disagree
