md-dialog.receive-token(aira-lable="Receive Dialog")

    .receive-token-wrapper
        .receive-token-logo
            sk-icon(icon="{{symbol}}",size-class="icon-size-64x64")
        .receive-token-barcode(layout="column", layout-align="center center")
            .barcode-container
                qrcode(data="{{publicKeyHex}}", size="185", background="#fff")
        .receive-token-address(layout="column")
            .address Your Ethereum Address
            .public-key {{publicKeyHex}}
        .receive-token-icons(layout="row", layout-align="center center")
             sk-icon(icon="copy", size-class="icon-size-36x36")
             sk-icon(icon="gmail", size-class="icon-size-36x36")
             sk-icon(icon="print", size-class="icon-size-36x36")
             sk-icon(icon="share", size-class="icon-size-36x36")



