md-dialog.startup-guide(aira-lable="Dialog Title")
    .startup-guide-wrapper
        div(layout='column', layout-align='center center', style="margin-bottom: 40px;")
            img(src='assets/images/icons/selfkey.svg', width=61)
            .title Selfkey Token Wallet

        .main(layout='column', layout-align='center center')
            md-toolbar
                .md-toolbar-tools(layout='row', layout-align='center center')
                    span How It Works
            .content(flex='')
                .textual
                    .text(style="padding-right:20px;")
                        p
                            | Summary of Key Points
                        ul
                            li
                                | The SelfKey Wallet is an interface for your wallet that allows you to send Ethereum
                                | to our Token Sale. You will receive your KEY tokens to the same address from which
                                | you sent the funds. In the very near future, you will be able to participate in other
                                | token sales that will be listed in the SelfKey Marketplace.
                            li
                                | You can send ether to our token sale address from another ERC20 wallet. It is very
                                | important that you only use the address listed in this application.
                            li
                                | If you have your coins on an exchange, such as Coinbase, you will need to send
                                | them to an a wallet that is ERC20 compatible first before sending Ethereum to
                                | SelfKey.
                            li
                                | DO NOT send ether from an exchange address (such as Coinbase). You will lose
                                | your KEY.
                            li
                                | Once you have set up your SelfKey Wallet, you will be directed to the SelfKey
                                | Identity Wallet to complete the KYC (Know Your Customer) process. If you have
                                | already completed the necessary KYC information on our website, you can simply
                                | upload the file provided, which will be imported and attached to your SelfKey
                                | Identity Wallet. If not, you will be directed to create a Basic ID that will form the basis
                                | of your SelfKey Identity System, which will allow you to join the KEY Token Sale and
                                | future token sales in the SelfKey Marketplace.
                            li
                                | If you have any questions, please email our team hello@selfkey.org


                section(layout='row', layout-sm='column', layout-align='start center', layout-wrap='')
                    md-button.md-raised Set up my Selfkey Token Wallet