.dashboard-layout.transition-anim(layout="column", layout-fill, ui-view="main", style="height: 100vh; position: relative;")
    .toolbar
        .logo
            img(src="assets/images/icons/selfkey.svg", alt="")