.logo(style="margin-left: 50px;")
    img(src="assets/images/icons/selfkey.svg", alt="", style="height: 44px;")
.middle(flex)
.right
    .crypto-price-box(style="margin-right: 10px;")
        .row
            .currency KEY
            .value 20000
    .crypto-price-box(style="margin-left: 10px;")
        .row
            .currency ETH
            .value.main {{$root.wallet.balanceEth}}
        .row
            .currency USD
            .value $1765.87
    .sk-vertical-devider-2(style="height: 40px;")
    .button-box
        button.sk-icon-button(ng-click="$root.openSendTokenDialog($event, 'eth')")
            sk-icon(icon="plus", size-class="sk-token-box__plus")
    .sk-vertical-devider-2(style="height: 40px;")
    .button-box
        button.sk-icon-button(ng-click="openRightSidenav($event)")
            sk-icon(icon="menu-button", size-class="sk-token-box__plus")