.marketplace-exchange-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > .center-container {
        margin-top: 30px;

        .header-wrapper {
            width: 1140px;
            height: 147px;
            border-bottom: solid 1px #475768;

            .title {
                width: 124px;
                height: 36px;
                font-size: 26px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
                font-family: ProximaNovaRegular;
                padding: 57px 54px 0 95px;
            }
            .status {
                color: #768fa9;
                font-size: 16px;
                font-family: ProximaNovaRegular;
                float: right;
                margin-top: -15px;

                md-icon {

                    padding: 0 5px;
                    height: 16px !important;
                    width: 16px !important;
                    min-height: 16px !important;
                    min-width: 16px !important;
                }
            }

        }
        .body-wrapper {
            width: 1140px;

            ul {

                list-style-type: none;
                width: 1140px;
                padding: 0;
                margin-top: 50px;

                li {
                    width: 360px;
                    height: 312px;
                    border-radius: 4px;
                    background-color: #262f39;
                    border: solid 1px #303c49;
                    font-size: 16px;
                    font-family: ProximaNovaRegular;
                    float: left;
                    margin-right: 27px;
                    margin-top: 30px;

                    .list-title {
                        width: 360px;
                        height: 76px;
                        background-color: #2a3540;
                        box-shadow: inset 0 -1px 0 0 #374758;

                        .title-logo {
                            margin-left: 30px;

                            .helper {
                                display: inline-block;
                                height: 100%;
                                vertical-align: middle;
                            }

                            img {

                                max-width: 60px;
                                vertical-align: middle;
                                margin-left: 5px;
                            }

                        }
                        .title-text {
                            height: 36px;
                            font-family: ProximaNovaRegular;
                            font-size: 20px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.8;
                            letter-spacing: normal;
                            text-align: left;
                            color: #ffffff;
                            margin-left: 12px;
                            margin-top: 20px;
                            word-break: break-all;
                        }
                    }
                    .list-body {
                        height: 224px;
                        width: 360px;
                        font-size: 16px;
                        font-family: ProximaNovaRegular;
                        color: #FFFFFF;

                        .body-description {

                            word-break: break-word;
                            padding: 30px 30px 0 30px;
                            height: 144px;

                            p {
                                margin: 0;
                            }
                        }
                        .buttons-section {

                            .md-button {
                                min-height: 24px !important;
                                min-width: 50px !important;
                                line-height: 24px !important;
                                border-radius: 4px;
                                border: solid 1px #3b4a5a;
                                background-color: #262f39;
                                margin-left: 24px;
                                margin-top: 24px;

                                span {
                                    width: 29px;
                                    height: 14px;
                                    font-family: ProximaNovaRegular;
                                    font-size: 12px;
                                    font-weight: normal;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: normal;
                                    letter-spacing: normal;
                                    text-align: left;
                                    color: #93b0c1;
                                }
                            }
                        }
                    }
                }

                li:nth-child(3n+3) {
                    margin-right: 0 !important;
                }
            }

        }
    }
}
