.marketplace-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > .center-container {
        width: 100%;
        margin-top: 30px;

        .header-wrapper {
            width: 100%;
            border-bottom: 1px solid #303c49;
            padding-bottom: 30px;
            display: block;

            .title {
                font-size: 20px;
                color: #768fa9;
                margin-left: 80px;
                font-family: ProximaNovaRegular;
            }
            .status {
                color: #768fa9;
                font-size: 16px;
                font-family: ProximaNovaRegular;
                float: right;
                margin-top: -15px;
                margin-right: 150px;

                md-icon {

                    padding: 0 5px;
                    height: 16px !important;
                    width: 16px !important;
                    min-height: 16px !important;
                    min-width: 16px !important;
                }
            }

        }
        .body-wrapper {
            width: 1140px;
            margin: 0 auto;

            ul {

                list-style-type: none;
                width: 1140px;

                li {
                    width: 320px;
                    height: 250px;
                    font-size: 16px;
                    font-family: ProximaNovaRegular;
                    margin: 50px 20px;
                    float: left;

                    .list-title {
                        border: 1px solid #303c49;
                        font-size: 18px;
                        font-family: ProximaNovaRegular;
                        color: #FFFFFF;
                        height: 40px;

                        .title-logo {

                        }
                        .title-text {
                            margin: 10px 0 0 10px;
                            word-break: break-all;
                        }
                    }
                    .list-body {
                        border: 1px solid #303c49;
                        padding: 10px;
                        font-size: 16px;
                        font-family: ProximaNovaRegular;
                        color: #FFFFFF;
                        height: 220px;
                        margin-top: 3px;

                        .body-description {

                            word-break: break-all;
                            height: 175px;
                        }
                        .buttons-section {

                            .md-button {
                                min-height: 28px !important;
                                height: 28px !important;
                                line-height: 28px !important;

                                span {

                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}
