.wrapper.transition-anim(layout="column", layout-fill, ui-view="main", style="height: 100vh;")

md-sidenav.md-sidenav-right(md-component-id="right")
    .sk-right-sidenav(ng-controller="MemberRightSidenavController", style="height: 100%;")
        .sk-right-sidenav__close-icon(ng-click="close($event)") ✕
        .sk-right-sidenav__header
            sk-icon(icon="selfkey", size-class="icon-size-39x44")

        .sk-right-sidenav__content(layout="column", layout-align="space-between center", flex)
            .sk-right-sidenav__top-section-container(layout="column")
                .sk-right-sidenav__top-section__item(ng-class="getSelectedClass('member.dashboard')", ng-click="$root.navigate($event, 'member.dashboard.main')")
                    md-icon(md-svg-src="{{$root.appendStaticPath('assets/images/icons/icon-menu-dashboard.svg')}}")
                    span Dashboard
                .sk-right-sidenav__top-section__item(ng-class="getSelectedClass('member.marketplace')", ng-click="$root.navigate($event, 'member.marketplace.main')")
                    md-icon(md-svg-src="{{$root.appendStaticPath('assets/images/icons/icon-menu-marketplace.svg')}}")
                    span Marketplace
                .sk-right-sidenav__top-section__item(ng-class="getSelectedClass('member.id-wallet')", id="selfkeyIdButton", ng-click="navigateToCreateId()")
                    md-icon(md-svg-src="{{$root.appendStaticPath('assets/images/icons/icon-menu-profile.svg')}}")
                    span SelfKey ID
                .sk-right-sidenav__top-section__item(ng-class="getSelectedClass('member.selfkey-id')", id="selfkeyIdButton", ng-click="navigateToCreateIdNew()")
                    md-icon(md-svg-src="{{$root.appendStaticPath('assets/images/icons/icon-menu-profile.svg')}}")
                    span SelfKey ID
                .sk-right-sidenav__top-section__item(ng-class="getSelectedClass('member.address-book')", id="addressBookButton", ng-click="$root.navigate($event, 'member.address-book.main')")
                    md-icon(md-svg-src="{{$root.appendStaticPath('assets/images/icons/icon-menu-address.svg')}}")
                    span Address book

            .sk-right-sidenav__botton-section-container(layout="column")
                .sk-right-sidenav__bottom-section__item(ng-click="$root.openInBrowser('https://selfkey.org')")
                    span About SelfKey
                .sk-right-sidenav__bottom-section__item(ng-click="$root.openInBrowser('https://idea.selfkey.org')") 
                    span Submit Idea
                .sk-right-sidenav__bottom-section__item(ng-click="$root.openInBrowser('https://help.selfkey.org')")
                    span Help & Support
                .sk-right-sidenav__bottom-section__item(ng-click="closeApp($event)")
                    span Quit
        .version v {{ $root.version }}
