.logo.animated.rotateIn(ui-sref="member.dashboard.main")
    img(src="{{$root.appendStaticPath('assets/images/icons/selfkey.svg')}}", alt="", style="height: 44px;")
.middle(flex)
.right
    crypto-price-box(crypto-currency="PRIMARY_TOKEN")
    crypto-price-box(crypto-currency="'ETH'")
    .sk-vertical-devider-2(style="height: 40px;")
    .button-box
        button.sk-icon-button(ng-click="openRightSidenav($event)")
            sk-icon(icon="menu-button", size-class="sk-token-box__plus")
