.keystore-layout-wrapper(layout-fill, layout="column", layout-align="center center")
    img(src="assets/images/icons/important.svg", alt="")
    
    #message-container(layout="column", layout-align="center center" style="width: 780px; height: 48px;")

    .sk-box.shadowed(ui-view="main", style="width: 780px;")