.wallet-create-step-5(layout="column", layout-align="center center", style="z-index: 100;")
    .header-wrapper(layout="column", layout-align="start start")
        .title Setup Your SelfKey Identity Wallet
        .description
            | Create a new SelfKey ID to start building your identity profile. If you were previously
            | whitelisted for the KEY token sale, simply import the zip file we provided as your SelfKey
            | ID. This data is stored locally on your device, not in a server or on the blockchain.

    .content-wrapper.sk-box(layout="column", layout-align="center center")
        .item-wrapper(layout="row", layout-align="center center")
            sk-icon(icon="upload-1", size-class="icon-size-43x35")
            .body
                .title I am creating a new SelfKey Identity Wallet
                .text
                    | Setup the SelfKey ID. This will form the basis of your locally managed and stored identity profile.
                .actions(style="margin-top: 30px;")
                    md-button.md-raised(ng-click="createBasicId($event)") Create Selfkey ID

        .sk-divider-h1(style="width: 555px;")

        .item-wrapper(layout="row", layout-align="center center")
            sk-icon(icon="upload-1", size-class="icon-size-43x35")
            .body
                .title I was approved in the SelfKey token sale KYC.
                .text
                    | If you were whitelisted for the SelfKey token sale, you can download a zip file and import to complete your SelfKey ID.
                .actions(style="margin-top: 30px;")
                    md-button.md-raised(ng-click="importKycFile($event)") Import KYC File
