.header
    span.none-select-text Create New Wallet
form.content(layout="column", style="padding: 24px;")
    .desc-container
        .sk-text Enter the password you want to use to encrypt your new private key.
        .sk-text Choose a password that is strong enough to protect the millions of dollars your key someday may be worth.
        .sk-text Do not forget or lose this password, and do not share this password with anyone.

    md-input-container.sk-input-box.no-error-spacer
        input#pw1(name="password", ng-model="userInput.password", type="password", placeholder="Password")
    md-input-container.sk-input-box.no-error-spacer
        input#pw2(name="password", ng-model="userInput.rPassword", type="password", placeholder="Repeat password")

    .sk-button.filled-blue#next(style="margin: 12px 0 12px 0;", ng-click="nextStep($event)")
        span(style="color: #fff") Continue

    .sk-button.outline-blue#back(style="margin: 12px 0 48px 0;", ui-sref="guest.welcome")
        span(style="color: #fff") back
