.header
    span.none-select-text Create New Wallet
form.content(layout="column", style="padding: 24px;")
    .desc-container
        span.sk-text Encrypt private key using password

    md-input-container.sk-input-box.no-error-spacer
        input(name="password", ng-model="userInput.password", type="password", placeholder="Password")
    md-input-container.sk-input-box.no-error-spacer
        input(name="password", ng-model="userInput.rPassword", type="password", placeholder="Repeat password")

    .sk-button.filled-blue(style="margin: 12px 0 12px 0;", ng-click="nextStep($event)")
        span(style="color: #fff") Continue

    .sk-button.outline-blue(style="margin: 12px 0 48px 0;", ui-sref="guest.welcome")
        span(style="color: #fff") back