.wallet-create-step-3(layout-fill, layout="column", layout-align="center center")

    sk-icon(icon="selfkey", size-class="icon-size-57x65")
    .title SELFKEY BASIC ID
    .description BLOCKCHAIN IDENTITY WALLET

    .content-wrapper.sk-box.shadowed
        .header
            span.none-select-text Create Password
        form.content(name="passwordForm", layout="column")
            md-input-container.sk-input-box.sk-input-non-floating.no-error-spacer
                label Password
                input(name="password", type="password", ng-model="input.password")
            
            .password-strength-container
                .blocks-container
                    .block.active
                    .block
                    .block
                    .block
                .status-text-container
                    span Strong

            .actions-wrapper
                md-button.blue(style="margin: 12px 0 12px 0;", ng-click="nextStep($event, basicInfoForm)")
                    span.primary Next