.wallet-create-step-5(layout-fill, layout="column", layout-align="center center")
    sk-icon(icon="important", size-class="icon-size-68x74")

    .content-wrapper.sk-box.shadowed
        .header
            span.none-select-text Backup Your Wallet
        .content(layout="column")

            .title "Please download the Keystore File to keep a backup of your newly created wallet. This file is protected by the password you just created. Inside this file are your private keys that sign all transactions on the blockchain."

            md-button.blue(style="padding: 10px;", ng-click="backupKeystore($event)")
                span.primary Backup your keystore file (UTC / JSON)

            .warning-description
                .item(style="font-weight: normal;")
                    span Your private keys grant access to move all your assets on the blockchain. Please keep this in a very safe place and do not share this with anyone.

            .actions-wrapper
                md-button.outline-orange(ng-click="nextStep($event)")
                    span I understand, continue
