.wallet-create-step-1(layout="column", layout-align="center center", style="z-index: 100;")
    .header-wrapper(layout="column", layout-align="start start")
        .title Setup Identity Wallet
        .description
            | You will need to either setup a Basic ID for your Identity Wallet or if you completed the KYC on the SelfKey.org website to
            | join the token sale, simply upload the file we provided.
    .content-wrapper.sk-box(layout="column", layout-align="center center")
        .item-wrapper(layout="row", layout-align="center center")
            sk-icon(icon="upload-1", size-class="icon-size-43x35")
            .body
                .title Create Basic ID
                .text
                    | Set up the SelfKey Basic ID. This will form the basis of your locally managed and stored Identity System. 
                #createBasic.actions(style="margin-top: 30px;")
                    md-button.md-raised(ng-click="createBasicId($event)") Create Selfkey Basic ID

        .sk-divider-h1(style="width: 555px;")

        .item-wrapper(layout="row", layout-align="center center")
            sk-icon(icon="upload-1", size-class="icon-size-43x35")
            .body
                .title Import My KYC File
                .text
                    | If you completed KYC on the SelfKey.org website, you were 
                    | emailed a verification code, which you can submit here. This code allows you to skip the Basic ID process.
                .text
                    md-input-container.sk-input-box.no-error-spacer(style="width: 320px;")
                        input(name="kycCode", ng-model="userInput.kycCode", type="text", placeholder="KYC Code")
                #importKYC.actions
                    md-button.md-raised(ng-click="importKycFile($event)") Import KYC File
