.wallet-create-step-4(layout-fill, layout="column", layout-align="center center")
    sk-icon(icon="selfkey", size-class="icon-size-68x74")

    .content-wrapper.sk-box.shadowed
        .header
            span.none-select-text Step 4: Backup Your Private Keys
        .content(layout="column")
            .icon
                img(src='assets/images/logos/silenced.png' height=54)

            md-input-container.sk-input-box.no-error-spacer
                label Your Private Key
                input#privateKey(name="privateKey", ng-model="privateKey", type="{{inputType}}", placeholder="Your Private Key", disabled)
                md-button.md-icon-button(style="position: absolute; right: 10px; top: 4px;", ng-click="togglePrivateKeyVisibility()")
                    md-icon(md-svg-icon="assets/images/icons/{{visibilityIconName}}.svg")

            md-button.blue(style="padding: 10px;", ng-click="printPaperWallet($event)")
                span.primary print private keys

            .warning-description
                .item(style="font-weight: normal;")
                    span Your private key is used to authorize transactions for sending Ether or tokens on your Ethereum address. Do not share this with anyone, as this will give them full access to move your assets somewhere else. You can print a copy to make an offline backup. This is also known as "cold storage".

            .actions-wrapper
                md-button#printWalletNext.outline-blue(ng-click="nextStep($event)")
                    span continue

    .private-key-print-box
        .title Private key
        .pk {{privateKey}}

