.wallet-create-step-2(layout-fill, layout="column", layout-align="center center")

    sk-icon(icon="selfkey", size-class="icon-size-57x65")
    .title SELFKEY BASIC ID
    .description Fill in the basic details of your identity wallet.

    .content-wrapper.sk-box.shadowed
        .header
            span.none-select-text Identity Wallet Details
        form.content(name="basicInfoForm", layout="column")
            md-input-container.sk-input-box.sk-input-non-floating
                label {{ $root.DICTIONARY['first_name'] }}
                input(name="firstName", type="text", ng-model="input.first_name", ng-maxlength="500", ng-required="true")
                div(ng-messages="basicInfoForm.firstName.$error")
                    div(ng-message="maxlength") The {{ $root.DICTIONARY['first_name'] }} has to be less than 500 characters long.
                    div(ng-message="required") This field is required. Please enter {{ $root.DICTIONARY['first_name'] }}.
            md-input-container.sk-input-box.sk-input-non-floating
                label {{ $root.DICTIONARY['last_name'] }}
                input(type="text", name="lastName", ng-model="input.last_name", ng-required="true", ng-maxlength="500")
                div(ng-messages="basicInfoForm.lastName.$error")
                    div(ng-message="maxlength") The {{ $root.DICTIONARY['last_name'] }} has to be less than 500 characters long.
                    div(ng-message="required") This field is required. Please enter {{ $root.DICTIONARY['last_name'] }}.
            md-input-container.sk-input-box.sk-input-non-floating
                label {{ $root.DICTIONARY['middle_name'] }}
                input(type="text", name="middleName", ng-model="input.middle_name", ng-maxlength="500")
                div(ng-messages="basicInfoForm.middleName.$error")
                    div(ng-message="maxlength") The {{ $root.DICTIONARY['middle_name'] }} has to be less than 500 characters long.
            md-input-container.sk-input-box.sk-input-non-floating
                label {{ $root.DICTIONARY['country_of_residency'] }}
                md-select.sk-select(name="countryOfResidency", ng-model="input.country_of_residency", ng-required="true")
                    md-option(ng-value="item.name", ng-repeat="(key, item) in countryList") {{item.name}}
                div(ng-messages="basicInfoForm.countryOfResidency.$error")
                    div(ng-message="required") This field is required. Please enter {{ $root.DICTIONARY['country_of_residency'] }}.
            md-button.default.gray(style="margin: 12px 0 12px 0;", ng-click="nextStep($event, basicInfoForm)", ng-disabled="!basicInfoForm.$valid")
                span.small Create SelfKey Basic ID
