.wallet-create-step-2(layout-fill, layout="column", layout-align="center center")
    sk-icon(icon="selfkey", size-class="icon-size-57x65")
    .title SELFKEY BASIC ID
    .description Fill in the basic details of your identity wallet.

    .content-wrapper.sk-box.shadowed
        .header
            span.none-select-text Identity Wallet Details
        form#basicForm.content(name="basicInfoForm", layout="column")
            md-input-container.sk-input-box.sk-input-non-floating
                label First Name 
                input#firstName(name="firstName", type="text", ng-model="input.firstName", ng-maxlength="500", ng-required="true")
                div(ng-messages="basicInfoForm.firstName.$error")
                    div(ng-message="maxlength") The First Name has to be less than 500 characters long.
                    div(ng-message="required") This field is required. Please enter First Name.
            md-input-container.sk-input-box.sk-input-non-floating
                label Last Name
                input#lastName(type="text", name="lastName", ng-model="input.lastName", ng-required="true", ng-maxlength="500")
                div(ng-messages="basicInfoForm.lastName.$error")
                    div(ng-message="maxlength") The First Name has to be less than 500 characters long.
                    div(ng-message="required") This field is required. Please enter Last Name.
            md-input-container.sk-input-box.sk-input-non-floating
                label Middle Name
                input#middleName(type="text", name="middleName", ng-model="input.middleName", ng-maxlength="500")
                div(ng-messages="basicInfoForm.middleName.$error")
                    div(ng-message="maxlength") The Middle Name has to be less than 500 characters long.
            md-input-container.sk-input-box.sk-input-non-floating
                label Country Of Residency
            // This is for Spectrum / WebDriver not recognizing the MD tags
            if (NODE_ENV === 'test')
                select#country.sk-select(name="countryOfResidency", ng-model="input.countryOfResidency", ng-required="true")
                    option(id="{{item.name}}", value="{{item.name}}", ng-value="item.name", ng-repeat="(key, item) in countryList") {{item.name}}
            else
                md-select#country.sk-select(name="countryOfResidency", ng-model="input.countryOfResidency", ng-required="true")
                    md-option(ng-value="item.name", ng-repeat="(key, item) in countryList") {{item.name}}
                
                div(ng-messages="basicInfoForm.countryOfResidency.$error")
                    div(ng-message="required") This field is required. Please enter Country Of Residency.
            md-button#submitBasic.default.gray(style="margin: 12px 0 12px 0;", ng-click="nextStep($event, basicInfoForm)", ng-disabled="!basicInfoForm.$valid")
                span.small Create SelfKey Basic ID
