.wallet-create-step-3(layout-fill, layout="column", layout-align="center center")
    sk-icon(icon="selfkey", size-class="icon-size-57x65")
    .title SELFKEY BASIC ID
    .description BLOCKCHAIN IDENTITY WALLET
    .content-wrapper.sk-box.shadowed
        .header
            span.none-select-text Create Password
        form.content(name="passwordForm", layout="column")
            md-input-container.sk-input-box.sk-input-non-floating.no-error-spacer
                label Password
                input#pwd1(name="password", type="password", ng-model="input.password", zxcvbn="passwordStrength")
            .password-strength-container
                .blocks-container
                    .block(ng-class="{'active': passwordStrength.score >= 0}")
                    .block(ng-class="{'active': passwordStrength.score >= 1}")
                    .block(ng-class="{'active': passwordStrength.score >= 2}")
                    .block(ng-class="{'active': passwordStrength.score >= 3}")
                .status-text-container
                    span {{passwordStrength.score > 2 ? 'Strong' : 'Weak'}}
            .actions-wrapper
                md-button.default.blue(style="margin: 12px 0 12px 0;", ng-click="nextStep($event, passwordForm)")
                    span#pwdNext.primary Next
