h3.uppercase.color-primary Documents

.kyc-box.md-whiteframe-3dp.margin-top-3(ng-repeat="item in documentItems")
    .section-vertical
        .item
            .header.text-align-center {{item.type}}
            .value.text-align-center {{item.name}}
        
    .section-horizontal
        .item
            .header Attestation
            .value
                .kyc-status-box.white.text-align-center(ng-if="item.attestation === 'verified'") Verified
                .kyc-status-box.blue.cursor-pointer.text-align-center(ng-if="item.attestation === 'Request Attestation'") Request Attestation
        .item
            .header Privacy
            .value.vertical-align-center
                .kyc-status-box.green.no-borders(ng-if="item.privacy === 'public'") public
                .kyc-status-box.red.no-borders(ng-if="item.privacy === 'private'") private
    .section-horizontal
        .item
            .value(style="background-color: #F0EEEF;")
                .kyc-link(layout="row", layout-align="center center")
                    i.material-icons mode_edit
                    span.margin-left-1 edit
        .item
            .value(style="background-color: #F0EEEF;")
                .kyc-link(layout="row", layout-align="center center")
                    i.material-icons delete

.kyc-button.primary.margin-top-3(layout="row", layout-align="center center") 
    span.margin-right-2 Add Contact Info
    i.material-icons add_circle
