form(name="theForm", style="height: 100%; padding-left: 40px;", layout="column", layout-align="center center")
    
    md-input-container.sk-input-box(style="width: 100%;")
        label Enter your private key
        textarea#keyarea(name="privateKey", ng-model="userInput.privateKey", rows="3")
        div(ng-messages="theForm.privateKey.$error")
            div(ng-message="theForm.privateKey.$error.badPrivateKey") {{ theForm.privateKey.$error.badPrivateKey ? 'Incorrect private key' : '' }}
            
    md-button#pkyunlock.blue(style="width: 100%;", ng-click="unlock($event, theForm)", ng-disabled="isUnlocking")
        span {{ isUnlocking ? 'Please wait...' : 'unlock' }}