div(style="height: 100%; padding-left: 40px;", layout="column", layout-align="center end")
    
    md-input-container(style="width: 100%;")
        md-select.sk-select(ng-model="selectedKey")
            md-option(value="key1") Wallet 1
            md-option(value="key2") Wallet 2
            md-option(value="key3") Wallet 3