div(style="height: 100%; padding-left: 40px;", layout="column", layout-align="center end")
    
    md-button.gray(style="width: 100%;" ng-click="selectKystoreJsonFile()") 
        span Select Keystore File