.ico-list-item-content-wrappper
    .ico-list-item-content-wrappper__header-section(layout="row", layout-align="space-between start")
        .logo(layout="row")
            sk-icon(icon="eth",size-class="icon-size-44x44",style="padding-top:4px")
            .logo-text Bankex
                span (Finance)
        .documents-needed(layout="row")  Documents Needed
            span
    .ico-list-item-content-wrappper__content-section
        .main-content(layout="row")
            .video-container(flex="65")
                .video
                    iframe(style="width:470px; height: 300px;" src="https://www.youtube.com/embed/sGlGbFrCCUg?autoplay=0")
                .video-text BANKEX is building a new blockchain technology that allows to tokenize various types of assets.Such Smart Assets could be sold worldwide building a new generation of decentralized capital markets.
            .token-sale-container(layout="column", flex="35")
                .text-1
                    span Token Sale ends in
                    span(style="font-weight: 600") 29 DAYS
                .text-2
                    div(style="font-size:20px") $25,679,353
                    span OF
                    span $67,300,000 (38%)
                .buttons-container
                    button.join-button.no-outline  Complete Selfkey ID
                    button.gray-button.no-outline  Website
                    button.gray-button.no-outline  Whitepaper
        hr(style="width:90%; color:#303c49")
        .token-sale-content
            .token-sale-text Token Sale: 28 Nov – 28 Dec
            .token-sale-lists(layout="row")
                ul.list-1(flex="50")
                    li
                        span(style="color:#93b0c1; font-size:12px") Ticker:
                        span &nbsp; Token type: ERC20 ICO
                    li
                        span(style="color:#93b0c1; font-size:12px") Token Price:
                        span &nbsp; BKX = 0.96 USD (0.00200 ETH)
                    li
                        span(style="color:#93b0c1; font-size:12px") Fundraising Goal:
                        span &nbsp; 67,300,000 USD (140,000 ETH)
                    li
                        span(style="color:#93b0c1; font-size:12px") Sold on pre-sale:
                        span &nbsp; 20,000,000 USD (40,000 ETH)
                    li
                        span(style="color:#93b0c1; font-size:12px") Total Tokens:
                        span &nbsp; 400,000,000
                    li
                        span(style="color:#93b0c1; font-size:12px") Available for Token Sale:
                        span &nbsp; 20%

                ul.list-1(flex="50")
                    li
                        span(style="color:#93b0c1; font-size:12px") Whitelist:
                        span &nbsp; YES (10 OCT – 23 NOV, JOIN )
                    li
                        span(style="color:#93b0c1; font-size:12px") Know Your Customer (KYC):
                        span &nbsp; YES
                    li
                        span(style="color:#93b0c1; font-size:12px") Bonus for the First:
                        span &nbsp; TBA
                    li
                        span(style="color:#93b0c1; font-size:12px") Min/Max Personal Cap:
                        span &nbsp; 0.1 ETH / NO
                    li
                        span(style="color:#93b0c1; font-size:12px") Token Issue:
                        span &nbsp; AFTER ICO
                    li
                        span(style="color:#93b0c1; font-size:12px") Accepts:
                        span &nbsp; ETH, BTC, LTC, WAVES, SALT, TIME
        hr(style="width:90%; color:#303c49")
        .KYC-requirements-content
            .KYC-requirements-text KYC Requirements
            .KYC-requirements-lists(layout="row")
                .sk-list(style="margin-top: 20px;" flex="50")
                    .item
                        .bullet
                            img(src='assets/images/icons/tick.svg')
                        span Full Name

                    .item
                        .bullet
                            img(src='assets/images/icons/tick.svg')
                        span Email

                    .item
                        .bullet
                            img(src='assets/images/icons/tick.svg')
                        span Phone Number

                .sk-list(flex="50", style="margin-top: 20px;")
                    .item
                        .bullet.background-color-squash
                            span 4
                        span Passport
                        sk-icon(icon="upload",size-class="icon-size-16x16",style="margin-left:34px")

                    .item
                        .bullet.background-color-squash
                            span 5
                        span National ID
                        sk-icon(icon="upload",size-class="icon-size-16x16",style="margin-left:20px")

                    .item
                        .bullet.background-color-squash
                            span 6
                        span Utility Bill
                        sk-icon(icon="upload",size-class="icon-size-16x16",style="margin-left:32px")
