.ico-list-item-content-wrappper
    .ico-list-item-content-wrappper__header-section(layout="row", layout-align="space-between start")
        .logo(layout="row")
            sk-icon(icon="{{ico.symbol}}", size-class="icon-size-44x44", style="padding-top:4px")
            .logo-text {{ico.company}}
                span(style="margin-left: 4px;") ({{ico.category}})
        .documents-needed(layout="row") Documents Needed
            span
    .ico-list-item-content-wrappper__content-section
        .main-content(layout="row")
            .video-container(flex="65")
                .video
                    iframe(style="width:470px; height: 300px;", ng-src="{{trustSrc(ico.videos.youtube)}}")
                .video-text {{ico.description}}
            .token-sale-container(layout="column", flex="35")
                .text-1
                    span Token Sale ends in
                    span(style="font-weight: 600") {{icoData.getDaysLeft()}} DAYS
                .text-2
                    div(style="font-size:20px") $25,679,353
                    span OF
                    span $67,300,000 (38%)
                .buttons-container
                    button.no-outline(ng-if="icoStatus !== icoStatuses.REQUIREMENTS_MISSING", ng-class="getActionButtonInfo().clazz", ng-click="action($event)", ng-disabled="actionInProgress")  {{getActionButtonInfo().title}}
                    button.gray-button.no-outline  Website
                    button.gray-button.no-outline  Whitepaper
        hr(style="width:90%; color:#303c49")
        .token-sale-content
            .token-sale-text Token Sale: 28 Nov – 28 Dec
            .token-sale-lists(layout="row")
                ul.list-1(flex="50")
                    li
                        span(style="color:#93b0c1; font-size:12px") Ticker:
                        span &nbsp; Token type: ERC20 ICO
                    li
                        span(style="color:#93b0c1; font-size:12px") Token Price:
                        span &nbsp; BKX = 0.96 USD (0.00200 ETH)
                    li
                        span(style="color:#93b0c1; font-size:12px") Fundraising Goal:
                        span &nbsp; 67,300,000 USD (140,000 ETH)
                    li
                        span(style="color:#93b0c1; font-size:12px") Sold on pre-sale:
                        span &nbsp; 20,000,000 USD (40,000 ETH)
                    li
                        span(style="color:#93b0c1; font-size:12px") Total Tokens:
                        span &nbsp; 400,000,000
                    li
                        span(style="color:#93b0c1; font-size:12px") Available for Token Sale:
                        span &nbsp; 20%

                ul.list-1(flex="50")
                    li
                        span(style="color:#93b0c1; font-size:12px") Whitelist:
                        span &nbsp; YES (10 OCT – 23 NOV, JOIN )
                    li
                        span(style="color:#93b0c1; font-size:12px") Know Your Customer (KYC):
                        span &nbsp; YES
                    li
                        span(style="color:#93b0c1; font-size:12px") Bonus for the First:
                        span &nbsp; TBA
                    li
                        span(style="color:#93b0c1; font-size:12px") Min/Max Personal Cap:
                        span &nbsp; 0.1 ETH / NO
                    li
                        span(style="color:#93b0c1; font-size:12px") Token Issue:
                        span &nbsp; AFTER ICO
                    li
                        span(style="color:#93b0c1; font-size:12px") Accepts:
                        span &nbsp; ETH, BTC, LTC, WAVES, SALT, TIME
        
        hr(style="width:90%; color:#303c49")
        
        //progress="requirementsProgress", sections="sections", 
        sk-kyc-requirements-box(kyc-info="kycInfo", callback="kycRequirementsCallbacks")
        

        //.KYC-requirements-content
            .KYC-requirements-text KYC Requirements
            .KYC-requirements-lists(layout="row")
                .sk-list(flex="33", style="margin-top: 20px;", ng-repeat="section in sections")
                    .item(ng-repeat="item in section")
                        .bullet(ng-class="{'background-color-squash': !requirementsProgress[item]}")
                            img(src='assets/images/icons/tick.svg', ng-if="requirementsProgress[item]")
                            span(ng-show="!requirementsProgress[item]") {{ ($parent.$index + 1) + $index + ($parent.$index * 2) }}
                        span {{ item }}
                        sk-icon(icon="upload", size-class="icon-size-16x16", style="margin-left: 34px", ng-if="1 === 2")
