.ico-list-content-wrappper
    .ico-list-content
        .toolbar
            .contents(layout="row", layout-align="center start")
                .content.ico-list-layout-max-width(layout='row', flex='',layout-wrap)
                    .top(layout='row', layout-align="center start")
                        .logo
                            img(src="assets/images/icons/plus.svg", alt="", style="height: 44px;")
                            span.fc-white &nbsp;&nbsp;&nbsp;Initial Coin Offerings
                        .logo(style="margin-left: 15px;")
                            img(src="assets/images/icons/plus.svg", alt="", style="height: 44px;")
                            span.fc-white &nbsp;&nbsp;&nbsp;Filter

            .contents(style="height:50px;",layout="row", layout-align="center start")
                .content.ico-list-layout-max-width(layout='row', flex='',layout-wrap)
                    .top(layout='row', layout-align="space-around center")
                        .statusName
                            span.fc-white &nbsp;&nbsp;&nbsp;Active ICOs
                        .statusName
                            span.fc-white &nbsp;&nbsp;&nbsp;Upcoming ICOs
                        .statusName
                            span.fc-white &nbsp;&nbsp;&nbsp;Ended ICOs

        .ico-list-items(layout='row')
            section(layout='column')
                sk-ico-item-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"active", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')
                sk-ico-item-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"active", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')
                sk-ico-item-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"active", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')
            section(layout='column')
                sk-ico-item-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"upcoming", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')
                sk-ico-item-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"upcoming", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')
                sk-ico-item-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"upcoming", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')
            section(layout='column')
                sk-ico-item-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"inactive", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')
                sk-ico-item-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"inactive", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')
                sk-ico-item-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"inactive", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')
                //sk-ico-box(flex-xs flex-gt-xs="33", ico-data='{"id":"123", "icon": "eth", "title":"BANKEX", "category":"Finance", "totalSupply": "$66,600,000(37%)", "partialSupply": "$24,413,670", "status":"inactive", "description": "BANKEX is building a new blockchain technology that allows to tokenize various types of assets.", "daysLeft": "29", "startDate": "01-01-2018"}')





