.ico-list-content__toolbar
    .ico-list-content-wrappper.contents
        .ico-list-content.content(style="margin-right:625px;")
            .ico-list-items.top(layout='row')
                section
                    .logo
                        img(src="assets/images/icons/plus.svg", alt="", style="height: 44px;")
                        span.fc-white &nbsp;&nbsp;&nbsp;Initial Coin Offerings
                section
                    .logo(style="margin-left: 15px;")
                        img(src="assets/images/icons/plus.svg", alt="", style="height: 44px;")
                        span.fc-white &nbsp;&nbsp;&nbsp;Filter

    .ico-list-content-wrappper.contents
        .ico-list-content.content
            .ico-list-items.top(layout='row')
                section(ng-if="icos.active.length > 0")
                    .statusName
                        span.fc-white &nbsp;&nbsp;&nbsp;Active ICOs

                section(ng-if="icos.upcoming.length > 0")
                    .statusName
                    span.fc-white &nbsp;&nbsp;&nbsp;Upcoming ICOs

                section(ng-if="icos.finished.length > 0")
                    .statusName
                    span.fc-white &nbsp;&nbsp;&nbsp;Ended ICOs4

md-content
    .ico-list-content-wrappper
        .ico-list-content
            .ico-list-items(layout='row')
                section(layout='column')
                    sk-ico-item-box(ng-repeat="item in icos.active", ico-data='item')
                section(layout='column')
                    sk-ico-item-box(ng-repeat="item in icos.upcoming", ico-data='item')
                section(layout='column')
                    sk-ico-item-box(ng-repeat="item in icos.finished", ico-data='item')




