.ico-manage-requirements-content-wrappper

    #message-container

    .section(layout="row")
        .left(layout="column")
            sk-ico-details-box(progress="requirementsProgress", sections="sections", ico="ico", type="'requirements'")

            sk-id-attribute-box(data="testData1", style="margin-top: 40px;")
            sk-id-attribute-box(data="testData2", style="margin-top: 40px;")

        .right
            sk-user-info-box(user-data='{"name":"Andrew Jones","residency":"Valletta Malta","email":"andrew@joonas.com","mobile":"+ 356 345 345","passport":"Malta","nationalId":"Malta Drivers license","utilityBill":"Action Required" }')