.dashboard-content-wrappper(layout="column", layout-align="start center")

    // header
    #viewDashboard.dashboard-content-wrappper__header-section(layout="row", layout-align="start center")
        h2.proxima.white SelfKey Dashboard
    .dashboard-content-wrappper__content-section(layout="row", layout-align="center center")
        sk-token-box(symbol="{{PRIMARY_TOKEN}}", style="height: 216px;")
        sk-token-box(symbol="eth", style="height: 216px;")
        sk-custom-token-box(style="height: 216px;")

    // my crypto
    .dashboard-content-wrappper__content-section(layout="row", layout-align="center center")
        sk-circle-pie-chart(data="pieChart")

    // alerts
    //.dashboard-content-wrappper__content-section(layout="row", layout-align="center center")
        sk-action-logs-box(title="alerts", max-notifications="5")

    // reminders
    //.dashboard-content-wrappper__content-section(layout="row", layout-align="center center")
        sk-reminders-box(title="reminders")

    // transactions
    .dashboard-content-wrappper__content-section(layout="row", layout-align="center center", style="margin-bottom: 40px;")
        .sk-box.transactions-box(style="width: 100%; padding: 20px; display: inline-flex; flex-direction: column;")
            .transactions-box__header
                span(flex, style="font-size: 20px; line-height: 1.8; color: #ffffff;") Transactions
                span(flex)
                span
                    button.sk-icon-button(ng-click="$root.broadcastTxHistorySync()")
                        sk-icon(icon="refresh", size-class="icon-size-26x26")
            sk-tx-history
