.md-button {
    border-radius: 4px;
    height: auto;
    margin: 0;
    color: #ffffff !important;

    span {
        font-size: 16px;
        line-height: 0.75;
        letter-spacing: 0.7px;

        &.fs13 {
            font-family: ProximaNovaSemibold;
	        font-size: 13px;
	        font-weight: 600;
	        color: #ffffff;
        }
    }

    /**
     * Colors
     */
    &.gray {
        background-color: #435160;
        border: none;
        span {
            font-family: ProximaNovaSemibold;
            font-weight: 600;
            color: #ffffff;
        }
        &:disabled {
            background-image: none;
            border: solid 1px #435160;
            span {
                opacity: 0.6;
            }
        }
    }
    &.blue {
        background-image: linear-gradient(309deg, #08bccd, #2da1f8);
        border: none;
        span {
            font-family: ProximaNovaSemibold;
            font-weight: 600;
            color: #ffffff;
        }
        &:disabled {
            background-image: none;
            border: solid 1px #93b0c1;
            span {
                font-family: ProximaNovaRegular;
                color: #93b0c1;
            }
        }
    }
    &.green {
        background-image: linear-gradient(to bottom, #b4ec51, #429321);
        box-shadow: 0 2px 2px 0 #15222e;
        border: solid 1px #417505;
        span {
            font-family: ProximaNovaSemibold;
            font-weight: 600;
            color: #ffffff;
        }
        &:disabled {
            background-image: none;
            border: solid 1px #93b0c1;
            span {
                font-family: ProximaNovaRegular;
                color: #93b0c1;
            }
        }
    }
    &.red {
        background-color: #ed1c24;
        box-shadow: inset -1px 1px 0 0 rgba(255, 255, 255, 0.0);
        border: solid 1px rgba(0, 0, 0, 0.05);

        span {
            font-family: ProximaNovaSemibold;
            font-weight: 600;
            color: #ffffff;
        }
        &:disabled {
            background-image: none;
            border: solid 1px #93b0c1;
            span {
                font-family: ProximaNovaRegular;
                color: #93b0c1;
            }
        }
    }
    &.outline-orange {
        border: 1px solid #db7400;
        border-radius: 4px;

        span {
            font-family: ProximaNovaSemibold;
            font-weight: 600;
            opacity: 0.8;
            color: #db7400;
            font-size: 14px;
            line-height: 0.86;
            letter-spacing: 0.6px;
        }
        &:disabled {
            background-image: none;
            border: solid 1px #93b0c1;
            span {
                font-family: ProximaNovaRegular;
                color: #93b0c1;
            }
        }
    }
    &.outline-blue {
        border: 1px solid #08bccd;
        border-radius: 4px;

        span {
            font-family: ProximaNovaSemibold;
            font-weight: 600;
            opacity: 0.8;
            color: #08bccd;
            font-size: 14px;
            line-height: 0.86;
            letter-spacing: 0.6px;
        }
        &:disabled {
            background-image: none;
            border: solid 1px #93b0c1;
            span {
                font-family: ProximaNovaRegular;
                color: #93b0c1;
            }
        }
    }
    &.outline-gray {
        border: solid 1px #93b0c1;
        span {
            color: #93b0c1;
            font-family: ProximaNovaRegular;
        }
    }

    /**
     * Size
     */
    &.smallest {
        height: unset;
        min-height: unset;
        min-width: unset;
        padding: 5px 9px;
        line-height: unset;
        span {
            font-family: ProximaNovaRegular;
            font-size: 12px;
            letter-spacing: normal;
            color: #93b0c1;
            line-height: 11px;
            font-weight: unset;
        }
    }

    &.default {
        height: 44px;
    }

    /**
     * Special Buttons
     */
    &.copy {
        padding: 0;
        width: 50px;
        height: 24px;
        >span {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}
