$glowingColor: #000;

.sk-loading {
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    > .loading {
        position: absolute;
        z-index: 0;

        margin: 0;
        width: 100%;
        height: 100%;

        max-width: 100%;
        min-height: 100%;

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        background-position: center center;
        background-image: url('../../assets/images/icons/swirl.svg');
        background-repeat: no-repeat;
        background-size: 650px;
        object-fit: contain;

        animation-name: sk-loading-animation;
        animation-duration: 15.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transition-delay: now;
    }

    > .logo {
        z-index: 1;

        display: flex;

        margin: 0;
        width: 100%;
        min-height: 100%;
        height: 100%;

        flex-direction: column;
        align-items: center;
        align-content: center;
        max-width: 100%;
        justify-content: center;

        > img {
            width: 72px;
            filter: drop-shadow(0px 0px 5px $glowingColor);
            animation: sk-loading-logo-glowing 1s linear infinite alternate;
        }
    }

    > .info-container {
        display: flex !important;
        justify-content: center;
        position: absolute;
        z-index: 0;

        text-align: center;
        bottom: 20px;

        > .header {
            text-transform: uppercase;
            font-family: OrbitronMedium;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 2.6px;
            color: #0dc7dd;

            z-index: 1000;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

        > .content {
            margin-top: 15px;
            font-family: ProximaNovaRegular;
            font-size: 18px;
            line-height: 1.67;
            color: #ffffff;
        }
    }
}

@keyframes sk-loading-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-loading-logo-glowing {
    0% {
        filter: drop-shadow(0px 0px 5px $glowingColor)
    }
    25% {
        filter: drop-shadow(0px 0px 15px $glowingColor)
    }
    50% {
        filter: drop-shadow(0px 0px 25px $glowingColor)
    }
    75% {
        filter: drop-shadow(0px 0px 30px $glowingColor)
    }
    100% {
        filter: drop-shadow(0px 0px 35px $glowingColor)
    }
}
