.wallet-create-step-5(layout="column", layout-align="center center", style="z-index: 100;")
    .header-wrapper(layout="column", layout-align="center center")
        .title Setup Your SelfKey ID

    .content-wrapper.sk-box(layout="column", layout-align="center center")
        sk-icon(icon="close-dialog", size-class="icon-size-36x36",ng-click="cancel($event)", style="cursor: pointer; position: absolute; right: -18px; top: -18px;")
        .item-wrapper(layout="row", layout-align="center center")
            sk-icon(icon="create-account", size-class="icon-size-36x36", extension="png")
            .body
                .title I am creating a new SelfKey Identity Wallet
                .text
                    | Setup a new SelfKey ID to start creating your identity profile. All information is saved locally on your device.
                .actions(style="margin-top: 30px;")
                    md-button#createID.md-raised(ng-click="createBasicId($event)") Create SelfKey ID

        .sk-divider-h1(style="width: 555px;")

        .item-wrapper(layout="row", layout-align="center center")
            sk-icon(icon="zip-import", size-class="icon-size-36x36", extension="png")
            .body
                .title I was approved in the SelfKey token sale KYC.
                p.text
                    | If you were whitelisted for the SelfKey token sale, you can download a zip file from
                    a(style="cursor: pointer;", ng-click="$root.openInBrowser('http://token.selfkey.org')") &nbsp;token.selfkey.org&nbsp;
                    | to import your SelfKey ID.
                .actions(style="margin-top: 30px;")
                    md-button.md-raised(ng-click="importKycFile($event)") Import KYC File
