.wallet-create-step-1(layout-fill, layout="column", layout-align="center center")

    sk-icon(icon="selfkey", size-class="icon-size-57x65")
    .title SELFKEY

    .content-wrapper.sk-box.shadowed
        .header
            span.none-select-text Step 1: Create A Password
        form.content(name="passwordForm", layout="column")
            .icon
                img(src='assets/images/logos/icon-bank.png' height=54)
            .title
                | Protect your SelfKey Identity Wallet and Ethereum address with a password. Your
                | address is like a bank account number on the blockchain, used to send and
                | receive Ether or tokens. This password is required to unlock your wallet.

            md-input-container.sk-input-box.sk-input-non-floating.no-error-spacer.sk-field-error-tooltip-parent
                label Password
                input#pwd1(name="password", type="password", ng-model="input.password", zxcvbn="passwordStrength", ng-required="true")
                .sk-field-error-tooltip.center.default-top(ng-if="!input.password && passwordIsRequiredErr")
                    span Password is required.
            .password-strength-container
                .blocks-container
                    .block(ng-class="{'active': passwordStrength.score >= 0 && input.password.length}")
                    .block(ng-class="{'active': passwordStrength.score >= 1}")
                    .block(ng-class="{'active': passwordStrength.score >= 2}")
                    .block(ng-class="{'active': passwordStrength.score >= 3}")
                .status-text-container
                    span {{getPasswordStrengthInfo()}}

            .actions-wrapper
                md-button#pwdNext.default.blue(style="margin: 12px 0 12px 0;", ng-click="nextStep($event, passwordForm)")
                    span.primary Next
