.sk-loading
    .loading
    //.logo
        img(src="{{$root.appendStaticPath('assets/images/icons/selfkey.svg')}}", alt="")
    .info-container(ng-if="header || subHeader")
        .header {{header}}
        .content(ng-if="subHeader") {{subHeader}}
