.tx-history-container
  sk-linear-progress.progress-bar(ng-if="isSyncing")
  .sk-horizontal-devider.mt-20(ng-if="txList && txList.length")
  .list.mt-20(ng-repeat="tx in txList track by $index")
      .list-item
          .item-container(layout="row", layout-align="space-between center")
              div(layout="row", layout-align="start center")
                sk-icon(icon="{{tx.statusIcon}}", extension="png", size-class="icon-size-34x34")
                .date {{ tx.timeStamp | date:'yyyy-dd-MM'}}
                .status 
                    span {{ tx.statusText }}
                    span.symbol(ng-if="!tokenSymbol", ng-class="tx.symbol") {{tx.symbol}}
                .view-transaction
                    span (
                    span.text View Transaction
                    md-icon.external-link(md-svg-src="{{$root.appendStaticPath('assets/images/icons/external-link.svg')}}", ng-click="$root.openInBrowser(tx.externalLink)")
                    span )
              .tx-value.symbol(ng-class="tx.symbol") {{ tx.directionSign }} {{tx.value}}
          .sk-horizontal-devider.mt-20(ng-if="txList.length - 1 != $index")

