div
    token-box(crypto-currency-name="title", public-key="getPublicKeyHex", crypto-currency-short="symbol | uppercase", crypto-currency='symbol | uppercase', crypto-value='balance', to-currency="'USD'", to-value='balanceInUsd' transfer-action="navigateToTransfer")
