.member-layout.transition-anim(layout="column", layout-fill, style="position: relative;")
    .toolbar(layout="row", layout-align="center center", ng-include="'member/toolbar.html'")
    md-content.member-layout__content(ui-view="main")

