// Balances
div(layout="row", layout-align="center center", style="margin-top: 80px;")
    .sk-box(style="width: 360px; height: 236px; margin-left: 15px; margin-right: 15px;")
        span test 1
        .sk-horizontal-devider
        span test 2
    
    .sk-box(style="width: 360px; height: 236px; margin-left: 15px; margin-right: 15px;")
        span test 1
        .sk-horizontal-devider
        span test 2

    .sk-box(style="width: 360px; height: 236px; margin-left: 15px; margin-right: 15px;")
        span test 1
        .sk-horizontal-devider
        span test 2

// My Crypto
.sk-box(style="width: 1140px; height: 422px; margin-top: 30px; margin-left: 15px; margin-right: 15px;")
    span Test
    .sk-horizontal-devider
    span test

// alerts
.sk-box(style="width: 1140px; height: 150px; margin-top: 30px; margin-left: 15px; margin-right: 15px;")
    span Test
    .sk-horizontal-devider
    span test

// reminders
.sk-box(style="width: 1140px; height: 150px; margin-top: 30px; margin-left: 15px; margin-right: 15px;")
    span Test
    .sk-horizontal-devider
    span test

// Transactions
.sk-box(style="width: 1140px; height: 150px; margin-top: 30px; margin-left: 15px; margin-right: 15px;")
    span Test
    .sk-horizontal-devider
    span test


