div(layout-fill, layout="column", layout-align="center center")
    img(src="assets/images/icons/important.svg", alt="")
    .sk-box.shadowed(style="width: 80%; margin-top: 50px;")
        .header 
            span Create New Wallet
        .content(layout="column", style="padding: 24px;")
            .sk-input-container
                input.sk-input(type="text", name="password", placeholder="Set password for private key encryption")
            .sk-button.filled-blue(style="margin: 24px 0 12px 0;")
                span(style="color: #fff") Create
            .sk-button.outline-blue(style="margin: 12px 0 48px 0;", ui-sref="guest.welcome")
                span(style="color: #fff") back