.sk-loading
    .loading
    .logo
        img(src="assets/images/icons/selfkey.svg", alt="")
    .info-container
        .header Complete Setup...
        .content You can login and finish this later, if you’re not ready.