div(layout-fill, layout="column", layout-align="center center")
    img(src="assets/images/icons/important.svg", alt="")
    
    #message-container(layout="column", layout-align="center center" style="width: 780px; height: 48px;")

    .sk-box.shadowed(style="width: 780px;")
        .header
            span.none-select-text Create New Wallet
        form.content(layout="column", style="padding: 24px;")
            .sk-input-container(style="margin: 12px 0 12px 0;", ng-if="!isGenerated")
                input.sk-input(type="password", name="password", ng-model="userInput.password", placeholder="Set password for private key encryption")
            
            span.sk-text(ng-if="isGenerated") backup your keystore object

            .sk-input-container(style="margin: 12px 0 12px 0;", ng-if="isGenerated && $root.wallet")
                label Public Key
                input.sk-input(type="text", name="publicKey", value="{{$root.wallet.getAddress()}}", disabled)
            
            .sk-input-container(style="margin: 12px 0 12px 0;", ng-if="isGenerated && $root.wallet")
                label Private Key
                input.sk-input(type="text", name="privateKey", value="{{$root.wallet.getPrivateKeyHex()}}", disabled)

            .sk-button.filled-blue(style="margin: 24px 0 12px 0;", ng-click="backupKeystore($event)", ng-if="isGenerated")
                span(style="color: #fff") Backup your keystore file (UTC / JSON)

            .sk-button.filled-blue(style="margin: 24px 0 12px 0;", ng-click="createKeystore($event)", ng-if="!isGenerated")
                span(style="color: #fff") Create

            .sk-button.outline-blue(style="margin: 24px 0 12px 0;", ui-sref="member.setup.step-1", ng-if="isGenerated")
                span(style="color: #fff") Continue

            .sk-button.outline-blue(style="margin: 12px 0 48px 0;", ui-sref="guest.welcome")
                span(style="color: #fff") back