md-dialog {
    &.id-wallet-info {
        min-width: 100%;
        min-height: 100%;
        background-image: linear-gradient(121deg, #1e262e, #1e262e);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding-top: 20%;

        .id-wallet-info-wrapper {
            width: 780px;
            height: 500px;
            border-radius: 4px;
            background-color: #262f39;
            border: solid 1px #303c49;
            position: relative;

            .sk-icon {
                position: absolute;
                right: -18px;
                top: -18px;
                cursor: pointer;
            }

            .container {
                overflow: auto;

                .header {
                    width: 780px;
                    height: 65px;
                    background-image: linear-gradient(to bottom, #27313b, #1e262e);
                    box-shadow: inset 0 -1px 0 0 #303c49;
                    text-align: center;

                    > span {
                        height: 24px;
                        opacity: 0.83;
                        font-family: ProximaNovaRegular;
                        font-size: 19px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.26;
                        letter-spacing: normal;
                        text-align: center;
                        color: #ffffff;
                        display: block;
                        padding-top: 20px;
                    }
                }

                .info-section {
                    overflow: auto;
                    font-family: ProximaNovaRegular;
                    width: 700px;
                    height: 280px;
                    font-size: 18px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.67;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                    padding: 40px;

                    .text {

                        > p {

                            > span {

                                cursor: pointer;

                                &:focus {
                                    outline: none !important;
                                }
                            }
                        }

                    }
                    .logo {
                        .sk-icon {
                            margin: 0 auto;
                        }
                    }
                }

                .buttons-section {
                    margin-top: 10px;
                    float: right;

                    .md-button {

                        span {
                            width: 67px;
                            height: 12px;
                            font-family: ProximaNovaRegular;
                            font-size: 15px;
                            font-weight: 600;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 0.8;
                            letter-spacing: 0.6px;
                            text-align: center;
                            color: #ffffff;
                        }
                    }
                    .md-button:first-child {
                        width: 200px;
                        height: 48px;
                        opacity: 0.6;
                        border-radius: 4px;
                        border: solid 1px #93b0c1;
                        margin-right: 20px;
                    }
                    .md-button:nth-child(2) {

                        width: 200px;
                        height: 48px;
                        border-radius: 4px;
                        background-color: #435160;
                        margin-right: 40px;

                    }
                }
            }
        }
    }

}

.button-300 {
    width: 300px !important;
}


