md-dialog {
	&.install-trezor-bridge-warning-container {
		min-width: 100%;
		min-height: 100%;
		background-image: linear-gradient(131deg, #2b3540, #1e262e);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		* {
		}
		.body-container {
			position: relative;
			display: flex;
			max-width: 432px;
			flex-direction: column;
			border-radius: 4px;
			background-color: #262f39;
			border: solid 1px #303c49;
			box-shadow: 0 0 16px 1px #15222e;
			padding-left: 40px;
			padding-right: 40px;
			padding-top: 40px;
			font-size: 17px;
			line-height: 1.59;
			color: #ffffff;
			.header-title {
				font-weight: 600;
				opacity: 0.8;
				font-size: 18px;
				line-height: 1.4;
				color: #ffffff;
				margin-bottom: 16px;
				text-align: center;
			}
			.items {
				padding-bottom: 22px;
				.title {
					padding-bottom: 15px;
				}
				.item {
					&.url-container {
						padding-top: 20px;
						padding-bottom: 20px;
						text-align: center;
						.external-link-icon {
							width: 18px;
							height: 18px;
							margin-left: 10px;
							color: #ffffff;
							min-width: inherit;
							min-height: inherit;
						}
						span {
							outline: none;
							font-weight: bold;
							cursor: pointer;
						}
					}
					opacity: 0.8;

					font-size: 18px;
					line-height: 1.4;
					color: #ffffff;
				}
			}
			.cancal-btn {
				width: 200px;
				color: #ffffff !important;
			}
			.buttons-container {
				padding-bottom: 17px;
				bottom: 18px;
				align-items: center;
				display: flex;
				flex-direction: row;
				justify-content: center;
			}
		}
	}
}
