md-dialog {
	&.trezor-passphrase-container {
		min-width: 100%;
		min-height: 100%;
		background-image: linear-gradient(131deg, #2b3540, #1e262e);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		* {
			font-family: ProximaNovaRegular;
		}
		.main-container {
			.header-container {
				padding-bottom: 30px;
				> * {
					color: #ffffff;
				}
				.title {
					font-weight: 600;
					opacity: 0.8;
					font-size: 18px;
					line-height: 2.7;
				}
			}
			.error {
				color: #d0021b;
				text-align: center;
				padding-top: 25px;
				font-weight: bold;
				font-size: 19px;
			}
			.body-container {
				.actions-container {
					padding-top: 15px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					.action-btn {
						width: 220px;
						margin-top: 15px;
					}
				}
				.custom-checkbox {
					color: #ffffff;
				}
				md-checkbox.md-checked.custom-checkbox .md-icon {
					background-color: transparent !important;
				}
				md-checkbox.custom-checkbox .md-icon {
					border-color: #ffffff !important;
					border-width: 1px !important;
				}
				.md-input-container {
					padding-bottom: 20px;
					position: relative;
					.input {
						color: #ffffff;
						font-size: 18px;
						outline-width: 0;
						&:hover {
							opacity: 1 !important;
							border-bottom: solid 1px #fff !important;
						}
						&::-webkit-input-placeholder {
							font-size: 18px;
							color: #a9c5d6;
						}
						background: transparent;
						padding: 0px;
						border-top: none !important;
						border-left: none !important;
						border-right: none !important;
						border-bottom: solid 1px #fff !important;
						border-radius: 0px;
					}
				}
			}
		}
	}
}
