md-dialog {
	&.unlock-ledger-info-container {
		min-height: inherit !important;
		min-width: inherit !important;
		display: block !important;
		box-shadow: none !important;
		background: transparent !important;

		* {
		}
		.main-container {
			position: relative;
			margin-right: 18px;
			margin-top: 18px;
			.close-btn {
				position: absolute;
				right: -18px;
				top: -18px;
				cursor: pointer;
				z-index: 1000;
			}
		}
		.body-container {
			width: 425px;
			display: flex;
			flex-direction: column;
			border-radius: 4px;
			background-color: #262f39;
			border: solid 1px #303c49;
			box-shadow: 0 0 16px 1px #15222e;
			padding-left: 40px;
			padding-right: 40px;
			padding-top: 40px;
			font-size: 17px;
			line-height: 1.59;
			color: #ffffff;
			.header-title {
				font-weight: 600;
				opacity: 0.8;
				font-size: 18px;
				line-height: 1.4;
				color: #ffffff;
				margin-bottom: 16px;
				text-align: center;
			}
			.items {
				padding-bottom: 22px;
				.title {
					padding-bottom: 15px;
				}
				.item {
					opacity: 0.8;
					font-size: 18px;
					line-height: 1.4;
					color: #ffffff;
				}
			}
			.buttons-container {
				padding-bottom: 17px;
				bottom: 18px;
				align-items: center;
				display: flex;
				flex-direction: row;
				justify-content: center;
				text-transform: uppercase;
				> button {
					width: 140px;
					color: #ffffff !important;
				}
			}
		}
	}
}
