.manage-cryptos-container(aira-lable="Manage My Crypto")
    sk-icon.close-btn(icon="close-button", size-class="icon-size-20x20", ng-click="cancel($event)")
    .content(layout="column", layout-align="center center")
        sk-icon(icon="currency", size-class="icon-size-57x65")
        .header-text Manage My Crypto
        .header-description Manage your ERC20 tokens displayed in the dashboard.
        .add-btn-container(layout="row", layout-align="center center")
            md-button.gray(ng-click="$root.openAddCustomTokenDialog($event)")
                span.primary ADD TOKEN
        .grid-container
            crypto-price-table(toggle-action="toggleCustomToken")
