.wallet-manage-token-wrappper(layout="column", layout-align="start center", style="margin-top: 40px;")
    .header-content(style="position:relative")
        sk-icon(icon="close-dialog", size-class="icon-size-36x36", style="position: absolute; right: -18px; top: -18px; cursor: pointer;", ng-click="goToDashboard()")
        transfer-price(crypto-currency-short="symbol", crypto-currency-name="name")
        hr
        .coin-address-section
            span.your-address Your {{name}} Address:
            .generated-address(layout="row", layout-align="start center")
                .address {{publicKeyHex}}
                md-button.smallest.gray.copy
                    span(copy-to-clipboard="publicKeyHex") COPY
        hr(style="margin-top:32px")
        .buttons-section(layout="row")
            button.action-button(layout="row", ng-click="$root.openReceiveTokenDialog($event, {symbol: symbol, publicKeyHex: publicKeyHex})")
                sk-icon(icon="coins", size-class="icon-size-24x23" style="margin: 13px 17px 14px 18px")
                span.receive RECEIVE
            // button.action-button(layout="row", style="margin-left:20px", ng-click="$root.openSendTokenDialog($event, symbol, false)")
                sk-icon(icon="sent", size-class="icon-size-24x24", style="margin: 12px 14px 14px 32px")
                span.send SEND
            button.action-button(layout="row", style="margin-left:20px", ng-click="$root.openSendTransactionDialog($event, symbol, false)")
                sk-icon(icon="sent", size-class="icon-size-24x24", style="margin: 12px 14px 14px 32px")
                span.send SEND
    .body-content
        .activity-text Activity
        sk-tx-history(token-symbol="{{symbol}}")
