.md-margin.md-padding
    .margin-top-3(layout="column")
        h3.no-margins.uppercase SelfKey Issuer LLC
        span.color-secondary www.SelfKey.org/SelfKey-Issuer
    
    .margin-top-3.color-primary.font-weight-500(layout="column")
        .margin-top-2(layout="row", layout-align="start center")
            i.icon.ion-android-pin.size-1.color-secondary
            span.margin-left-3.font-size-1 Cayman Islands
        .margin-top-2(layout="row", layout-align="start center")
            i.icon.ion-email.size-1.color-secondary
            span.margin-left-3.font-size-1 Legal@selfkey.org

    .margin-top-4.color-primary.font-weight-500(layout="column")
        span.font-size-1 A company setup to issue tokens in the SelfKey token sale, and pass all proceeds along to the SelfKey Foundation.

    //h3.margin-top-4.uppercase Social Accounts
    //.margin-top-3.color-primary.font-weight-500(layout="column")
        .margin-top-2.font-size-1(layout="row", layout-align="start center")
            i.icon.ion-social-github.size-1.color-secondary
            a.margin-left-3.link-primary(href="https://github.com/cbruguera", target="_blank") github.com/cbruguera
        .margin-top-2.font-size-1(layout="row", layout-align="start center")
            i.icon.ion-social-twitter.size-1.color-secondary
            a.margin-left-3.link-primary(href="https://github.com/cbruguera", target="_blank") twitter.com/cbruguera
        .margin-top-2.font-size-1(layout="row", layout-align="start center")
            i.icon.ion-social-facebook.size-1.color-secondary
            a.margin-left-3.link-primary(href="https://facebook.com/cbruguera", target="_blank") facebook.com/cbruguera
        .margin-top-2.font-size-1(layout="row", layout-align="start center")
            i.icon.ion-social-linkedin.size-1.color-secondary
            a.margin-left-3.link-primary(href="https://www.linkedin.com/in/carlos-bruguera-00021027/", target="_blank") linkdin.com/cbruguera

    h3.margin-top-4.uppercase Attestations

    .margin-top-3.color-primary.font-weight-500(layout="column")
        .margin-top-2.font-size-1(layout="row", layout-align="start center")
            i.icon.ion-checkmark.size-1.color-secondary
            span.margin-left-3 3 Attestations received
        .margin-top-2.font-size-1(layout="row", layout-align="start center")
            i.icon.ion-checkmark.size-1.color-secondary
            span.margin-left-3 2 Notarized Documents