md-dialog.add-edit-id-attributes(aria-label="{{config.title}}")

    .document-wrapper(ng-if="config.type === 'document'")
        //.name-section
            input(type="text", ng-model="item.name", placeholder="{{config.type}} name", disabled)
        .upload-section
            .title {{config.title}}
            .content
                .section
                    // sk-icon(icon="upload", size-class="icon-size-34x44")
                    img(src="assets/images/icons/upload.svg")
                    .name Your {{config.key}}
                    .hint (Document)
                .gradient-divider
                .section(ng-click="selectFile($event)")
                    // sk-icon(icon="hard-drive", size-class="icon-size-44x44")
                    img(src="assets/images/icons/hard-drive.svg")
                    .name {{ item.value ? item.value : 'Select file' }}
                    .hint (allowed types: pdf, jpg, png)

        .action-buttons
            button.cancel(ng-click="cancel($event)") Cancel
            button.save(ng-click="save($event)") Save

    .static-data-wrapper(ng-if="config.type === 'static_data'")
        form.static-data-form(name="static-data-form")
            md-input-container.sk-input-box(ng-if="item.idAttributeType.key !== 'country_of_residency'")
                label {{$root.DICTIONARY[item.idAttributeType.type]}}
                input(type="text", name="value", ng-model="item.value")
            md-input-container.sk-input-box(ng-if="item.idAttributeType.key == 'country_of_residency'")
                label {{$root.DICTIONARY[item.idAttributeType.type]}}
                md-select.sk-select(name="value", ng-model="item.value")
                    md-option(ng-value="val.name", ng-repeat="(key, val) in countries") {{val.name}}
            .static-data-form-buttons
                button.cancel-button(ng-click="cancel($event)")
                    span Cancel
                button.save-button(ng-click="save($event)")
                    span save
