.sk-box.sk-id-attribute-box
    .default-wrapper
        .header
            .title(flex) {{ $root.DICTIONARY[data.key] }}
            .plus-button(ng-click="openAddEditDialog($event, 'add', null)", ng-if="config.showAddItemButton")
                img(src="assets/images/icons/plus.svg", alt="add", style="width: 100%")

        .description
            table
                tr
                    td Acceptable documents
                    td
                        span.fc-white You can upload documents which at least contain your personal number, first name, last name, birth date and photo

        .h-divider

        .section
            .title {{ $root.DICTIONARY[data.category] }}
            .items-container
                .item(ng-if="checkItemValue(item)", ng-repeat="(key, item) in data.items")
                    sk-icon(icon="success-box", size-class="icon-size-16x16")
                    .info-wrapper(ng-class="{selected: item.clicked}")
                        span(ng-click="item.clicked = !item.clicked") {{ data.type === 'static_data' ? item.value : $root.DICTIONARY[item.idAttributeType.key] }}
                        
                        //span(ng-if="item.idAttributeType.key === 'national_id' && item.addition.selfie") &nbsp;-&nbsp;National Id with selfie
                        //span(ng-if="item.idAttributeType.key !== 'national_id' || !item.addition.selfie") &nbsp;-&nbsp;{{ item.idAttributeType.key }}

                        .delete-dialog(ng-if="item.clicked", layout="column")
                            .header Delete Attribute and History
                            .message You are deleting this ID Attribute and all related history. Once deleted you cannot recover history
                            .buttons
                                button.confirm(ng-click="deleteAttribute(item._id, item)") Delete attribute
                                button.cancel(ng-click="item.clicked = false") Cancel Action

                .item(ng-if="!checkItemValue(item)", style="margin-top: 30px;", ng-repeat="(key, item) in data.items")
                    sk-icon(icon="{{data.type === 'document' ? 'upload': 'questionary'}}", size-class="icon-size-36x36")
                    .info-wrapper.missing(ng-click="openAddEditDialog($event, 'edit', item)")
                        span(ng-if="item.idAttributeType.key === 'national_id' && item.addition.selfie") National Id with selfie
                        span(ng-if="item.idAttributeType.key !== 'national_id' || !item.addition.selfie") {{ $root.DICTIONARY[item.idAttributeType.key] }}
                        //span(ng-if="data.type === 'document'", style="font-family: ProximaNovaRegular; color: #93b0c1; margin-top: 4px;") (Minimal size 1600x900px)

            .h-divider

            .section(ng-if="config.showHistory")
                .title History
                .items-container
                    table(ng-init="data.attached = { historyRowCount: config.historyRowCount }")
                        tr(ng-repeat="(index, step) in data.actionHistory", ng-show="index < data.attached.historyRowCount") 
                            td.fc-bluey-grey {{step.date | date:'shortDate'}}
                            td.fc-bluey-grey
                                sk-icon(icon="{{statuses[step.status].icon}}", size-class="icon-size-16x16")
                            td
                                span.fc-white {{statuses[step.status].name}} 
                                span.fc-white &nbsp; - &nbsp;
                                span.fc-white {{step.note}}
                                button.transp-button.history-step-action-button(ng-repeat="action in step.actions", ui-sref="{{action.link}}") {{action.title}}

                    .actions-container(ng-if="data.actionHistory.length > 0")
                        button(ng-click="data.attached.historyRowCount = data.attached.historyRowCount < data.actionHistory.length ? data.actionHistory.length : config.historyRowCount") {{ data.attached.historyRowCount < data.actionHistory.length ? 'View All History' : 'View Less History '}}

