div(layout-fill, layout="column", layout-align="center center")
    //sk-icon(icon="important", class="icon-size-68x74")
    img(src="assets/images/icons/important.svg", alt="")
    #message-container(layout="column", layout-align="center center" style="width: 780px; height: 48px;")

    .sk-box.shadowed(style="width: 780px;")
        .header
            span Unlock Wallet
        .content(layout="column", style="padding: 24px;")
            div(layout="row")
                span.sk-text if the following public key not belongs to you try
                a.sk-hyperlink.sk-text(ui-sref="guest.process.import-keystore") &nbsp;import&nbsp;
                span.sk-text your one.

            md-input-container.sk-select-box
                md-select(ng-model="selectedPublicKey", ng-change="changeWallet($event, selectedPublicKey)")
                    md-option(value="{{key}}", ng-repeat="key in publicKeys") {{key}}

            .sk-input-container(style="margin: 12px 0 12px 0;")
                input.sk-input(type="password", name="password", placeholder="Use your password to decrypt private key", ng-model="keystorePassword")

            .sk-button.filled-blue(style="margin: 12px 0 12px 0;", ng-click="unlock($event)")
                span(style="color: #fff") Unlock
            .sk-button.outline-blue(style="margin: 12px 0 48px 0;", ui-sref="guest.welcome")
                span(style="color: #fff") back
