.sk-offline-warning-box
    .sk-box.md-padding.body-container(layout="column", layout-align="center center")
        img(src="assets/images/icons/danger-box.svg", width="57")
        span.info-text An internet connection is required to interact with the Ethereum blockchain. 
            | Please check your connection and reopen the SelfKey Identity Wallet.
        div(layout="row", layout-align="center center")
            md-button.blue(ng-click="onOK($event)")
                span.primary OK
