md-dialog {
	&.add-edit-document {
		min-width: 100%;
		min-height: 100%;
		background-image: linear-gradient(121deg, #1e262e, #1e262e);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		> .content-wrapper {
			width: 760px;
			display: flex;
			flex-direction: column;

			#document {
				width: 100%;
				height: 400px;
				display: flex;
				flex-direction: row;

				> .content {
					width: 100%;

					> .header-wrapper {
						> .title {
							padding: 30px 30px 0 30px;

							font-size: 18px;
							color: #ffffff;
						}
					}

					> .content-wrapper {
						display: flex;
						flex: 1;
						margin: 0 auto;
						align-items: center;

						> .box {
							margin-top: -24px;

							> .clickable {
								align-items: center;
								cursor: pointer;

								> .header {
									margin-top: 36px;

									font-size: 14px;
									font-weight: 600;
									text-align: center;
									color: #ffffff;
								}

								> .sub-header {
									margin-top: 6px;

									font-size: 12px;
									text-align: center;
									color: #93b0c1;
								}
								> md-icon {
									width: 34px !important;
									height: 44px !important;
								}

								&:focus {
									outline: none !important;
								}

								&:hover {
									> md-icon {
										svg {
											path {
												fill: #0dc7dd;
											}
										}
									}
								}
							}

							&:focus {
								outline: none !important;
							}
						}
					}
				}
			}
		}

		> .actions-wrapper {
			width: 760px;
			margin-top: 24px;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.md-button {
				width: 144px;
				padding: 0 16px;

				&:last-of-type {
					margin-left: 16px;
				}
			}
		}
	}
}
