@import 'variables.scss';
@import 'helpers.scss';
@import 'reset.scss';

@import './components/sk-loading.scss';
@import './components/sk-box.scss';
@import './components/sk-button.scss';
@import './components/sk-icon-button.scss';
@import './components/sk-deviders.scss';
@import './components/sk-message.scss';
@import './components/sk-show-loading.scss';
@import './components/sk-form-inputs.scss';
@import './components/sk-list.scss';
@import './components/sk-linear-progress.scss';
@import './components/sk-form.scss';
@import './components/sk-user-info.scss';
@import './components/sk-right-sidenav.scss';
@import './components/sk-table.scss';
@import './components/sk-dropdown-menu.scss'; // TODO - change prefix of file to md (actually it is realod of md styles)
@import './components/sk-field-error-tooltip.scss';

@import './components/md-select.scss';
@import './components/md-tooltip.scss';
@import './components/md-sidenav.scss';
@import './components/md-content.scss';
@import './components/md-input.scss';
@import './components/md-button.scss';
@import './components/md-toast.scss';
@import './components/md-radio-group.scss';

@import './panels/id-attribute-delete-panel.scss';
@import './panels/json-schema-form.scss';

@import './directives/sk-close-warning-box.scss';
@import './directives/sk-offline-warning-box.scss';
@import './directives/sk-token-box.scss';
@import './directives/sk-custom-token-box.scss';
@import './directives/sk-send-token.scss';
@import './directives/sk-icon.scss';
@import './directives/sk-circle-pie-chart.scss';
@import './directives/sk-user-info-box.scss';
@import './directives/copy-to-clipboard.scss';
@import './directives/sk-double-header.scss';
@import './directives/sk-tx-history.scss';

@import './layouts/guest-layout.scss';
@import './layouts/guest-import-layout.scss';
@import './layouts/member-layout.scss';

@import './views/dashboard/main.scss';
@import './views/wallet/manage-token.scss';
@import './views/wallet/manage-cryptos.scss';

@import './dialogs/terms.scss';
@import './dialogs/startup-guide.scss';
@import './dialogs/receive-token.scss';
@import './dialogs/send-token.scss';
@import './dialogs/send-transaction';
@import './dialogs/password-warning.scss';
@import './dialogs/info-dialog.scss';
@import './dialogs/id-wallet-info.scss';
@import './dialogs/id-attributes/add-edit-document';
@import './dialogs/id-attributes/add-edit-static-data';
@import './dialogs/id-attributes/add-id-attribute';
@import './dialogs/id-attributes/forms/address';
@import './dialogs/id-attributes/forms/country';
@import './dialogs/id-attributes/forms/birth-date';
@import './dialogs/add-custom-token.scss';
@import './dialogs/new-erc20-token-info.scss';
@import './dialogs/confirmation-dialog.scss';
@import './dialogs/connecting-to-hardware-wallet.scss';
@import './dialogs/choose-hardware-wallet-address.scss';
@import './dialogs/reject-hardware-wallet-tx-warning.scss';
@import './dialogs/confirm-hardware-wallet-tx-info.scss';
@import './dialogs/unlock-ledger-info.scss';
@import './dialogs/hardware-wallet-timed-out.scss';
@import './dialogs/trezor-pin.scss';
@import './dialogs/trezor-passphrase.scss';
@import './dialogs/choose-trezor-address-pre-dialog.scss';
@import './dialogs/install-trezor-bridge-warning.scss';

@import './views/guest/create/step-1.scss';
@import './views/guest/create/step-2.scss';
@import './views/guest/create/step-3.scss';
@import './views/guest/create/step-4.scss';
@import './views/guest/create/step-5.scss';
@import './views/guest/create/step-6.scss';

@import './views/guest/import/ledger-main.scss';
@import './views/guest/import/trezor-main.scss';
@import './views/guest/import/private-key-main.scss';
@import './views/guest/import/keystore-main.scss';
@import './views/guest/import/layout.scss';

@import './views/member/setup/layout.scss';
@import './views/member/setup/checklist.scss';
@import './views/member/setup/add-document.scss';

@import './views/member/dashboard/sk-my-cryptos-box.scss'; // todo - rename (circle-pie-chart)

@import './views/member/id-wallet/main.scss';
@import './views/member/marketplace/marketplace.scss';
@import './views/member/marketplace/exchange-list.scss';
@import './views/member/marketplace/exchange-item.scss';

@import './views/member/address-book/address-book.scss';

@import './views/member/selfkey-id/selfkey-id.scss';

.fixed-tooltip-container {
	position: relative;

	&:hover {
		.fixed-tooltip {
			visibility: visible !important;
			opacity: 1 !important;
		}
	}
}

.wave {
	position: relative;
	margin-left: 13px;
	margin-right: 13px;
	.dot {
		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		margin-right: 3px;
		background: #0fb8d0;
		animation: wave 1.3s linear infinite;

		&:nth-child(2) {
			animation-delay: -1.1s;
		}

		&:nth-child(3) {
			animation-delay: -0.9s;
		}
	}
}

@keyframes wave {
	0%,
	60%,
	100% {
		transform: initial;
	}

	30% {
		transform: translateY(-10px);
	}
}

.fixed-tooltip {
	height: auto;
	width: 195px;
	border-radius: 4px;
	background-color: #262f39;
	border: solid 1px #303c49;
	visibility: hidden;
	color: #fff;
	text-align: center;
	position: absolute;
	z-index: 1;
	left: -42px;
	top: 20px;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;

	font-size: 14px;
	font-weight: 600;
	line-height: 1.36;
	padding: 16px;

	&:before {
		content: '';
		position: absolute;
		top: -11px;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent #303c49 transparent;
	}

	> div {
		> span {
			margin-left: 3px;
			cursor: pointer;

			&:focus {
				outline: none !important;
			}
		}
	}
}

.bg-gradient {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(1, rgb(213, 234, 241)),
		color-stop(1, rgb(223, 227, 226))
	);
	background: -moz-linear-gradient(top, #4a0c6b 0%, #669966 100%); /* FF3.6+ */
	background: -moz-linear-gradient(
		top,
		rgba(213, 234, 241, 1) 0%,
		rgba(223, 227, 226, 1) 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		top,
		rgba(213, 234, 241, 1) 0%,
		rgba(223, 227, 226, 1) 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5eaf1', endColorstr='#dfe3e2', GradientType=0); /* IE6-9 */
	background: linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* W3C */
}

.gradient-1 {
	background-image: linear-gradient(121deg, #2b3540, #1e262e);
}

.gradient-3 {
	background-image: linear-gradient(274deg, #08bccd, #2da1f8);
}

$buttonBackground: #2c3e50;
$buttonColor: rgba(255, 255, 255, 1);

.sk-text {
	font-size: 18px;
	line-height: 1.89;
	color: #fff;
	user-select: none;
	cursor: default;
}

.sk-hyperlink {
	cursor: pointer !important;
	color: #08bccd;
	text-decoration: none;
	z-index: 1;
	user-select: none;
	outline: none;

	&:hover {
		color: #5ba3d6 !important;
	}
}

.no-transaction-title {
	font-size: 18px;
	font-weight: 300;
	color: #93b0c1;
	margin-top: 30px;
}
