$primaryColor: #29303a;
$primaryColorHovered: #323a44;

$secondaryColor: #3db4f8;
$bgColor: #eff6f6;

$white: #ffffff;
$grey: #93b0c1;

// margins
$margin-1: 4px;
$margin-2: 8px;
$margin-3: 16px;
$margin-4: 32px;

// fonts
@font-face {
	font-family: 'OrbitronMedium';
	src: url('../../assets/fonts/orbitron-medium/orbitron-medium.eot?') format('eot'),
		url('../../assets/fonts/orbitron-medium/orbitron-medium.woff') format('woff'),
		url('../../assets/fonts/orbitron-medium/orbitron-medium.ttf') format('truetype'),
		url('../../assets/fonts/orbitron-medium/orbitron-medium.svg#Orbitron-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 300;
	src: url('../../assets/fonts/proxima-nova-light/ProximaNova-Light.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	font-weight: 300;
	src: url('../../assets/fonts/proxima-nova-lightitalic/ProximaNova-LightItalic.otf');
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	src: url('../../assets/fonts/proxima-nova-regular/ProximaNova-Regular.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	src: url('../../assets/fonts/proxima-nova-regitalic/ProximaNova-RegItalic.otf');
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 600;
	src: url('../../assets/fonts/proxima-nova-semibold/ProximaNova-Semibold.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	font-weight: 600;
	src: url('../../assets/fonts/proxima-nova-semibolditalic/ProximaNova-SemiboldItalic.otf');
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 700;
	src: url('../../assets/fonts/proxima-nova-bold/ProximaNova-Bold.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	font-weight: 700;
	src: url('../../assets/fonts/proxima-nova-boldit/ProximaNova-BoldIt.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 800;
	src: url('../../assets/fonts/proxima-nova-extrabold/ProximaNova-Extrabold.otf');
}

$font-family: 'Proxima Nova', arial, sans-serif;
