.wallet-create-step-3 {
    height: 100%;

    .title {
        margin-top: 24px;
        user-select: none;
        font-family: ProximaNovaSemibold;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff;
    }
    .description {
        font-family: ProximaNovaRegular;
        margin-top: 18px;
        opacity: 0.8;
        font-size: 18px;
        line-height: 1.89;
        text-align: center;
        color: #ffffff;
        margin-top: 15px;
        user-select: none; 
    }
    
    .content-wrapper {
        margin-top: 30px;
        
        md-input-container {
            margin: 14px 0;
        }
    }
}