.exchange-container
    md-button.gray.default.back
        span.primary Back
    .exchange
        .exchange-content
            .header
                .logo
                    img(src='assets/images/icons/selfkey.svg', width=36)
                    span.name Gatecoin

            .body
                .section
                    .section-content
                        .textual
                            .text {{text}}

                            md-button.gray.default(ng-if="text.length > 300")
                                span.primary View All Details

                .section
                    .section-content
                        .title Exchange Highlights
                        .columns
                            .column
                                div
                                    label
                                        span Location:
                                    strong Honng Kong

                                div
                                    label
                                        span Year Launched:
                                    strong 2016

                                div
                                    label
                                        span Coin Pairs:
                                    strong 69

                                div
                                    label
                                        span Maker Fee:
                                    strong 2.0%

                                div
                                    label
                                        span Taker Fee:
                                    strong 1.5%


                                div
                                    label
                                        span Url:
                                    strong www.getecoin.com


                            .column
                                div
                                    label
                                        span Fiat Payments:
                                    strong Bank Transfer, Paypal

                                div
                                    label
                                        span Fiat Supported:
                                    strong HKD, EUR, USD

                                div
                                    label
                                        span Margin Trading:
                                    strong No

                                div
                                    label
                                        span KYC/AML:
                                    strong Yes

                                div
                                    label
                                        span Excluded residents:
                                    strong USA

                                div
                                    label
                                        span Contact Support:
                                    strong www.support@getecoin.com

                .section
                    .section-content
                        .title KYC Requirements
                        .columns
                            .column
                                div
                                    label
                                        span icon
                                    strong First Name

                                div
                                    label
                                        span icon:
                                    strong Last Name

                                div
                                    label
                                        span icon
                                    strong country of residence

                            .column
                                div
                                    label
                                        span icon
                                    strong National ID

                                div
                                    label
                                        span icon
                                    strong National ID Selfie





