.ico-accept-terms-content-wrappper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    >#message-container {
        //@include reset(div);
        width: 1140px;
        height: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    >.section {
        //@include reset(div);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        >.left {
            display: flex;
            flex-direction: column;
            min-width: 760px;
            max-width: 760px;
            >.contribute {
                .title {
                    font-family: ProximaNovaRegular;
                    font-size: 18px;
                    line-height: 2;
                }
                md-checkbox {
                    margin-bottom: 24px;
                    .md-label {
                        padding-left: 8px;
                        font-family: ProximaNovaRegular;
                        font-size: 16px;
                        line-height: 1.75;
                    }
                    .md-ink-ripple {
                        top: 0;
                        transform: initial;
                        width: 24px;
                        height: 24px;
                        border-radius: 4px;
                        background-color: #3b4b59;
                        border: solid 1px #495b70;
                        color: #ffffff;
                        .md-icon {
                            border: none;
                            background-color: transparent;
                            width: 16px;
                            height: 12.2px;
                            &::after {
                                left: 7.66667px;
                                top: 2.22222px;
                                width: 8.66667px;
                                height: 15.33333px;
                            }
                        }
                    }
                    .md-ripple-container {
                        color: #ffffff;
                    }
                }
                .send-btn {
                    text-transform: uppercase;
                    width: 232px;
                    height: 50px;
                    opacity: 0.3;
                    border-radius: 4px;
                    background-image: linear-gradient(342deg, #08bccd, #2da1f8);
                    box-shadow: 0 2px 2px 0 #15222e;
                    border-color: transparent;
                    outline: none;
                    .title {
                        opacity: 0.8;
                        /*0.4*/
                        font-family: ProximaNovaRegular;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1.5;
                        letter-spacing: 0.7px;
                        color: #ffffff;
                    }
                }
                .active {
                    opacity: 1 !important;
                    .title {
                        opacity: 1 !important;
                    }
                }
            }
        }
        >.right {
            display: flex;
            flex-direction: column;
            min-width: 350px;
            max-width: 350px;
            margin-left: 30px;
        }
    }
}