.kyc-left-sidebar.bg-gradient(flex="20", layout="column", layout-align="start center")
    //.md-padding(layout="column", layout-align="start center", style="width: 100%;")
        .md-padding.md-whiteframe-1dp(style="background-color: #3DB4F8; text-align: center; font-weight: bold; color: #fff; width: 70%;") My Keys
.content.md-padding(ui-view="main", flex, layout="column")


