.id-attribute-delete-panel
    .header-wrapper
        span Delete Value and History
        md-button.md-icon-button(ng-click="cancel($event)")
            md-icon(md-svg-src="assets/images/icons/close-dialog.svg")
    .content-wrapper
        span You are deleting this value and all related history. Once deleted, you cannot recover the history.
    .actions-wrapper
        md-button.red(ng-click="delete($event)", ng-disabled="promise.$$state.status")
            span.fs13 Delete Value
        md-button(ng-click="cancel($event)")
            span.fs13 Cancel Action
