div(style="height: 100%; padding-left: 40px;", layout="column", layout-align="end center")
    md-button.blue(style="width: 100%;", ng-click="$root.openConnectingToLedgerDialog($event)")
        span(style="text-transform: uppercase;") connect to ledger