.header
    span.none-select-text Save Your Private Key
form.content(layout="column", style="padding: 24px;")
    
    md-input-container.sk-input-box.no-error-spacer
        label Your Private Key
        input(name="privateKey", ng-model="privateKey", type="text", placeholder="Your Private Key", disabled)

    .sk-button.filled-blue(style="margin: 24px 0 12px 0;", ng-click="printPaperWallet($event)")
        span(style="color: #fff") Print Paper Wallet

    span.sk-text Do not lose it! It cannot be recovered if you lose it.
    span.sk-text Do not share it! Your funds will be stolen if you use this file on a malicious/phishing site.
    span.sk-text Make a backup! Secure it like the millions of dollars it may one day be worth.

    .sk-button.outline-blue(style="margin: 24px 0 12px 0;", ui-sref="member.setup.step-1")
        span(style="color: #fff") Complete