.sk-ico-details-box {
    padding: 0;

    font-family: ProximaNovaRegular;

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #93b0c1;
        margin: 1em 0;
        padding: 0;
    }

    table {
        width: 100%;

        tr {
            td {
                &.one {
                    line-height: 1.25;
                }
            }
        }
        
    }

    .amountValue {
        font-family: ProximaNovaLight;
        font-size: 40px;
        font-weight: 300;
        color: #ffffff;
    }

    .label {
        font-size: 14px;
        color: #93b0c1
    }

    .requiremet-label {
        font-size: 14px;
        color: #93b0c1;
        margin-top: 26px;
        margin-left: 20px;
    }

    .icon-grey {
        > svg {
             fill: #93b0c1;
        }
    }

    .icon-green {
        > svg {
             fill: green;
        }
    }

    .icon-orange {
        > svg {
             fill: orange;
        }
    }

    .sk-ico-details-box__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: inherit;

        padding: 16px 30px;

        span {
            font-family: ProximaNovaRegular;
            font-size: 20px;
            line-height: 1.8;
            color: #ffffff;
            margin-left: 16px;
        }
      .status-container {
        font-family: ProximaNovaRegular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: right;
        padding: 20px 0;
        margin-left: auto;

        &.requirements {
          color: #f5a623;

          > span {
            background-color: #f5a623;
          }
        }

        &.info {
          color: green;

          > span {
            background-color: green;
          }
        }

        > span {
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 100px;
          margin-left: 10px;
        }
      }
        > button {
          width: 112px;
          height: 36px;
          border-radius: 4px;
          background-color: #232b34;
          border: solid 1px #3b4a5b;
            margin-left: auto;
            outline: none;

           > span{
             width: 31px;
             height: 19px;
             font-family: ProximaNovaSemibold;
             font-size: 14px;
             font-weight: 600;
             font-style: normal;
             font-stretch: normal;
             line-height: 1.36;
             letter-spacing: normal;
             color: #93b0c1;
             margin: 0;
          }

        }
    }

    .sk-ico-details-box__content {
        padding: 30px;

        table {
            font-family: ProximaNovaRegular;
            font-size: 16px;
            line-height: 2.25;
            color: #ffffff;
        }
        .title span {
            font-weight: 600;
            letter-spacing: 0.010em;
            line-height: 1.6em;
            margin: 0.8em 0 1.6em;
            color: #ffffff;
            font-size: 16px;
        }
        .description{
            p{
                font-weight: 400;
                letter-spacing: 0.010em;
                line-height: 1.6em;
                margin: 0.8em 0 1.6em;
            }
        }
      .price {
        color: white;
      }
    }

    .sk-ico-details-box__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        padding: 0 30px 30px 30px;

        .days{
            font-family: ProximaNovaRegular;
            font-size: 13px;
            color: #93b0c1;
            padding-top: 3px;
        }

    }
}
