.sk-id-attribute {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 30px;
    margin-bottom: 30px;

    .title-main {
        font-family: ProximaNovaMedium;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
    }

    >.header-wrapper {
        width: 100% !important;
        display: flex;
        flex-direction: column;

        border-bottom: 1px solid #384047;
        padding-bottom: 40px;

        >.title-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            >span {
                flex: 1;
                color: #fff;
            }

            .add-button {
                width: 24px;
                md-icon {
                    margin: 0;
                }
            }
        }

        >.description-wrapper{
            margin-top: 36px;
            display: flex;

            >span {
                font-family: ProximaNovaSemibold !important;
                font-size: 14px !important;
                font-weight: 600;
                line-height: 1.36;
                &:first-of-type {
                    width: 110px;
                    color: #93b0c1;
                }
                &:last-of-type {
                    color: #ffffff;
                }
            }
        }
    }

    >.body-wrapper {
        width: 100% !important;
        margin-top: 0 !important;

        >.documents-wrapper {
            display: flex;
            flex-direction: column;
            width: 100% !important;
            margin-top: 40px !important;

            border-bottom: 1px solid #384047;
            padding-bottom: 30px;

            >.title-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                >span {
                    flex: 1;
                }

                >.add-button {

                }

                >.delete-button {
                    margin-left: 16px;
                }
            }

            >.content-wrapper {
                margin-top: 15px;

                >.item-wrapper {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 8px;
                    cursor: pointer;

                    &:hover {
                        border-radius: 4px;
	                    background-color: #1e262e;
                    }

                    >.title {
                        margin-left: 16px;
                        font-family: ProximaNovaSemibold;
                        font-size: 14px;
                        font-weight: 600;
                        color: #ffffff;
                        flex: 1;
                    }

                    .actions {
                        display: flex;
                        flex-direction: row;

                        >.edit-button {
                            width: 16px !important;
                            md-icon {
                                width: 16px !important;
                                svg {
                                    width: 16px !important;
                                }
                            }
                        }
                        >.delete-button {
                            margin-left: 16px;
                            width: 16px !important;
                            md-icon {
                                width: 16px !important;
                                svg {
                                    width: 16px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
 * ID Attribute Delete Panel
 */
.value-delete-panel {
    border-radius: 2px;
    background-color: #1e262e;
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 400px;
    padding: 20px;

    >.header-wrapper {
        width: auto !important;
        display: flex;
        flex-direction: row;
        align-items: center;

        >span {
            flex: 1;
            font-family: ProximaNovaRegular;
            font-size: 17px;
            font-weight: 500;
            line-height: 1.29;
            color: #ffffff;
        }
    }

    >.content-wrapper {
        margin-top: 22px;
        font-family: ProximaNovaMedium;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.46;
	    color: #93b0c1;
    }

    >.actions-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 22px;

        >.md-button {
            >span {
                margin: 0 20px;
            }

            &:first-of-type {
                border: none;
                box-shadow: transparent;
            }
            &:last-of-type {
                margin-left: 8px;
            }
        }
    }
}
