@import '../mixins/reset.scss';
.sk-kyc-requirements-box {

    > .title {
        @include reset(div);

        font-family: ProximaNovaRegular;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

    > .content {
        .sk-list {
            span {
                font-size: 14px;
            }
        }
    }
  }