.ico-accept-terms-content-wrappper

    #message-container

    .section(layout="row")
        .left(layout="column")
            sk-ico-details-box(flex, ico="ico", type="'info'")

            .sk-box.sk-ico-item-box.contribute(style="margin-top: 40px;")
                .header.sk-ico-item-box__header
                    span Contribute
                .sk-ico-item-box__content
                    .description.fc-white
                        p.title Before you can contribute:
                        div(layout="column")
                            md-checkbox(flex, ng-model="terms['1']") Check here to indicate that you have read the Whitepaper.
                            md-checkbox(flex, ng-model="terms['2']") Check here to indicate that you have read,understand and agree to the Terms &  Contitions for token Sale. By checking box, you agree that you are legally bound by such Terms and Coonditions
                            md-checkbox(flex, ng-model="terms['3']") Check here to indicate you agree to sending all your  SelfKey Identity Wallet Attributes listed here to ICO
                        md-button.blue(ng-click="sendEth($event)", style="width: 230px;", ng-disabled="!terms['1'] || !terms['2'] || !terms['3']")
                            span Send Eth

        .right
            sk-user-info-box