.ico-list-item-content-wrappper
    .ico-list-item-content-wrappper__header-section(layout="row", layout-align="space-between start", style="position:relative")
        .logo(layout="row")
            sk-icon(icon="{{ico.symbol}}", size-class="icon-size-44x44", style="padding-top:4px")
            .logo-text {{ico.company}}
                span(style="margin-left: 4px;") ({{ico.category}})
        sk-icon(icon="close-dialog", size-class="icon-size-36x36", style="position: absolute; right: -18px; top: -18px; cursor: pointer;", ng-click="goToDashboard()")
        .status-container(ng-if="isSusbscribed && kycProgress", layout="row", ng-class="green") 
            | Requirements Are Approved
            span
    .ico-list-item-content-wrappper__content-section
        .main-content(layout="row")
            .video-container(flex="65")
                .video
                    iframe(style="width:470px; height: 300px;", ng-src="{{trustSrc(ico.videos.youtube)}}")
                .video-text {{ico.description}}
            .token-sale-container(layout="column", flex="35")
                .text-1
                    span Token Sale ends in
                    span(style="font-weight: 600") {{ico.daysLeft}} DAYS
                .text-2
                    div(style="font-size:20px") {{ico.cap.raised | number}}
                    span OF
                    span {{(ico.cap.total | number) + ' ' + '(' + ico.cap.capPercent + '%' + ')'}}
                .buttons-container
                    md-button.green(ng-click="gotToTokenSale($event)")
                        span Join Token Sale
                    button.gray-button.no-outline(ng-click="$root.openInBrowser(ico.website)") Website
                    button.gray-button.no-outline(ng-click="$root.openInBrowser(ico.whitepaper)") Whitepaper
        hr(style="width:90%; color:#303c49")
        .token-sale-content
            .token-sale-text Token Sale: {{ico.startDate | date:'dd MMM'}} – {{ico.endDate | date:'dd MMM'}}
            .token-sale-lists(layout="row")
                ul.list-1(flex="50")
                    li
                        span(style="color:#93b0c1; font-size:12px") Ticker:
                        span &nbsp; {{ico.symbol}}
                    li
                        span(style="color:#93b0c1; font-size:12px") Token Price:
                        span &nbsp; {{ico.token.price}}
                    li
                        span(style="color:#93b0c1; font-size:12px") Fundraising Goal:
                        span &nbsp; {{ico.cap.total | number}} USD
                    li
                        span(style="color:#93b0c1; font-size:12px") Sold on pre-sale:
                        span &nbsp; {{ico.token.soldOnPresale | number}} USD
                    li
                        span(style="color:#93b0c1; font-size:12px") Total Tokens:
                        span &nbsp; {{ico.token.total | number}}
                    li
                        span(style="color:#93b0c1; font-size:12px") Available for Token Sale:
                        span &nbsp; {{ico.tokenSalePercent ? (ico.tokenSalePercent + '%') : ico.token.totalOnSale}}

                ul.list-1(flex="50")
                    li
                        span(style="color:#93b0c1; font-size:12px") Whitelist:
                        span &nbsp; {{ico.whitelist}}
                    li
                        span(style="color:#93b0c1; font-size:12px") Know Your Customer (KYC):
                        span &nbsp; {{ico.kyc.required ? 'YES' : ''}}
                    li
                        span(style="color:#93b0c1; font-size:12px") Bonus for the First:
                        span &nbsp; TBA
                    li
                        span(style="color:#93b0c1; font-size:12px") Min/Max Personal Cap:
                        span &nbsp; {{ico.restrictions.minContribution + '/' + ico.restrictions.maxContribution}}
                    li
                        span(style="color:#93b0c1; font-size:12px") Token Issue:
                        span &nbsp; {{ico.token.issuance}}
                    li
                        span(style="color:#93b0c1; font-size:12px") Accepts:
                        span(ng-repeat='token in ico.accepts') &nbsp; {{token}}

        hr(style="width:90%; color:#303c49")

        sk-kyc-requirements-box(kyc-info="kycInfo")