.ico-manage-requirements-content-wrappper

    #message-container(style="width: 1140px;")

    .section(layout="row")
        .left(layout="column")
            sk-ico-details-box(kyc-info="kycInfo", ico="ico", type="'requirements'", config="icoDetailsBoxConfig")

            sk-id-attribute-box(ng-repeat="item in missingRequirementsList", data="item", config="idAttrbuteBoxConfig" style="margin-top: 40px;")
            
        .right
            sk-user-info-box(user-data='{"name":"Andrew Jones","residency":"Valletta Malta","email":"andrew@joonas.com","mobile":"+ 356 345 345","passport":"Malta","nationalId":"Malta Drivers license","utilityBill":"Action Required" }')
