.wallet-content-wrappper(layout="column", layout-align="start center", style="width: 1140px;")

    .header(ng-click="addIdAttribute($event)")
        span SelfKey Identity Wallet
        md-icon(md-svg-src="assets/images/icons/plus.svg")

    div(layout="row", layout-align="start start", style="margin-top: 40px;")
        div(layout="column") 
            //div(layout="column")
                sk-alerts-box

            div(layout="column")
                sk-reminders-box(style="width: 760px !important;")

            div(layout="column", style="margin-top: 20px;")
                sk-wallet-history-item(style="width: 760px !important;")
                sk-wallet-history-item(style="width: 760px !important;")
                sk-wallet-history-item(style="width: 760px !important;")
            
            div(layout="column", style="margin-top: 20px;", ng-if="1 === 2")
                sk-wallet-general-info-box(style="width: 760px !important;")
            
            div(layout="column", style="margin-top: 20px;")
                sk-id-attribute-box(ng-repeat="item in allIdAttributesList", id="{{item.key}}" data="item", config="idAttrbuteBoxConfig" style="width: 760px; margin-top: 40px;")
                
        sk-user-info-box(style="width: 350px !important; margin-left: 30px;")

