.content
    md-input-container.sk-input-box.sk-input-non-floating.cusom-date-picker
        label Date of Birth
        input(name="birthDate", type="date", max="{{currentDate | date:'YYYY-MM-DD'}}", ng-model="inputs.line1", data-date="" data-date-format="YYYY/MM/DD" ng-change="dateChange(inputs.line1)" ng-required="true")

.birth-date-actions-wrapper
    md-button.outline-gray(ng-click="close($event)")
        span.primary cancel
    md-button.blue(ng-click="save($event, theForm)", ng-disabled="isFormInvalid(theForm)", sk-button-loading="savePromise.$$state.status")
        span.primary save

