.content
    md-input-container.sk-input-box.sk-input-non-floating.hide-input-invalid-mark
        label {{ $root.DICTIONARY[idAttributeType] }}
        md-select.sk-select(name="nationality", ng-model="inputs.line1", ng-required="true", ng-keydown="ignoreEnterKey($event)")
            md-option(ng-value="item.name", ng-repeat="(key, item) in countryList") {{item.name}}

.country-actions-wrapper
    md-button.outline-gray(ng-click="close($event)")
        span.primary cancel
    md-button.blue(ng-click="save($event, theForm)", ng-disabled="isFormInvalid(theForm)", sk-button-loading="savePromise.$$state.status")
        span.primary save
