.keystore-layout-wrapper(layout-fill, layout="column", layout-align="center center")
    .logo-container(layout="column", layout-align="center center")
        img(src="assets/images/icons/selfkey.svg", alt="")
        .logo-title selfkey

    .sk-box.shadowed(style="width: 880px;")
        .header(style="position: relative;")
            span Use An Existing ETH Address
            sk-icon(icon="close-dialog", size-class="icon-size-36x36",ng-click="cancel($event)", style="cursor: pointer; position: absolute; right: -18px; top: -18px;")
        .content(layout="column", layout-align="start stretch")
            .content-wrapper
                    md-radio-group(layout="row",layout-align="space-around start", md-no-ink, ng-model="selectedOption", ng-change="onRadioButtonChange($event)")
                        .option-item-container(layout="column", layout-align="space-between center", ng-repeat="option in options")
                            sk-icon(icon="{{option.icon}}", extension="png", size-class="icon-size-34x34")
                            .title-container 
                                .title {{option.title}}
                                .title(ng-if="option.subTitle") {{option.subTitle}}
                            md-radio-button(md-no-ink, ng-disabled="option.disabled", value="{{option.value}}")
            .sk-horizontal-devider
            .main-view-container(layout="column", layout-align="center center", flex, ui-view="main")
