.sk-my-cryptos-box {
    width: 100% !important;
    padding: 20px;

    >.header {
        background-image: unset;
        box-shadow: unset;
        border-radius: 0;

        width: 100% !important;

        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: center;

        > span {
            font-family: ProximaNovaRegular;
            font-size: 20px;
            line-height: 1.8;
            color: #ffffff;
        }

        > button {
            flex-direction: row;
            align-items: center;
            justify-content: center;

            > span {
                margin: 0 12px 0 0;
                color: #93b0c1;
            }
        }
    }

    > .sk-horizontal-devider {
        margin-top: 20px;
    }

    > sk-circle-pie-chart {
        padding-top: 30px;
    }

    > .get-key {
        display: flex;
        flex-direction: row;
        cursor: pointer;

        margin-top: 30px;

        > span {
            margin-left: 12px;
            font-family: ProximaNovaLight;
            font-size: 18px;
            font-weight: 300;
            color: #93b0c1;
        }
    }
}
