md-dialog.password-warning(aira-lable="Protect Your Wallet")
    .wrapper
        .header-wrapper(layout="column", layout-align="center center", style="")
            img(src="assets/images/icons/warning.svg")

        .body-wrapper.sk-box.shadowed(layout="column", layout-align="center center")
            .header
                span Protect Your Wallet
            .content
                span
                    | The SelfKey Identity Wallet protects your wallet and Ethereum address with a password.
                    | You must remember this password to unlock the wallet.
                    | It cannot be restored or reset.
                    | As the wallet is stored locally in your device,
                    | SelfKey does not have access and cannot help you if the password is lost.

                md-button#protectWallet.outline-orange(ng-click="accept($event)", sk-button-loading="isLoading")
                    span I Understand, There Is No Way To Recover This Password

