.dashboard-content-wrappper {
    > * {
        min-width: 1140px;
        max-width: 1140px;
    }

    .dashboard-content-wrappper__header-section {
        margin-top: 80px;
    }

    .dashboard-content-wrappper__content-section {
        margin-top: 30px;

        > *:not(:last-child) {
            width: 33%;
            margin-left: 15px;
            margin-right: 15px;
        }

        .sk-box {
            &:first-of-type {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .sk-tasks-box {
            margin-right: 0;
            margin-left: 0;
        }
        .disable-opacity {
            opacity: 0.4;
        }
    }
}   
