@import 'variables.scss';
@import 'helpers.scss';
@import 'reset.scss';
@import '../../../../node_modules/angular-material/angular-material.scss';

@import './mixins/reset.scss';

@import './components/sk-loading.scss';
@import './components/sk-box.scss';
@import './components/sk-button.scss';
@import './components/sk-icon-button.scss';
@import './components/sk-vertical-devider.scss';
@import './components/sk-message.scss';
@import './components/sk-show-loading.scss';
@import './components/sk-form-inputs.scss';
@import './components/sk-list.scss';
@import './components/sk-linear-progress.scss';
@import './components/sk-form.scss';
@import './components/sk-slider.scss';
@import './components/sk-double-header.scss';
@import './components/sk-tasks-box.scss';
@import './components/sk-right-sidenav.scss';
@import './components/sk-table.scss';
@import './components/sk-dropdown-menu.scss'; // TODO - change prefix of file to md (actually it is realod of md styles)
@import './components/sk-scrollbar.scss';

@import './components/md-select.scss';
@import './components/md-tooltip.scss';
@import './components/md-sidenav.scss';
@import './components/md-content.scss';
@import './components/md-input.scss';
@import './components/md-button.scss';

@import './directives/sk-token-box.scss';
@import './directives/sk-send-token.scss';
@import './directives/sk-icon.scss';
@import './directives/sk-circle-pie-chart.scss';
@import './directives/sk-wallet-history-item.scss';
@import './directives/sk-reminders-box.scss';
@import './directives/sk-action-logs-box.scss';
@import './directives/sk-wallet-general-info-box.scss';
@import './directives/sk-id-attribute-box.scss';
@import './directives/sk-ico-item-box.scss';
@import './directives/sk-ico-details-box.scss';
@import './directives/sk-user-info-box.scss';
@import './directives/sk-kyc-requirements-box.scss';

@import './layouts/guest-welcome-layout.scss';
@import './layouts/member-layout.scss';

@import './partials/sk-documents-setup.scss';
@import './partials/sk-my-cryptos-box.scss';

@import './views/dashboard/main.scss';
@import './views/wallet/main.scss';
@import './views/wallet/manage-token.scss';
@import './views/setup/completed.scss';

@import './dialogs/terms.scss';
@import './dialogs/startup-guide.scss';
@import './dialogs/receive-token.scss';
@import './dialogs/send-token.scss';
@import './dialogs/add-custom-token.scss';
@import './dialogs/add-id-attribute.scss';

@import './views/setup/step-1.scss';
@import './views/setup/wallet-setup.scss';

@import './views/marketplace/ico-list.scss';
@import './views/marketplace/ico-list-item.scss';
@import './views/marketplace/ico-manage-requirements.scss';
@import './views/marketplace/ico-accept-terms.scss';

.bg-gradient {
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  left bottom,
                  color-stop(1, rgb(213, 234, 241)),
                  color-stop(1, rgb(223, 227, 226))
  );
  background: -moz-linear-gradient(top, #4a0c6b 0%, #669966 100%); /* FF3.6+ */
  background: -moz-linear-gradient(top, rgba(213, 234, 241, 1) 0%, rgba(223, 227, 226, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(213, 234, 241, 1) 0%, rgba(223, 227, 226, 1) 100%); /* Chrome10-25,Safari5.1-6 */

  background: -o-linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5eaf1', endColorstr='#dfe3e2', GradientType=0); /* IE6-9 */
  background: linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* W3C */
}

.gradient-1 {
  background-image: linear-gradient(121deg, #2b3540, #1e262e);
}

.gradient-3 {
  background-image: linear-gradient(274deg, #08bccd, #2da1f8);
}

$buttonBackground: #2c3e50;
$buttonColor: rgba(255, 255, 255, 1);

.sk-text {
  font-family: ProximaNovaRegular;
  font-size: 18px;
  line-height: 1.89;
  color: #fff;
  user-select: none;
  cursor: default;
}

.sk-hyperlink {
  cursor: pointer !important;
  color: #08bccd;
  text-decoration: none;
  z-index: 1;
  user-select: none;
  outline: none;

  &:hover {
    color: #5ba3d6 !important;
  }
}

// TODO -- move
.setup-layout-wrapper {
  position: relative;

  &:before {
    position: absolute;
    background-image: url('../../assets/images/bgs/layouts/swirl-top-left.svg'), url('../../assets/images/bgs/layouts/swirl-bottom-right.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    content: "";
    width: 100%;
    height: 100%;
  }
}
