@import 'variables.scss';
@import 'helpers.scss';
@import 'reset.scss';
@import '../../../../node_modules/angular-material/angular-material.scss';

@import './mixins/reset.scss';

@import './components/sk-loading.scss';
@import './components/sk-box.scss';
@import './components/sk-button.scss';
@import './components/sk-icon-button.scss';
@import './components/sk-deviders.scss';
@import './components/sk-message.scss';
@import './components/sk-show-loading.scss';
@import './components/sk-form-inputs.scss';
@import './components/sk-list.scss';
@import './components/sk-linear-progress.scss';
@import './components/sk-form.scss';
@import './components/sk-user-info.scss';
@import './components/sk-right-sidenav.scss';
@import './components/sk-table.scss';
@import './components/sk-dropdown-menu.scss'; // TODO - change prefix of file to md (actually it is realod of md styles)

@import './components/md-select.scss';
@import './components/md-tooltip.scss';
@import './components/md-sidenav.scss';
@import './components/md-content.scss';
@import './components/md-input.scss';
@import './components/md-button.scss';
@import './components/md-toast.scss';
@import './components/md-radio-group.scss';

@import './panels/id-attribute-delete-panel.scss';

@import './directives/sk-token-box.scss';
@import './directives/sk-custom-token-box.scss';
@import './directives/sk-send-token.scss';
@import './directives/sk-icon.scss';
@import './directives/sk-circle-pie-chart.scss';
@import './directives/sk-user-info-box.scss';
@import './directives/copy-to-clipboard.scss';

@import './layouts/guest-layout.scss';
@import './layouts/member-layout.scss';

@import './views/dashboard/main.scss';
@import './views/wallet/manage-token.scss';

@import './dialogs/terms.scss';
@import './dialogs/startup-guide.scss';
@import './dialogs/receive-token.scss';
@import './dialogs/send-token.scss';
@import './dialogs/password-warning.scss';
@import './dialogs/info-dialog.scss';
@import './dialogs/id-wallet-info.scss';
@import './dialogs/id-attributes/add-edit-document';
@import './dialogs/id-attributes/add-edit-static-data';
@import './dialogs/id-attributes/add-id-attribute';
@import './dialogs/id-attributes/forms/address';
@import './dialogs/id-attributes/forms/country';
@import './dialogs/id-attributes/forms/birth-date';
@import './dialogs/edit-custom-token.scss';
@import './dialogs/add-custom-token.scss';
@import './dialogs/new-erc20-token-info.scss';

@import './views/guest/create/step-1.scss';
@import './views/guest/create/step-2.scss';
@import './views/guest/create/step-3.scss';
@import './views/guest/create/step-4.scss';
@import './views/guest/create/step-5.scss';
@import './views/guest/create/step-6.scss';

@import './views/member/setup/layout.scss';
@import './views/member/setup/checklist.scss';
@import './views/member/setup/add-document.scss';

@import './views/member/dashboard/sk-my-cryptos-box.scss'; // todo - rename (circle-pie-chart)

@import './views/member/id-wallet/main.scss';

.bg-gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(213, 234, 241)), color-stop(1, rgb(223, 227, 226)));
    background: -moz-linear-gradient(top, #4a0c6b 0%, #669966 100%); /* FF3.6+ */
    background: -moz-linear-gradient(top, rgba(213, 234, 241, 1) 0%, rgba(223, 227, 226, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(213, 234, 241, 1) 0%, rgba(223, 227, 226, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5eaf1', endColorstr='#dfe3e2', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #d5eaf1 0%, #dfe3e2 100%); /* W3C */
}

.gradient-1 {
    background-image: linear-gradient(121deg, #2b3540, #1e262e);
}

.gradient-3 {
    background-image: linear-gradient(274deg, #08bccd, #2da1f8);
}

$buttonBackground: #2c3e50;
$buttonColor: rgba(255, 255, 255, 1);

.sk-text {
    font-family: ProximaNovaRegular;
    font-size: 18px;
    line-height: 1.89;
    color: #fff;
    user-select: none;
    cursor: default;
}

.sk-hyperlink {
    cursor: pointer !important;
    color: #08bccd;
    text-decoration: none;
    z-index: 1;
    user-select: none;
    outline: none;

    &:hover {
        color: #5ba3d6 !important;
    }
}

.no-transaction-title {
  font-family: ProximaNovaRegular;
  font-size: 18px;
  font-weight: 300;
  color: #93b0c1;
  margin-top: 30px;
}

.dashboard-content-wrappper .transactions-box-body,
.wallet-manage-token-wrappper .body-content {
  .list {
    margin-top: 20px;
    .list-item {
        padding: 6px 0;
        >hr {
            color: #303c49;
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #303c49;
            width: 100%;
            margin: 36px 0;
        }
        .item-container {
            position: relative;
            .date {
                font-family: ProximaNovaRegular;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #93a4af;
                display: inline-grid;
                text-align: center;
                >span {
                    font-size: 18px;
                    font-family: ProximaNovaRegular;
                    font-size: 18px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    width: 100%;
                }
            }
            .sent-receive {
                font-family: ProximaNovaRegular;
                font-size: 16px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 2em;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
                margin-left: 20px;
            }
            .no-margins {
              margin: 0 !important;
            }
            .symbol {
              &.ETH {
                color: #aa3de9;
              }
              &.QEY {
                color: #13b4da;
              }
            }
            .sent-receive-text {
                font-family: ProximaNovaRegular;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                margin-left: 9px;
                color: #ffffff;
                line-height: 2em;
                max-width: 60%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &.aqua-blue {
                    color: #0dc7dd;
                }
                &.squash {
                    color: #f5a623;
                }
                &.grey {
                  font-size: 16px;
                  font-weight: 500;
                  color: #93b0c1;
                }
            }
            .coin-change {
                font-family: ProximaNovaRegular;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 2em;
                letter-spacing: normal;
                text-align: right;
                color: #ffffff;
                position: absolute;
                right: 0;
                &.aqua-blue {
                    color: #0dc7dd;
                }
                &.squash {
                    color: #f5a623;
                }
            }
        }
    }
  }
}
