div(layout-fill, layout="column", layout-align="center center")
    img(src="assets/images/icons/important.svg", alt="")
    .sk-box.shadowed(style="width: 780px; margin-top: 50px;")
        .header
            span(style="user-select: none;") Import Wallet
        .content(layout="column", style="padding: 24px;")
            div(layout="row", ng-if="$root.wallet")
                span.sk-text(style="user-select: none;") if the following public key not belongs to you try
                a.sk-hyperlink.sk-text(style="user-select: none;", ng-click="selectKystoreJsonFile($event)") &nbsp;import&nbsp;
                span.sk-text(style="user-select: none;") your one.
            .sk-button.filled-blue(style="margin: 24px 0 12px 0;", ng-click="selectKystoreJsonFile($event)", ng-if="!$root.wallet")
                span(style="color: #fff") Select your keystore file (UTC / JSON)
            .sk-input-container(style="margin: 12px 0 12px 0;")
                input.sk-input(type="text", name="publicKey", ng-if="$root.wallet", value="{{$root.wallet.getAddress()}}", disabled)
            .sk-button.filled-blue(style="margin: 24px 0 12px 0;", ng-if="$root.wallet", ui-sref="guest.process.unlock-keystore")
                span(style="color: #fff") Continue
            .sk-button.outline-blue(style="margin: 12px 0 48px 0;", ui-sref="guest.welcome")
                span(style="color: #fff") back