.id-wallet-main
    .center-container(layout="column", layout-align="start center")
        .header-wrapper(ng-click="addIdAttribute($event)")
            span SelfKey Identity Wallet
            md-icon(md-svg-src="assets/images/icons/plus.svg")

        .body-wrapper(layout="row", layout-align="start start")
            .left-side-wrapper(layout="column")
                .id-attributes(layout="column")
                    sk-id-attribute(ng-repeat="item in idAttributesList", id="{{item.type}}", data="item", config="idAttrbuteConfig")

            .right-side-wrapper(style="width: 350px !important; margin-left: 30px;")
                sk-user-info-box
