.kyc-dialog-container {
    background-color: #ffffff;
    padding: 0;

    > .header {
        padding: 16px 0 16px 0;
        background-color: #29303A;
        color: #fff;
        
        > .title {
            font-weight: 500;
        }
    }

    > .body {
        
    }

    > .actions {
        border-top: 1px solid #29303A;
        padding: 8px;
    }
}