.sk-icon {
    width: 36px;
	height: 36px;
	object-fit: contain;
    opacity: 0.6;
    font-family: monospace !important;

    > img {
        width: 36px;
        height: 36px;

        &.small {
            width: 12px !important;
            height: 12px !important;    
        }
    }

    &.small {
        width: 12px !important;
        height: 12px !important;    
    }
}