.sk-linear-progress {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
    position: relative;
    background-color: #414f63;
    .fill {
        height: 4px;
        border-radius: 2px;
        background-image: linear-gradient(to left, #2bb415, #5ad946);
      }

    overflow: hidden;
    .loader {
      &:before{
        content:          '';
        position:         absolute;
        background-image: linear-gradient(to left, #2bb415, #5ad946);
        top:              0;
        left:             0;
        bottom:           0;
        will-change:      left, right;
        animation:        indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      }
      &:after {
        content:          '';
        position:         absolute;
        background-image: linear-gradient(to left, #2bb415, #5ad946);
        top:              0;
        left:             0;
        bottom:           0;
        will-change:      left, right;
        animation:        indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation-delay: 1.15s;
      }
    }
  
  @keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%;
    }
    60% {
      left: 100%;
      right: -90%;
    }
    100% {
      left: 100%;
      right: -90%;
    }
  }
  
  @keyframes indeterminate-short {
    0% {
      left: -200%;
      right: 100%;
    }
    60% {
      left: 107%;
      right: -8%;
    }
    100% {
      left: 107%;
      right: -8%;
    }
  }
   
  @-webkit-keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%;
    }
    60% {
      left: 100%;
      right: -90%;
    }
    100% {
      left: 100%;
      right: -90%;
    }
  }
  
  @-webkit-keyframes indeterminate-short {
    0% {
      left: -200%;
      right: 100%;
    }
    60% {
      left: 107%;
      right: -8%;
    }
    100% {
      left: 107%;
      right: -8%;
    }
  }

  @-moz-keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%;
    }
    60% {
      left: 100%;
      right: -90%;
    }
    100% {
      left: 100%;
      right: -90%;
    }
  }
  
  @-moz-keyframes indeterminate-short {
    0% {
      left: -200%;
      right: 100%;
    }
    60% {
      left: 107%;
      right: -8%;
    }
    100% {
      left: 107%;
      right: -8%;
    }
  }
}