.sk-message {
    border-radius: 4px;
    padding: 12px;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;

    > span {
        margin: 0 12px 0 12px;
        font-family: ProximaNovaRegular;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
    }

    &.info {
        background-image: linear-gradient(274deg, #08bccd, #2da1f8);
    }

    &.fade-out {
        transition: .5s;
        opacity: 0;
    }

    &.fade-in {
        transition: 1.5s;
        opacity: 1;
    }

}

