.slider {
  position: relative;
  text-align: left;
  border: 1px solid gray;
  height: 0.6em;
}

.slider .handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  background-color: gray;
}

.handle {
  top: -0.3em;
  margin-left: -0.6em;
}

.slider .range {
  position: absolute;
  z-index: 1;
  display: block;
  font-size: .7em;
  background-color: red;
  top: 0;
  height: 100%;
}