.slider {
  position: relative;
  text-align: left;
  /*border: 6px solid #27313b;*/
  height: 1em;
  background: #27313b !important;
  width: 300px;
  .handle {
    position: absolute;
    z-index: 2;
    width: 0.5em;
    height: 2.2em;
    background-color: #08bccd;
    border-radius: 10px;
  }
}

.handle {
  top: -0.6em;
  /* margin-left: -0.6em;*/
}

.slider .range {
  position: absolute;
  z-index: 1;
  display: block;
  font-size: .7em;
  background-color: #27313b;
  top: 0;
  height: 100%;
}