.sk-show-loading {

  > .loading {
    > span {
      animation-name: blink;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;

      &:nth-child(2) {
        animation-delay: .2s;
      }
      &:nth-child(3) {
        animation-delay: .4s;
      }
    }
  }
}

