div(layout-fill, layout="column", layout-align="center center")

    div(layout="column", layout-align="center start", style="width: 45%;")
        .sk-blue-header-text Welcome to SelfKey
        .sk-text We’ll need some basic information from you to get setup.
        .sk-text Please have these items ready.

    #message-container(layout="column", layout-align="center center" style="width: 45%; height: 48px;")

    .sk-box.shadowed(style="width: 45%;")
        .content(name="basicInfoForm", layout="column", style="padding: 24px;")
            .sk-text.header ID Wallet Checklist
            .sk-text.sub-header If you’re not ready, you can do this later.

            .sk-list(style="margin-top: 28px;")
                .item
                    .bullet
                        img(src='assets/images/icons/tick.svg', ng-if="$root.initialSetupProgress['full-name']")
                        span(ng-if="!$root.initialSetupProgress['full-name']") 1
                    span Full Name

                .item
                    .bullet
                        img(src='assets/images/icons/tick.svg', ng-if="$root.initialSetupProgress['email']")
                        span(ng-if="!$root.initialSetupProgress['email']") 2
                    span Email

                .item
                    .bullet
                        img(src='assets/images/icons/tick.svg', ng-if="$root.initialSetupProgress['phone-number']")
                        span(ng-if="!$root.initialSetupProgress['phone-number']") 3
                    span Phone Number

                .item
                    .bullet
                        span 4
                    span Passport

                .item
                    .bullet
                        span 5
                    span National ID

                .item
                    .bullet
                        span 6
                    span Utility Bill

        div(layout="row", layout-align="center center", style="margin: 0 24px 24px 24px;")
            .sk-button.outline-blue(flex="70", ng-click="nextStep($event, basicInfoForm)")
                span(style="color: #0dc7dd") Add More Details

            .sk-hyperlink.sk-text(style="color: #fff; text-align: center; user-select:none", flex="30") I'm not ready