div(layout-fill, layout="column", layout-align="center center")
    img(src="assets/images/icons/selfkey.svg", alt="")
    .sk-white-header-text(style="margin-top: 24px; user-select: none;") selfkey
    .sk-blue-subheader-text(style="margin-top: 12px; user-select: none;") blockchain identitiy wallet

    #message-container(layout="column", layout-align="center center" style="width: 40%; height: 48px;")

    .sk-box.shadowed(style="width: 40%;")
        .header
            span.none-select-text Create Basic Template
        form.content(name="basicInfoForm", layout="column", style="padding: 24px;")
            .sk-input-container(style="margin: 12px 0 12px 0; user-select: none;")
                label {{$root.INITIAL_ID_ATTRIBUTES.REQ_1}}
                input.sk-input(type="text", name="fullName", ng-model="$root.initialSetupProgress[$root.INITIAL_ID_ATTRIBUTES.REQ_1].value")
            .sk-input-container(style="margin: 12px 0 12px 0; user-select: none;")
                label {{$root.INITIAL_ID_ATTRIBUTES.REQ_2}}
                input.sk-input(type="text", name="email", ng-model="$root.initialSetupProgress[$root.INITIAL_ID_ATTRIBUTES.REQ_2].value")
            .sk-input-container(style="margin: 12px 0 12px 0 ;user-select: none;")
                label {{$root.INITIAL_ID_ATTRIBUTES.REQ_3}}
                input.sk-input(type="text", name="phoneNumber", ng-model="$root.initialSetupProgress[$root.INITIAL_ID_ATTRIBUTES.REQ_3].value")

            .sk-button.filled-blue(style="margin: 12px 0 12px 0;", ng-click="nextStep($event, basicInfoForm)")
                span(style="color: #fff; user-select: none;") Create Basic Template
    .sk-hyperlink.sk-text(style="margin-top: 32px; color: #fff;", ng-click="$root.skipInitialIdAttributesSetup($event)") I'll do that later

