.keystore-import-main-container {
	> * {
	}
	.input-title {
		opacity: 0.8;
		font-size: 18px;
		line-height: 1.4;
		color: #ffffff;
		padding-bottom: 12px;
	}
	.right-side {
		width: 200px;
	}
	.pt-20 {
		padding-top: 30px;
	}
	.md-button {
		width: 190px;
		height: 44px;
	}
	.pr-40 {
		padding-right: 40px;
	}

	$input-width: 420px;
	.input-width {
		width: $input-width;
	}
	form {
		md-input-container,
		.md-input-container {
			width: $input-width;
			margin: 0;
			padding: 0;
		}
	}
}
