.keystore-layout-wrapper {
	.logo-container {
		margin-bottom: 35px;
		padding-right: 25px;
		padding-left: 25px;
	}
	.logo-title {
		margin-top: 5px;
		user-select: none;

		font-size: 18px;
		line-height: 1.72;
		color: #ffffff;
		text-transform: uppercase;
	}
	.option-item-container {
		height: 130px;
		position: relative;
		.title-container {
			.title {
				opacity: 0.83;
				text-align: center;

				font-size: 16px;
				color: #ffffff;
				line-height: 1.5em;
			}
		}
	}
	.main-view-container {
		height: 270px;
	}

	.content {
		$padding: 35px;
		padding: $padding 25px;
		.content-wrapper {
			padding-bottom: $padding;
		}
	}
}
