.private-key-import-main-container {
	> * {
		font-family: ProximaNovaRegular;
	}
	width: 80%;
	form {
		width: 100%;
		md-input-container,
		.md-input-container {
			width: 100%;
			line-height: 40px;
		}
	}
	.title {
		opacity: 0.8;
		font-size: 18px;
		line-height: 1.4;
		color: #ffffff;
		text-align: center;
		&.warning {
			font-style: italic;
			padding-top: 15px;
		}
	}
	.md-button {
		width: 260px !important;
		&.show-password {
			width: 50px !important;
			margin-left: 5px;
			height: 20px;
			padding: 0px 5px;
			line-height: 20px;
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}
		}
	}
	.sk-input-box > input {
		width: 520px;
	}
}
