h3.uppercase.color-primary MY KEYS

.kyc-box.md-whiteframe-3dp.margin-top-3
    .section-horizontal
        .item
            .header Account Type
        .item
            .value Ethereum
    .section-vertical
        .item
            .header Account Address
        .item
            .value.small-font.text-align-center 0xc754e9a7d0b04c00614a863aaa002735a4ed6e78
    .section-horizontal
        .item
            .header Amount
            .value 0
        .item
            .header Signed
            .value
                .text-align-left.color-secondary.uppercase yes

.kyc-box.md-whiteframe-3dp.margin-top-3
    .section-horizontal
        .item
            .header Account Type
        .item
            .value Bitcoin
    .section-vertical
        .item
            .header Account Address
        .item
            .value.small-font.text-align-center 3CCCXfH874ronv1uGKkCMDgW2ffLBQScro
    .section-horizontal
        .item
            .header Amount
            .value 70.1
        .item
            .header Signed
            .value
                .text-align-left.color-red.uppercase no
.kyc-button.primary.margin-top-3(layout="row", layout-align="center center") 
    span.margin-right-2 Open new cryptocurrency exchange account
    i.material-icons add_circle
