md-dialog(aria-label="Add edit document", style="min-width: 60%;")
    md-dialog-content
        .kyc-dialog-container(layout="column")
            .header
                .title {{document.id ? 'Edit Document': 'Add document'}}
            .body(style="max-height: 300px;", layout="column", layout-align="center center")
                form(name="documentForm", layout="column")
                    select(name="type", ng-model="document.type")
                        option Passport
                        option ID Card
                    input(type="text", name="name", ng-model="document.name")
                    div(layout="row")
                        input(type="radio", name="privacy", value="0", ng-model="document.privacy")
                        span Public
                    div(layout="row")
                        input(type="radio", name="privacy", value="1", ng-model="document.privacy")
                        span Private
                    div(layout="row")
                        input(type="checkbox", name="default", value="1", ng-model="document.isDefault")
                        span Is Default
                    .kyc-button.primary(style="margin-right: 8px;", ng-click="chooseFile($event)") Choose File
                    span(ng-if="filePath") {{filePath}}

            .actions(layout="row", layout-align="center center")
                .kyc-button.primary(style="margin-right: 8px;", ng-click="save($event)") Save
                .kyc-button.primary(style="margin-left: 8px;", ng-click="cancel($event)") Cancel
