md-dialog(aria-label="Test Signature", style="min-width: 60%;")
    md-dialog-content
        .kyc-dialog-container(layout="column")
            .header(layout="row", layout-align="center center")
                .title Test Signature
            .body.md-padding(style="max-height: 300px;", layout="column", layout-align="center center")
                form.full-width(name="documentForm", layout="column")
                    md-input-container
                        label Certificate Password
                        input(name="certificatePassword", ng-model="certificatePassword")
                    
                    div(layout="row", layout-align="center center", ng-if="certificateFilePath")
                        span {{certificateFilePath}}
                        .kyc-link(layout="row", layout-align="center center", ng-click="chooseCertificateFile($event)")
                            i.material-icons(style="font-size: 19px;") edit
                    .kyc-button.primary(style="margin-right: 8px;", ng-click="chooseCertificateFile($event)", ng-if="!certificateFilePath") Choose Certificate File

                    div(layout="row", layout-align="center center", ng-if="inputPdfFilePath")
                        span {{inputPdfFilePath}}
                        .kyc-link(layout="row", layout-align="center center", ng-click="chooseInputPdfFile($event)")
                            i.material-icons(style="font-size: 19px;") edit
                    .kyc-button.primary(style="margin-right: 8px;", ng-click="chooseInputPdfFile($event)", ng-if="!inputPdfFilePath") Choose Sign Pdf File

                    div(layout="row", layout-align="center center", ng-if="outputPdfDirectoryPath")
                        span {{outputPdfDirectoryPath}}
                        .kyc-link(layout="row", layout-align="center center", ng-click="chooseOutputPdfDirectory($event)")
                            i.material-icons(style="font-size: 19px;") edit
                    .kyc-button.primary(style="margin-right: 8px;", ng-click="chooseOutputPdfDirectory($event)", ng-if="!outputPdfDirectoryPath") Choose Output Pdf Directory

            .actions(layout="row", layout-align="center center")
                .kyc-button.primary(style="margin-right: 8px;", ng-click="save($event)") Save
                .kyc-button.primary(style="margin-left: 8px;", ng-click="cancel($event)") Cancel
