.ico-list-item-content-wrappper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 80px;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 40px;
    .ico-list-item-content-wrappper__header-section {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-color: #2a3540;
        border-radius: 4px;
        box-shadow: inset 0 -1px 0 0 #374758;
        padding: 5px 20px;
        .logo {
            .logo-text {
                font-family: ProximaNovaRegular;
                font-size: 24px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.25;
                letter-spacing: normal;
                text-align: left;
                color: #fff;
                margin-left: 10px;
                >span {
                    font-size: 16px;
                }
            }
        }
        
        .status-container {
            font-family: ProximaNovaRegular;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: right;
            padding: 20px 0;

            &.orange {
              color: #f5a623;

              > span {
                background-color: #f5a623;
              }
            }

            &.red {
              color: red;

              > span {
                background-color: red;
              }
            }
            
            &.green {
              color: green;

              > span {
                background-color: green;
              }
            }

            > span {
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 100px;
                margin-left: 10px;
            }
        }
    }
    .ico-list-item-content-wrappper__content-section {
        background-color: #262f39;
        border: solid 1px #303c49;
        >hr {
            color: #303c49;
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #303c49;
            width: 90%;
        }
        .main-content {
            .video-container {
                width: 470px;
                padding: 30px;
                .video {
                    >iframe {
                        border: none;
                    }
                }
                .video-text {
                    margin-top: 15px;
                    font-family: ProximaNovaRegular;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.75;
                    letter-spacing: normal;
                    text-align: left;
                    color: #fff;
                }
            }
            .token-sale-container {
                .text-1 {
                    font-family: ProximaNovaRegular;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.71;
                    letter-spacing: 0.6px;
                    text-align: center;
                    color: #ffffff;
                    display: inline-grid;
                    margin-top: 30px;
                }
                .text-2 {
                    font-family: ProximaNovaRegular;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.71;
                    letter-spacing: 0.6px;
                    text-align: center;
                    color: #ffffff;
                    margin-top: 20px;
                    display: inline-grid;
                }
                .buttons-container {
                    padding: 20px;
                    display: inline-grid;
                    .complete-button {
                        font-family: ProximaNovaRegular;
                        font-size: 16px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.5;
                        letter-spacing: 0.7px;
                        text-align: center;
                        color: #ffffff;
                        background-image: linear-gradient(318deg, #db9218, #f5a623);
                        box-shadow: 0 2px 2px 0 #15222e;
                        border: solid 1px #f5a623;
                        height: 40px;
                        outline: none;
                        border-radius: 4px;
                    }
                    .join-button {
                        font-family: ProximaNovaRegular;
                        font-size: 16px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.5;
                        letter-spacing: 0.7px;
                        text-align: center;
                        color: #ffffff;
                        background-image: linear-gradient(318deg, #08bccd, #2da1f8);
                        box-shadow: 0 2px 2px 0 #15222e;
                        border: solid 1px #2da1f8;
                        height: 40px;
                        outline: none;
                        border-radius: 4px;
                    }
                    .join-ico-button {
                        font-family: ProximaNovaRegular;
                        font-size: 16px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.5;
                        letter-spacing: 0.7px;
                        text-align: center;
                        color: #ffffff;
                        background-image: linear-gradient(to bottom, #b4ec51, #429321);
                        box-shadow: 0 2px 2px 0 #15222e;
                        border: solid 0 #429321;
                        height: 40px;
                        outline: none;
                        border-radius: 4px;
                    }
                    .gray-button {
                        border-radius: 4px;
                        background-color: #2a3540;
                        box-shadow: 0 2px 2px 0 #15222e;
                        font-family: ProximaNovaRegular;
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.71;
                        letter-spacing: 0.6px;
                        text-align: center;
                        color: #ffffff;
                        border-color: transparent;
                        margin-top: 10px;
                        outline: none;
                    }
                }
            }
        }
        .token-sale-content {
            padding: 30px;
            .token-sale-text {
                font-family: ProximaNovaRegular;
                font-size: 18px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.8;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
            }
            .token-sale-lists {
                .list-1 {
                    font-family: ProximaNovaRegular;
                    font-size: 13px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2.75;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                    list-style-type: none;
                    padding-left: 0;
                    >li {
                        padding-top: 2px;
                    }
                }
            }
        }
        >.sk-kyc-requirements-box {
            padding: 30px;
        }
    }
}

.background-color-squash {
    background-color: #f5a623 !important;
}