
.ico-list-content-wrappper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    /*padding-top: 80px;*/
    // TODO
    .ico-list-content {
        .toolbar {
            position: fixed;
            z-index: 100;
            width: 100%;
            border-radius: 4px;
            background-color: #262f39;
            border: solid 1px #303c49;
            background-image: linear-gradient(to bottom, #27313b, #1e262e);
            box-shadow: inset 0 -1px 0 0 #303c49;
            .contents{
                height: 76px;
                border-radius: 4px;
                background-color: #262f39;
                box-shadow: inset 0 -1px 0 0 #303c49;
                .content {
                    height: 100%;
                    align-items: center;
                    .top {
                        .logo{
                            display: inline-flex;
                            vertical-align: middle;
                            line-height: 44px;
                        }
                    }
                    .statusName {
                        /*padding: 0 130px 0 0;*/
                        font-size: 17px;
                    }
                }

            }

        }
        .ico-list-items{
            margin-top: 150px;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            flex-direction: row;
            justify-content: center;
            .sk-box{
                position: relative;
                display: inline-block;
                border-radius: 4px;
                background-color: #262f39;
                border: solid 1px #303c49;
                /*width: 19.5rem;*/
                width: 18.5rem;
                margin: 1rem;
            }
        }
    }
}   