.ico-manage-requirements-content-wrappper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > #message-container {
        @include reset(div);

        width: 1140px;
        height: 48px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    > .section {
        @include reset(div);

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        > .left {
            display: flex;
            flex-direction: column;
            min-width: 760px;
            max-width: 760px;
        }

        > .right {
            display: flex;
            flex-direction: column;
            min-width: 350px;
            max-width: 350px;
            margin-left: 30px;
        }
    }
    
}