style
    | .profile-image-{{randomClassSuffix}}:before { background-image: url({{imageUrl}}); background-size: cover; }
.hexagon-2.left-sidebar(ng-class="profileImageClass", ng-if="mode === 'sidebar'")
.hexagon-1(ng-class="profileImageClass", ng-if="mode === 'toolbar'")