.sk-circle-pie-chart(layout="row")
    .chart-parent
        div(id="chart")
        div(id="labelOverlay")
            .tolalPrice 15454,45454.4
            .totalPriceTitle Total Value USD
    div
        .item(layout="row")
            .logo
            .title 
                .titleFull Basic Attrention
                .titleSmall omg
            .value 184.454
        .item(layout="row")
            .logo
            .title 
                .titleFull Basic Attrention
                .titleSmall omg
            .value 184.454
        .item(layout="row")
            .logo
            .title 
                .titleFull Basic Attrention
                .titleSmall omg
            .value 184.454