.sk-box.sk-ico-item-box
    .header.sk-ico-item-box__header
        sk-icon(icon="eth", size-class="icon-size-44x44")
        span {{icoData.companyName}}
        span(style="font-size: 15px; margin-left: 5px;", flex) ({{icoData.category}})
        span.dot(ng-class="{'active': icoData.status === 'active', 'inactive': icoData.status === 'finished', 'upcoming': icoData.status === 'upcoming' }")

    .sk-ico-item-box__content(flex)
        .description.fc-white
            p {{icoData.shortDescription}}
            .price.fc-white
                span.fc-turquoise-blue {{icoData.capital.raised}} &nbsp; of &nbsp; {{icoData.capital.goal}}

    // TODO - change url later
    .sk-ico-item-box__footer
        .sk-button.small(ui-sref="member.marketplace.ico-item({id: icoData.ticker})")
            span view

        span.days 28 Days Left
