.sk-box.sk-ico-box
    .header.sk-ico-box__header
        sk-icon(icon="{{icoData.icon}}", size-class="icon-size-44x44")
        span {{icoData.title}}
        span(style="font-size: 15px; margin-left: 5px;") ({{icoData.category}})
        span.dot(ng-class="{'active':icoData.status === 'active','inactive':icoData.status === 'inactive' }")

    .sk-ico-box__content
        .description.fc-white
            p {{icoData.description}}
            .price.fc-white
                span.fc-turquoise-blue {{icoData.partialSupply}}&nbsp;
                |     of &nbsp;{{icoData.totalSupply}}



    .sk-ico-box__footer
        .sk-button.small
            span view

        span.days &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{icoData.daysLeft}} Days Left
