.sk-kyc-requirements-box
    .title KYC Requirements
    .content(layout="row")
        .sk-list(flex="33", style="margin-top: 20px;", ng-repeat="section in sections")
            .item(ng-repeat="item in section")
                .bullet(ng-class="{'background-color-squash': !progress[item]}")
                    img(src='assets/images/icons/tick.svg', ng-if="progress[item]")
                    span(ng-show="!progress[item]") {{ ($parent.$index + 1) + $index + ($parent.$index * 2) }}
                span {{ item }}
                sk-icon(icon="upload", size-class="icon-size-16x16", style="margin-left: 34px", ng-if="1 === 2")