.sk-kyc-requirements-box
    .title KYC Requirements
    .content(layout="row")
        .sk-list(flex="33", style="margin-top: 20px;", ng-repeat="section in sections", ng-if="requirementsListPromise.$$state.status === 1")
            .item(ng-repeat="item in section")
                .bullet(ng-class="{'background-color-squash': !progress[item.key]}")
                    img(src='assets/images/icons/tick.svg', ng-if="progress[item.key]")
                    span(ng-show="!progress[item.key]") {{ ($parent.$index + 1) + $index + ($parent.$index * 2) }}
                span {{ item.key }}
                sk-icon(icon="upload", size-class="icon-size-16x16", style="margin-left: 34px", ng-if="1 === 2")
        .sk-show-loading(style="color: #0dc7dd;", ng-if="!requirementsListPromise.$$state.status === 0")
            | Loading
            span .
            span .
            span .
        
        span(ng-if="requirementsListPromise.$$state.status === 2") Error while loading kyc requirements