.sk-message(ng-class="[type, sizeClass]")
    sk-icon(icon="info-icon", size-class="small")
    span(flex) {{message}}
    .sk-icon-button
        sk-icon(icon="close-button", size-class="small", ng-click="close($event)")
        sk-icon(icon="close-button", size-class="small", ng-click="close($event)")