.sk-box.sk-reminder-box(style="padding: 30px; width: 600px;")
    .sk-reminder-box__title Reminders
    .sk-reminder-box__item(ng-repeat="item in data")
        .sk-reminder-box__item__header
            .sk-reminder-box__item__header__date
                span.fc-bluey-grey {{item.month}}
                span.fc-bluey-grey {{item.day}}
            sk-icon(icon="{{item.type}}", size-class="icon-size-36x36")
            .sk-reminder-box__item__header__text(flex)
                span(ng-class="{'fc-turquoise-blue': item.type === 'reminder', 'fc-greeny-blue': item.type === 'notification'}") {{item.text}}