.sk-box.sk-wallet-general-info-box.sk-wallet-document-box(style="width: 600px; margin-bottom: 20px")
    .name-section
        input(type="text")
    .upload-section
        .section-title Upload your drivers license
        .file-select
            img(src="assets/images/icons/upload.svg")
            .selector-name your drivers license
            .selector-hint (Minimal size 1600x900px)
        .progress
            img(src="assets/images/icons/hard-drive.svg")
            .progress-bar
            .selector-name your drivers license
            .selector-hint (Minimal size 1600x900px)
