.sk-box.sk-id-attribute-box
    .default-wrapper(ng-if="data.viewState === 'default'")
        .header
            .title(flex) {{data.title}}
            .plus-button(ng-click="changeMode('add-edit')")
                img(src="assets/images/icons/plus.svg", alt="add", style="width: 100%")

        .description
            table(ng-if="data.subtitle")
                tr
                    td Acceptable documents
                    td
                        span.fc-white {{data.subtitle}}

        .h-divider

        .section(ng-repeat="item in data.idAttributeItems")
            .title {{ item.category }}
            .items-container
                .item
                    sk-icon(icon="{{statuses[item.actionHistory[0].status].icon}}", size-class="icon-size-16x16")
                    .info-wrapper(ng-class="{deletable: item.clicked}")
                        span(ng-click="item.clicked = !item.clicked") {{ item.items[item.defaultItemId].name }}
                        .delete-dialog(ng-if="item.clicked", layout="column")
                            .header Delete Attribute and History
                            .message You are deleting this ID Attribute and all related history. Once deleted you cannot recover history
                            .buttons
                                button.confirm(ng-click="deleteAttribute($index)") Delete attribute
                                button.cancel(ng-click="item.clicked = false") Cancel Action

            .h-divider

            .section(ng-if="data.showHistory")
                .title History
                .items-container
                    table(ng-init="item.attached = { historyRowCount: config.historyRowCount }")
                        tr(ng-repeat="(index, step) in item.actionHistory", ng-show="index < item.attached.historyRowCount") 
                            td.fc-bluey-grey {{step.date | date:'shortDate'}}
                            td.fc-bluey-grey
                                sk-icon(icon="{{statuses[step.status].icon}}", size-class="icon-size-16x16")
                            td
                                span.fc-white {{statuses[step.status].name}} 
                                span.fc-white &nbsp; - &nbsp;
                                span.fc-white {{step.note}}
                                button.transp-button.history-step-action-button(ng-repeat="action in step.actions", ui-sref="{{action.link}}") {{action.title}}

                    .actions-container(ng-if="item.actionHistory.length > 0")
                        button(ng-click="item.attached.historyRowCount = item.attached.historyRowCount < item.actionHistory.length ? item.actionHistory.length : config.historyRowCount") {{ item.attached.historyRowCount < item.actionHistory.length ? 'View All History' : 'View Less History '}}


    .fullscreen-popup(ng-if="data.viewState === 'add-edit'")
        .sk-wallet-document-box-upload-form
            .name-section
                input(type="text", ng-model="attrToAdd.name", placeholder="Document name")
            .upload-section
                .section-title Upload your {{attrToAdd.name}}
                .file-select
                    img(src="assets/images/icons/upload.svg")
                    .selector-name Your {{attrToAdd.name}}
                    .selector-hint (Minimal size 1600x900px)
                .gradient-divider
                .progress
                    img(src="assets/images/icons/hard-drive.svg")
                    .progress-bar
                    .selector-name Connecting your {{attrToAdd.name}}
                    .selector-hint (Minimal size 1600x900px)
            .action-buttons
                button.cancel(ng-click="changeMode('default')") Cancel
                button.save(ng-click="changeMode(1, attrToAdd)") Save
