.wallet-create-step-3 {
    height: 100%;

    > .title {
        margin-top: 24px;
        user-select: none;
        font-family: ProximaNovaSemibold;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff;
    }
    > .description {
        font-family: ProximaNovaRegular;
        margin-top: 18px;
        opacity: 0.8;
        font-size: 18px;
        line-height: 1.89;
        text-align: center;
        color: #0abbd0;
        margin-top: 15px;
        user-select: none;
    }

    .content-wrapper {
        width: 780px;
        margin-top: 50px;

        .content {
            padding: 50px 44px;

            .icon {
                text-align: center;
                margin-bottom: 12px;
            }
            .copy {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 20px;
            }

            >.title {
                &.second {
                    padding-top: 36px;
                    padding-bottom: 42px !important;
                }
                .link {
                    cursor: pointer;
                    outline: none;
                    margin-left: 4px;
                }
                font-family: ProximaNovaRegular;
                font-size: 18px;
                padding-bottom: 34px;
                line-height: 1.72;
                color: #ffffff;
            }
            .blue {
                margin-bottom: 15px;
            }

            .warning-description {
                display: flex;
                flex-direction: column;
                margin-top: 44px;

                >.item {
                    span {
                        font-family: ProximaNovaRegular;
                        font-size: 18px;
                        color: #ffffff;
                        line-height: 1.89;
                        &:first-of-type {
                            font-weight: bold;
                            margin-right: 8px;
                        }
                    }
                }
            }

            .actions-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;

                >.md-button {
                    padding: 10px;
                }
            }
        }
    }
}
