.wallet-create-step-5 {
    height: 100%;
    .header-wrapper {
        width: 600px;
        margin-bottom: 30px;
        color: #ffffff;
        .title {
            font-family: ProximaNovaRegular;
            font-size: 36px;
            line-height: 1;
        }
        .description {
            font-family: ProximaNovaRegular;
            margin-top: 18px;
            opacity: 0.8;
            font-size: 18px;
            line-height: 1.67;
            color: #ffffff;
        }
    }
    .content-wrapper {
        width: 600px;
        background-color: #262f39;
        padding: 20px 0 20px 0;
        .item-wrapper {
            margin: 20px 0 20px 0;
            align-items: flex-start;
            .body {
                margin-left: 20px;

                >*{
                    width: 400px !important;
                }

                .title {
                    opacity: 0.83;
                    font-family: "Sans-Serif";
                    font-size: 21px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.14;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                }
                .text {
                    margin-top: 10px;
                    width: 491px;
                    opacity: 0.8;
                    font-family: "Sans-Serif";
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.63;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                }
                .actions {
                    button {
                        font-family: ProximaNovaSemibold;
                        font-size: 15px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 0.8;
                        letter-spacing: 0.6px;
                        text-align: center;
                        color: #ffffff;
                        text-transform: initial;
                        &.md-raised {
                            width: 320px;
                            height: 50px;
                            border-radius: 4px;
                            background-color: #435160;
                        }
                    }
                }
            }
        }
    }
}
