.wallet-create-step-6 {
	height: 100%;

	.title {
		margin-top: 24px;
		user-select: none;

		font-weight: 600;
		line-height: 1.5;
		letter-spacing: normal;
		color: #ffffff;
	}

	.description {
		margin-top: 18px;
		opacity: 0.8;
		font-size: 18px;
		line-height: 1.89;
		text-align: center;
		color: #ffffff;
		margin-top: 15px;
		user-select: none;
	}

	.content-wrapper {
		margin-top: 30px;
		width: 400px;

		> .content {
			padding: 24px;
			margin-top: 10px;
		}

		md-input-container,
		.md-input-container {
			margin: 14px 0;
			.sk-field-error-tooltip {
				top: -45px;
				left: 122px;
				z-index: 1;
				span {
					color: #ffffff;
					padding: 10px 12px;
					font-size: 16px;
					font-weight: 600;
					line-height: 1.5;
					letter-spacing: 0.3px;
					text-align: left;
				}
			}
			&.md-input-invalid {
				.sk-field-error-tooltip {
					overflow: visible !important;
				}
			}
		}
	}
}
