.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes rotateOut {
    from {
        transform-origin: center;
        transform: none;
    }
    to {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 90deg);
    }
}

@keyframes rotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 90deg);
    }
    to {
        transform-origin: center;
        transform: none;
    }
}

.member-layout {
    >.toolbar {
        background-color: #262f39; //z-index: 100;
        width: 100%;
        min-height: 76px;
        border-bottom: 1px solid #303c49;
        >.logo {
            height: 44px;
            margin-top: 16px;
            margin-bottom: 16px;
            margin-left: 50px;
            cursor: pointer;

            &:hover {
                animation-name: rotateOut;
            }
        }
        >.right {
            height: 76px;
            display: flex;
            align-items: flex-end;
            >.sk-vertical-devider-2 {
                height: 55px;
            }
            >.button-box {
                height: 100%;
                display: flex;
                align-items: center;
                margin-right: 40px;
                margin-left: 40px;
                .sk-token-box__plus {
                    width: 26px !important;
                    height: 26px !important;
                }
            }
            >.crypto-price-box {
                height: calc(100% - 36px);
                padding: 18px 0 18px 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-right: 40px;
                margin-left: 40px;
                >.row {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    margin-top: 4px;
                    >.currency {
                        opacity: 0.7;
                        font-family: ProximaNovaRegular;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        color: #ffffff;
                        margin-right: 6px;
                    }
                    >.value {
                        font-family: ProximaNovaRegular;
                        font-size: 17px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
    >.member-layout__content {
        //margin-top: 76px;
        >.member-layout__content-wrappper {
            >* {
                width: 90%;
            }
            .member-layout__content-header-section {
                margin-top: 80px;
            }
            .member-layout__content-section {
                margin-top: 30px;
                >* {
                    width: 33%;
                    margin-left: 15px;
                    margin-right: 15px;
                }
                .sk-box {
                    &:first-of-type {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
                .sk-tasks-box {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
    }
}