.wallet-content-wrappper(layout="column", layout-align="start center")
    div(layout="column")
        div(layout="column")
            sk-wallet-document-box(data="docBoxData")

        div(layout="column", style="margin-top: 20px;")
            sk-alerts-box
        
        div(layout="column", style="margin-top: 20px;")
            sk-reminders-box

        div(layout="column", style="margin-top: 20px;")
            sk-wallet-history-item
            sk-wallet-history-item
            sk-wallet-history-item
        
        div(layout="column", style="margin-top: 20px;")
            sk-wallet-general-info-box
            
    sk-user-info-box(user-data='{"name":"Andrew Jones","residency":"Valletta Malta","email":"andrew@joonas.com","mobile":"+ 356 345 345","passport":"Malta","nationalId":"Malta Drivers license","utilityBill":"Action Required" }')

