.wallet-content-wrappper(layout="column", layout-align="start center")
    div(layout="column")
        div(layout="column")
            sk-alerts-box
        
        div(layout="column", style="margin-top: 20px;")
            sk-reminders-box

        div(layout="column", style="margin-top: 20px;")
            sk-wallet-history-item
            sk-wallet-history-item
            sk-wallet-history-item
        
        div(layout="column", style="margin-top: 20px;")
            sk-wallet-general-info-box
            
    .sk-box(style="margin-left: 30px; width: 300px; height: 400px; color: white; text-align: center; padding: 20px;")
        | in progress - 

