.wallet-content-wrappper(layout="column", layout-align="start center")
    .sk-box.sk-expandable-box.expended(style="padding: 30px; width: 600px;")
        .sk-box__title ID Wallet History
        .sk-expandable-box__item
            .sk-expandable-box__item__header 
                .sk-expandable-box__item__header__date
                    span.fc-bluey-grey DEC
                    span.fc-bluey-grey 11
                sk-icon(icon="reminder", size-class="icon-size-36x36")
                .sk-expandable-box__item__header__text
                    span.fc-white Applied to Token Sale
                    span.fc-aqua-blue Atlas
            
    div Profile Info





