.wallet-manage-token-wrappper(layout="column", layout-align="start center")
    .header-content
        .logo-section(layout="row")
            sk-icon(icon="{{symbol}}", size-class="icon-size-44x44", style="padding-top:4px")
            .logo-text
                span.text {{name}}
                span.initial {{symbol}}
        .price-section
            span.main-price {{balance}}
            span.secondary-price {{balanceUsd}} USD
        hr
        .coin-address-section
            span.your-address Your {{name}} Address:
            .generated-address(layout="row")
                .address {{publicKeyHex}}
                button.copy-button
                    span COPY
        hr(style="margin-top:32px")
        .buttons-section(layout="row")
            button.action-button(layout="row", ng-click="$root.openReceiveTokenDialog($event, {symbol: symbol, publicKeyHex: publicKeyHex})")
                sk-icon(icon="coins", size-class="icon-size-24x23" style="margin: 13px 17px 14px 18px")
                span.receive RECEIVE
            button.action-button(layout="row", style="margin-left:20px", ng-click="$root.openSendTokenDialog($event, symbol)")
                sk-icon(icon="sent", size-class="icon-size-24x24", style="margin: 12px 14px 14px 32px")
                span.send SEND
    .body-content
        .activity-text Activity
        .list
            .list-item
                .item-container(layout="row")
                    .date DEC
                        span 11
                    sk-icon(icon="paper-plane", size-class="icon-size-34x34", style="margin-left:20px")
                    .sent-receive sent to
                    span.sent-receive-text  Atlas Token Sale
                    .coin-change - 0.34283
                hr
                .item-container(layout="row")
                    .date DEC
                        span 11
                    sk-icon(icon="paper-plane", size-class="icon-size-34x34", style="margin-left:20px")
                    .sent-receive sent to
                    span.sent-receive-text  Atlas Token Sale
                    .coin-change - 0.34283
                hr
                .item-container(layout="row")
                    .date DEC
                        span 11
                    sk-icon(icon="paper-plane", size-class="icon-size-34x34", style="margin-left:20px")
                    .sent-receive sent to
                    span.sent-receive-text  Atlas Token Sale
                    .coin-change - 0.34283
                hr
                .item-container(layout="row")
                    .date DEC
                        span 11
                    sk-icon(icon="paper-plane", size-class="icon-size-34x34", style="margin-left:20px")
                    .sent-receive sent to
                    span.sent-receive-text  Atlas Token Sale
                    .coin-change - 0.34283
            //.list-item
            //    .item-container(layout="row")
            //        .date(flex="5") DEC
            //            span 11
            //        sk-icon(icon="upload", size-class="icon-size-26x26", style="padding-top:2px; text-align:center", flex="10")
            //        .sent-receive(flex="70") sent to Atlas Token Sale
            //        .coin-change(flex="15") - 0.34283
            //    hr
            //.list-item
            //    .item-container(layout="row")
            //        .date(flex="5") DEC
            //            span 11
            //        sk-icon(icon="upload", size-class="icon-size-26x26", style="padding-top:2px; text-align:center", flex="10")
            //        .sent-receive(flex="70") sent to Atlas Token Sale
            //        .coin-change(flex="15") - 0.34283
            //    hr
            //.list-item
            //    .item-container(layout="row")
            //        .date(flex="5") DEC
            //            span 11
            //        sk-icon(icon="upload", size-class="icon-size-26x26", style="padding-top:2px; text-align:center", flex="10")
            //        .sent-receive(flex="70") sent to Atlas Token Sale
            //        .coin-change(flex="15") - 0.34283
            //    hr
